@import "../teacher_page";
@icon-font-path: "../../../common/fonts/";

.main-content{
  padding: 20px;
}

@listItemImgBoxHeight: 160px;
#achievementsList {
  width: 500px;
  .list-group-item{
    margin-bottom: 20px;
    height: 200px;
  }
  .img-box {
    width: 100%;
    height: @listItemImgBoxHeight;
    line-height: @listItemImgBoxHeight;
    overflow: hidden;
    background: #ddd;
    img{
      padding: 5px;
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
}

.btn.btn-small, .btn-small{
  width: 38px;
  height: 22px;
  padding: 0;
  font-size: 12px;
}

// 上传组件
@imgUploadBoxWidth: 141px;
@imgUploadBoxHeight: 119px;
@imgUploadBtnHeight: 30px;
.img-upload-box {
  position: relative;
  min-width: @imgUploadBoxWidth;
  width: @imgUploadBoxWidth;
  height: @imgUploadBoxHeight;
  .img-text {
    position: absolute;
    width: 100%;
    height: @imgUploadBoxHeight - @imgUploadBtnHeight;
    line-height: @imgUploadBoxHeight - @imgUploadBtnHeight;
    overflow: hidden;
    background: #ddd;
    text-align: center;
  }
  .img-box {
    position: absolute;
    width: 100%;
    height: @imgUploadBoxHeight;
    line-height: @imgUploadBoxHeight;
    overflow: hidden;
    background: #ddd;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .img-preview-box {
    display: none;
    position: absolute;
    width: 100%;
    height: @imgUploadBoxHeight;
    line-height: @imgUploadBoxHeight;
    overflow: hidden;
    background: #ddd;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .uploading-hint-box {
    position: absolute;
    display: none;
  }
  .file-input-mask{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @imgUploadBtnHeight;
    line-height: @imgUploadBtnHeight;
    overflow: hidden;
    background-color: rgba(0,0,0,0.07);
    border-radius: 0;
    border: 0;
    input {
      position: absolute;
      top: -16px;
      right: -16px;
      margin: 0;
      width: 100%;
      height: 200px;
      opacity: 0;
      filter: alpha(opacity=0);
      transform: scale(4);
      font-size: 16px;
      direction: ltr;
      cursor: pointer;
      color: transparent;
    }
  }
}