{% extends "teacher/teacher_frame.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}
    提分榜
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" href="{% static 'teacher/less/certificate/certificate.less'|compile %}">
    <link rel="stylesheet" href="{% static 'teacher/less/highscore/highscore.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'common/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'teacher/js/highscore/hiscore.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <span class="title">个人设置</span>
    &gt;
    <span>提分榜</span>
{% endblock %}

{% block maincontent %}
    {% csrf_token %}
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                <input type="checkbox" name="checkboxSelectAll" id="checkboxSelectAll">
            </th>
            <th>
                学生姓名
            </th>
            <th>
                辅导期间提分
            </th>
            <th>
                所在学校
            </th>
            <th>
                考入学校
            </th>
        </tr>
        {% for highscore in highscores %}
        <tr>
            <td>
                <input type="checkbox" name="checkboxSelect" value="{{highscore.id}}">
            </td>
            <td>
                {{highscore.name}}
            </td>
            <td>
                {{highscore.increased_scores}}
            </td>
            <td>
                {{highscore.school_name}}
            </td>
            <td>
                {{highscore.admitted_to}}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="bottom-btn">
        <input type="button"  data-toggle="modal" id="addHighscore" value="添加" class="btn btn-primary">
        <input type="button" name="delHighscore" id="delHighscore" value="删除" class="btn btn-default">
    </div>

    <div id="addItemsModal" class="modal fade in add-item-modal">
        <div class="modal-body">
            <form class="form-horizontal">
                <input type="hidden" id="teacherId" value="{{teacher.id}}" />
              <fieldset>
                <legend>添加新内容</legend>
                <div class="control-group">
                  <label class="control-label" for="stname">学生姓名</label>
                  <div class="controls">
                    <input type="text" class="input-xlarge" id="stname">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inscore">辅导期间提分</label>
                  <div class="controls">
                    <input type="number" class="input-xlarge" id="inscore">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="schoolname">所在学校</label>
                  <div class="controls">
                    <input type="text" class="input-xlarge" id="schoolname">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="admittedTo">考入学校</label>
                  <div class="controls">
                    <input type="text" class="input-xlarge" id="admittedTo">
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <input type="button" id="saveNewItem" value="保存" class="btn btn-primary">
            <input type="button" value="关闭" data-dismiss="modal" class="btn btn-default">
        </div>
    </div>
{% endblock %}
