{% extends "teacher/teacher_base.html" %}
{% load staticfiles %}
{% load compile_static %}
{% block title %}
    给家长的信件
{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/less/letter/edit.less'|compile %}?{% lorem 1 w random%}">
{% endblock %}

{% block addition_js %}
    <script src="{% static 'common/js/underscore-min.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% load teacher_page %}
            {% mala_page_header_dark "" "张三 老师" %}
            <div class="page-left"></div>
            <div class="page-center">
                {% include 'teacher/side_bar.html' %}
                <div class="the_content">
                    <div class="nav_bar">
                        <span class="title">我的学生</span>
                        &gt;
                        <span>信件</span>
                    </div>
                    <div class="form-horizontal">
                        {%if error_code == -1%}
                        <div class="error">家长不存在 <a href="{% url 'teacher:my-students' student_type page_offset %}">返回</a></div>
                        {%elif error_code == -2 %}
                        <div class="error">邮件不存在 <a href="{% url 'teacher:my-students' student_type page_offset %}">返回</a></div>
                        {%endif%}
                        <fieldset>
                            <div class="control-group">
                              <label class="control-label" for="stname">收件人</label>
                              <div class="controls">
                                <label>{{student_name}}</label>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="inscore">主题</label>
                              <div class="controls">
                                  <label>{{letter.title}}</label>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label">正文</label>
                              <div class="controls">
                                  <textarea class="form-control" id="content" readonly="true">{{letter.content}}</textarea>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label"></label>
                              <div class="controls send-time">
                                发送时间:&nbsp;&nbsp;{{letter.created_at|date:"Y-m-d H:i:s"}}
                              </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="action-btn">
                        <a href="{% url 'teacher:my-students' student_type page_offset %}" type="button" class="btn btn-back">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
