@import "register.less";
@import "public.less";
@import "public_login.less";

@page_min_width: 1150px;
@page_height: 800px;

.tag-tab{
  padding-top: 25px;
  padding-bottom: 17px;
  border-width: 0 0 1px 0;
  border-color: @border_gray;
  border-style: solid;
  .student-type{
    font-size: 16px;
  }
  .student-type[attrState="selected"]{
    @selectedColor: #da0000;
    border-width: 0 0 2px 0;
    border-color: @selectedColor;
    border-style: solid;
    padding-bottom: 5px;
    color: @selectedColor;
  }

  .student-type[attrState="normal"]{
  }
  .student-type:hover{
    @selectedColor: black;
    border-width: 0 0 2px 0;
    border-color: @selectedColor;
    border-style: solid;
    padding-bottom: 5px;
    color: @selectedColor;
  }

  .number-count{
  }
  .number-count[attrState="empty"]{
    padding-right: 25px;
  }
  .number-count[attrState="full"]{
    color: #e55371;
  }
}

.student-list{
  .list-header{
    padding-top: 8px;
    padding-bottom: 10px;
    border-width: 1px;
    border-color: @border_gray;
    border-style: solid;
    margin-top: 6px;
    background: #f0f1f1;
    .header-name, .header-grade, .header-subclass-progress, .header-subclass-price,
    .header-student-status, .header-operation{
      font-weight: bold;
    }
    .header-name{
      padding-left: 35px;
    }
    .header-grade{
      padding-left: 53px;
    }
    .header-subclass-progress{
      padding-left: 92px;
    }
    .header-subclass-price{
      padding-left: 52px;
    }
    .header-student-status{
      padding-left: 124px;
    }
    .header-operation{
      padding-left: 111px;
      padding-right: 100px;
    }
  }
  .list-body{
    padding-top: 12px;
    padding-left: 34px;
    padding-bottom: 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: @border_gray;
    overflow: auto;
    .name{
      float: left;
      width: 117px;
    }
    .grade{
      float: left;
      width: 128px;
    }
    .subclass-progress{
      float: left;
      text-align: right;
      width: 80px;
    }
    .subclass-price{
      float: left;
      width: 152px;
      text-align: right;
    }
    .student-state{
      float: left;
      width: 160px;
      .state-new, .state-renewal, .state-normal, .state-refund, .state-session{
        float: right;
        .label;
        .label-default;
        font-size: 12px;
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
      }
      .state-new{
        background: #e43b45;
      }
      .state-renewal{
        background: #ed9925;
      }
      .state-normal{
        background: #37c36e;
      }
      .state-refund{
        background: white;
        color: @border_gray;
        border-width: 1px;
        border-style: solid;
        border-color: @border_gray;
      }
      .state-session{

      }
    }
    .operation{
      float: left;
      .glyphicon;
      .glyphicon-envelope;
      width: 160px;
      padding-left: 137px;
      font-size: 18px;
    }
    .operation[attrState="to-send"]{
      color: #8d8e8f;
    }
    .operation[attrState="sent"]{
      color: #c3c4c5;
    }
  }
}

.page-index{
  .one-page{

  }
}