@import "../../common/less/bootstrap.less";
@border_gray: #cdcecf;

.side_bar{
  width: 146px;
  float: left;
  background: #eaebec;
  padding-left: 35px;
  padding-top: 25px;
  //padding-right: 35px;
  padding-bottom: 25px;
  height: 100%;
  .section-title{
    //font-weight:bold;
  }
  .section-link{
    a{
      font-size: 12px;
      color: #85898a;
    }
    .info_icon{
      .glyphicon;
      .glyphicon-info-sign;
      margin-left: 4px;
      top: 3px;
      color: #df3a45;
    }
    .badge_number{
      color: #df3a44;
    }
  }
}

@page_min_width: 980px;
@page_height: 600px;

.page-center{
  height: @page_height;
  padding-left: 0;
  padding-right: 0;
  min-width: @page_min_width;
}

.the_content {
  float: left;
  padding: 5px;
  min-width: 750px;
  width: auto;
  margin-top: 5px;
  margin-left: 9px;
}

.mala_header_dark{
  min-width: @page_min_width;
}

.tag-tab{
  padding-top: 25px;
  padding-bottom: 17px;
  border-width: 0 0 1px 0;
  border-color: @border_gray;
  border-style: solid;
  a:hover{
    text-decoration: none;
  }
  .student-type{
    font-size: 16px;
    color: black;
  }
  .student-type[attrState="selected"]{
    @selectedColor: #da0000;
    border-width: 0 0 2px 0;
    border-color: @selectedColor;
    border-style: solid;
    padding-bottom: 5px;
    color: @selectedColor;
  }

  .student-type[attrState="normal"]{
  }
  .student-type:hover{
    @selectedColor: black;
    border-width: 0 0 2px 0;
    border-color: @selectedColor;
    border-style: solid;
    padding-bottom: 5px;
    color: @selectedColor;
  }

  .number-count{
  }
  .number-count[attrState="empty"]{
    padding-right: 25px;
  }
  .number-count[attrState="full"]{
    color: #e55371;
  }
}
