@border_gray: #cdcecf;
@grid-gutter-width: 30px;
@grid-columns: 12;

.mala_header, .mala_header_dark{
  font-size: 16px;
  span{
    margin-top: 10px;
  }
  //border-bottom-width: 1px;
  padding : 1px;
  border-width: 0 0 1px 0;
  border-color: #cdcecf;
  border-style: solid;
  margin-bottom: 20px;
  .header_right{
    float:right;
    margin-top: 10px;
    margin-right: 10px;
  }
  .header_right_text{
    padding-top:7px;
  }
}

.mala_header_dark{
  height: 70px;
  background: #404141;
  margin-bottom:0;
  .header_right_text{
    color: white;
    //font-size: 14px;
  }
  img{
    margin-top: 7px;
    margin-left: 27px;
  }
  .header_right{
    color: white;
    font-size: 14px;
    margin-top: 15px;
  }
}


// Generate the extra small columns
.make-xs-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage((@columns / @grid-columns));
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);
}
//左边栏宽度
@leftBlankWidth: 0;
//右边栏宽度
@rightBlankWidth: 0;

.page-left{
  .make-xs-column(@leftBlankWidth);
}
.page-right{
  .make-xs-column(@rightBlankWidth);
}
.page-center{
  .make-xs-column(12 - @leftBlankWidth - @rightBlankWidth);
}

@icon-font-path: "../../common/fonts/";

.confirm_button{
  background: #898a8b;
  border-radius: 2px;
}

.nav_bar {
  font-size: 18px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 5px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: @border_gray;
}

