{% extends "wechat/wechat_base_simple.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}奖学金{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" href="{% static 'wechat/css/weui.min.less'|compile %}">
    <link rel="stylesheet" href="{% static 'wechat/less/order/coupon_list.less'|compile %}">
{% endblock %}

{% block content %}
    <input type="hidden" id="preChosenCoupon" value="{% if pre_chosen_coupon %}{{ pre_chosen_coupon.id }}{% endif %}"/>
    <div class="page slideIn cell">
        <div class="content">
            <div id="couponList">
                {% for coupon in coupons %}
                    <div class="coupon {{ coupon.status }}" couponId="{{ coupon.id }}">
                        <div class="coupon-upper">
                            <div class="cost">￥<span class="amount">{{ coupon.amount_yuan }}</span></div>
                            <div class="desc">
                                <div class="name">{{ coupon.name }}</div>
                                <div class="limit">满<span class="ccount">{{ coupon.mini_course_count }}</span>课时可以使用</div>
                            </div>
                            <div class="status">
                                <div class="flag unused">未使用</div>
                                <div class="flag used"><img src="{% static 'wechat/images/coupon_used_icon.png' %}"></div>
                                <div class="flag expired">已过期</div>
                            </div>
                        </div>
                        <div class="icons-area">
                            <img src="{% static 'wechat/images/coupon-checked.png' %}">
                        </div>
                        <div class="coupon-footer">
                            有效期 &nbsp;&nbsp; {{ coupon.expired_at|date:'Y.m.d' }}
                            <div class="limit">仅在线支付使用</div>
                        </div>
                    </div>
                {% empty %}
                    <div>
                        没有可用奖学金
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="weui_dialog_alert" id="alertDialog" style="display: none;">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div class="weui_dialog_hd" id="alertDialogBody"></div>
                <div class="weui_dialog_ft">
                    <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addition_js %}
    <script src="{% static 'wechat/js/order/coupon_list.js' %}"></script>
{% endblock %}