{% extends "wechat/wechat_base_simple.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}奖学金{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" href="{% static 'wechat/css/weui.min.less'|compile %}">
    <link rel="stylesheet" href="{% static 'wechat/less/order/coupon_list.less'|compile %}?{% lorem 1 w random%}">
{% endblock %}

{% block content %}
    <input type="hidden" id="preChosenCoupon" value="{% if pre_chosen_coupon %}{{ pre_chosen_coupon.id }}{% endif %}"/>
    <div class="page slideIn cell">
        <div class="content">
            <div id="couponList">
                {% for coupon in coupons %}
                    <div class="coupon {{ coupon.status }}" couponId="{{ coupon.id }}">
                        <div class="coupon-upper">
                            <div class="cost">￥<span class="amount">{{ coupon.amount_yuan }}</span></div>
                            <div class="desc">
                                <div class="limit">满<span class="min_cost">{{ coupon.mini_total_price|money_format:'0/' }}</span>元可用</div>
                                <div class="deadline">有效期至 {{ coupon.expired_at|date:'Y-n-j' }}</div>
                            </div>
                            <div class="status">
                                <div class="flag unused"></div>
                                <div class="flag used"><img src="{% static 'wechat/images/coupon_ic_used.png' %}"></div>
                                <div class="flag expired"><img src="{% static 'wechat/images/coupon_ic_expired.png' %}"></div>
                            </div>
                        </div>
                        <div class="icons-area">
                            <img src="{% static 'wechat/images/coupon-chosen.png' %}">
                        </div>
                    </div>
                {% empty %}
                    <div>
                        没有可用奖学金
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="weui_dialog_alert" id="alertDialog" style="display: none;">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div class="weui_dialog_hd" id="alertDialogBody"></div>
                <div class="weui_dialog_ft">
                    <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addition_js %}
    <script src="{% static 'wechat/js/order/coupon_list.js' %}?{% lorem 1 w random%}"></script>
{% endblock %}