{% extends "wechat/wechat_base_simple.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}课程确认{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" href="{% static 'wechat/css/weui.min.less'|compile %}">
    <link rel="stylesheet" href="{% static 'wechat/less/order/course_choosing.less'|compile %}">
{% endblock %}

{% block content %}
    <div class="page slideIn cell" id="courseChoosingContainer">
        <div class="content">
{#          选择授课年级#}
            <input type="hidden" name="isFirstBuy" id="isFirstBuy" value="{{ first_buy }}"/>
            <input type="hidden" name="teacherId" id="teacherId" value="{{ teacher.id }}"/>
            <input type="hidden" name="evaluateTime" id="evaluateTime" value="{{ evaluate_time }}"/>
            <div class="weui_panel">
                <div class="title_row">选择授课年级</div>
                <div class="m-panel abilities-panel">
                    {% for price in prices %}
                        <div class="grade-box">
                            <div class="grade" data-gradeid="{{ price.ability.grade.id }}">
                                {{ price.ability.grade.name }}
                                {{ price.price|money_format:'/' }}/小时
                                <input type="hidden" name="price" value="{{ price.price }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
{#          选择上课地点#}
            <div class="weui_panel school-panel">
                <div class="title_row">选择上课地点</div>
                <div class="schools-list" id="schoolsContainer">
                        <div class="school" scid="{{ schools.0.id }}">
                            <div class="school-body">
                                <div class="school-head">
                                    <span class="school-name">{{ schools.0.name }}</span>
                                    <span class="distance"></span>
                                </div>
                                <div class="address">
                                    {{ schools.0.address }}
                                </div>
                            </div>
                            <div class="icons-area">
                                <i class="yes weui_icon_success"></i>
                                <i class="no weui_icon_circle"></i>
                            </div>
                        </div>
                    {% if schools|length > 0 %}
                        {% for school in schools|sub_list:'1:' %}
                            <div class=" school" style="display: none;" scid="{{ school.id }}">
                                <div class="school-body">
                                    <div class="school-head">
                                        <span class="school-name">{{ school.name }}</span>
                                        <span class="distance"></span>
                                    </div>
                                    <div class="address">
                                        {{ school.address }}
                                    </div>
                                </div>
                                <div class="icons-area">
                                    <i class="yes weui_icon_success"></i>
                                    <i class="no weui_icon_circle"></i>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="m-row more-schools-hint" id="showMoreSchoolsBtn">
                            展开查看其它地点 <img src="{% static 'wechat/images/down_chevron.png' %}">
                        </div>
                    {% endif %}
                </div>
            </div>
{#          上课时间预览#}
            <div class="weui_panel">
                <div class="title_row">选择上课时间</div>
                <div class="m-panel course-time-panel">
                    <table border="1" id="weeklyTable">
                        <thead>
                            <tr>
                                <td>时间</td><td>周一</td><td>周二</td><td>周三</td><td>周四</td><td>周五</td><td>周六</td><td>周日</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for timeslot in daily_time_slots %}
                                <tr start="{{ timeslot.start|date:'H:i' }}" end="{{ timeslot.end|date:'H:i' }}">
                                    <td class="hours-col">{{ timeslot.start|date:'H:i' }}<br>{{ timeslot.end|date:'H:i' }}</td>
                                    {% for day in 7|num_range %}
                                        <td day="{{ day }}"></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="flags">
                        <span class="flag"><span class="rect unavailable"></span>已被约课</span>
                        <span class="flag"><span class="rect available"></span>可授课</span>
                        <span class="flag"><span class="rect chosen"></span>已选课时</span>
                    </div>
                </div>
            </div>
{#          设置小时数#}
            <div class="weui_panel no-padding cost-panel">
                <div class="weui_cells">
                    <div class="weui_cell adjust-hour-row">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p class="sub-title">选择小时</p>
                        </div>
                        <div class="weui_cell_ft" id="adjustHourArea">
                            <a id="decHoursBtn"><img src="{% static 'wechat/images/minus-icon.png' %}"></a>
                            <span id="courseHours">0</span>
                            <a id="incHoursBtn"><img src="{% static 'wechat/images/plus-icon.png' %}"></a>
                        </div>
                    </div>
                </div>
            </div>
{#          上课时间预览#}
            <div class="weui_panel closed" id="courseTimePreviewPanel">
                <div class="title_row">上课时间
                    <div class="icons-area">
                        <img class="down" src="{% static 'wechat/images/down_chevron.png' %}">
                        <img class="up" src="{% static 'wechat/images/up_chevron.png' %}">
                    </div>
                </div>
                <div class="m-panel" id="courseTimePreview">
                </div>
            </div>
{#          奖学金,测评建档#}
            <div class="weui_panel no-padding cost-panel">
                <div class="weui_cells">
                    <a class="weui_cell weui_cells_access coupon-row" id="couponRow" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p class="sub-title">奖学金</p>
                        </div>
                        <div class="weui_cell_ft"><span>-￥<span id="discountCost">0</span></span></div>
                    </a>
                    {% if first_buy %}
                    <a class="weui_cell weui_cells_access test-row" id="evaluateRow" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p class="sub-title">测评建档服务</p>
                        </div>
                        <div class="weui_cell_ft"><s class="line-through">￥<span id="testCost">500</span></s>&nbsp;<span>￥<span id="realTestCost">0</span></span></div>
                    </a>
                    {% endif %}
                    <div class="weui_cell orig-cost-row" id="origTotalCostRow">
                        <div class="weui_cell_bd weui_cell_primary">
                        </div>
                        <div class="weui_cell_ft">
                            <span>原价: </span><span class="cost">￥<span id="origTotalCost">0.00</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tail-padding"></div>

        </div>
{#      信息提示框#}
        <div class="weui_dialog_alert" id="alertDialog" style="display: none;">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div class="weui_dialog_hd"><div class="dialog-inner" id="alertDialogBody"></div></div>
                <div class="weui_dialog_ft">
                    <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
                </div>
            </div>
        </div>
{#      加载动画#}
        <div class="weui_loading_toast" id="loadingToast" style="display: none;">
            <div class="weui_mask_transparent"></div>
            <div class="weui_toast">
                <div class="weui_loading">
                    <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_11"></div>
                </div>
                <p class="weui_toast_content" id="loadingToastBody"></p>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div class="weui_extra_area pay-action-area" id="payArea">
        <div class="w50 cost-area">还需支付: <span class="cost">￥<span id="realCost">0.00</span></span></div>
        <div class="w50 action-area">
            <a href="javascript:;" class="weui_btn weui_btn_warn" id="confirmBtn">确认并支付</a>
        </div>
    </div>
{% endblock %}


{% block addition_js %}
    <script type='text/javascript' src='//res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
    <script>
        var teacher_detail_page = '{% url 'wechat:teacher' %}?teacherid={{ teacher.id }}';
        var coupon_list_page = '{% url 'wechat:order-coupon-list' %}?teacher_id={{ teacher.id }}';
        var evaluate_list_page = '{% url 'wechat:order-evaluate-list' %}?teacher_id={{ teacher.id }}';
        wx.config({
            debug: false,
            appId: '{{ WX_APPID }}',
            timestamp: '{{ timestamp }}',
            nonceStr: '{{ noncestr }}',
            signature: '{{ signature }}',
            jsApiList: ['chooseWXPay', 'getLocation', 'closeWindow']
        });
    </script>
    <script src="{% static 'common/js/django-ajax-amend.js' %}"></script>
    <script src="{% static 'wechat/js/order/course_choosing.js' %}"></script>
{% endblock %}