{% extends "wechat/wechat_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}课程确认{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" href="{% static 'wechat/css/course_choosing.less'|compile %}">
{% endblock %}

{% block content %}
    <div class="page slideIn cell" id="courseChoosingContainer">
        <div class="content">
{#          选择授课年级#}
            <input type="hidden" name="isFirstBuy" id="isFirstBuy" value="{{ first_buy }}"/>
            <input type="hidden" name="teacherId" id="teacherId" value="{{ teacher.id }}"/>
            <div class="weui_panel">
                <div class="title_row">选择授课年级</div>
                <div class="m-panel abilities-panel">
                    {% for ability in abilities %}
                        <div class="grade-box">
                            <div class="grade" data-gradeid="{{ ability.grade.id }}">
                                {{ ability.grade.name }}
                                {% for price in prices %}
                                    {% if ability == price.ability %}
                                        {{ price.price|money_format:'/' }}/小时
                                        <input type="hidden" name="price" value="{{ price.price }}"/>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
{#          选择上课地点#}
            <div class="weui_panel">
                <div class="title_row">选择上课地点</div>
                <div class="weui_cells weui_cells_radio schools-panel" id="schoolsContainer">
{#                    {% for school in schools %}#}
                        <div class="weui_cell school" scid="{{ schools.0.id }}">
                            <div class="weui_cell_bd weui_cell_primary school-body">
                                <div class="school-head">
                                    <span class="school-name">{{ schools.0.name }}</span>
                                    <span class="distance"></span>
                                </div>
                                <div class="address">
                                    {{ schools.0.address }}
                                </div>
                            </div>
                            <div class="weui_cell_ft icons-area">
                                <i class="yes weui_icon_success"></i>
                                <i class="no weui_icon_circle"></i>
                            </div>
                        </div>
{#                    {% endfor %}#}
                    {% if schools|length > 0 %}
                        {% for school in schools|sub_list:'1:' %}
                            <div class="weui_cell school" style="display: none;" scid="{{ school.id }}">
                                <div class="weui_cell_bd weui_cell_primary school-body">
                                    <div class="school-head">
                                        <span class="school-name">{{ school.name }}</span>
                                        <span class="distance"></span>
                                    </div>
                                    <div class="address">
                                        {{ school.address }}
                                    </div>
                                </div>
                                <div class="weui_cell_ft icons-area">
                                    <i class="yes weui_icon_success"></i>
                                    <i class="no weui_icon_circle"></i>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="m-row more-schools-hint" id="showMoreSchoolsBtn">
                            展开查看其它地点<img src="{% static 'wechat/images/down_chevron.png' %}">
                        </div>
                    {% endif %}
                </div>
            </div>
{#          上课时间预览#}
            <div class="weui_panel">
                <div class="title_row">选择上课时间</div>
                <div class="m-panel course-time-panel">
                    <table border="1" id="weeklyTable">
                        <thead>
                            <tr>
                                <td>时间</td><td>周一</td><td>周二</td><td>周三</td><td>周四</td><td>周五</td><td>周六</td><td>周日</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for timeslot in daily_time_slots %}
                                <tr start="{{ timeslot.start|date:'H:i' }}" end="{{ timeslot.end|date:'H:i' }}">
                                    <td class="hours-col">{{ timeslot.start|date:'H:i' }}<br>{{ timeslot.end|date:'H:i' }}</td>
                                    {% for day in 7|num_range %}
                                        <td day="{{ day }}"></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="flags">
                        <span class="flag"><span class="rect unavailable"></span>已占</span>
                        <span class="flag"><span class="rect available"></span>可选</span>
                        <span class="flag"><span class="rect chosen"></span>已选</span>
                    </div>
                </div>
            </div>
{#          上课时间预览#}
            <div class="weui_panel">
                <div class="title_row">上课时间</div>
                <div class="m-panel" id="courseTimePreview">

                </div>
            </div>
{#          设置小时数,奖学金,测评建档#}
            <div class="weui_panel no-padding cost-panel">
                <div class="weui_cells">
                    <div class="weui_cell adjust-hour-row">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p class="sub-title">选择小时</p>
                        </div>
                        <div class="weui_cell_ft" id="adjustHourArea">
                            <a id="decHoursBtn"><img src="{% static 'wechat/images/minus-icon.png' %}"></a>
                            <span id="courseHours">0</span>
                            <a id="incHoursBtn"><img src="{% static 'wechat/images/plus-icon.png' %}"></a>
                        </div>
                    </div>
                    <a class="weui_cell weui_cells_access coupon-row" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p class="sub-title">奖学金</p>
                        </div>
                        <div class="weui_cell_ft"><span>-￥<span id="discountCost">0</span></span></div>
                    </a>
                    {% for coupon in coupons %}
                        <div class="weui_cell coupon" couponId="{{ couponId }}">
                            <div class="coupon-upper">
                                <div class="cost"><span class="amount">{{ coupon.amount }}</span></div>
                                <div class="name">{{ coupon.name }}</div>
                                <div class="icons-area">
                                    <img src="{% static 'wechat/images/coupon-checked.png' %}">
                                </div>
                            </div>
                            <div class="coupon-footer">有效期 {{ coupon.validated_start|date:'Y.m.d' }} - {{ coupon.expired_at|date:'Y.m.d' }}</div>
                        </div>
                    {% endfor %}
                    {% if first_buy %}
                    <a class="weui_cell weui_cells_access test-row" href="javascript:;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p class="sub-title">测评建档服务</p>
                        </div>
                        <div class="weui_cell_ft"><s class="line-through">￥<span id="testCost">5.00</span></s> <span>￥<span id="realTestCost">0</span></span></div>
                    </a>
                    {% endif %}
                    <div class="weui_cell orig-cost-row" id="origTotalCostRow">
                        <div class="weui_cell_bd weui_cell_primary">
                        </div>
                        <div class="weui_cell_ft">
                            <span>原价: </span><span class="cost">￥<span id="origTotalCost">0.00</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tail-padding"></div>

        </div>

        <div class="weui_dialog_alert" id="alertDialog" style="display: none;">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div class="weui_dialog_hd" id="alertDialogBody"></div>
{#                <div class="weui_dialog_bd"></div>#}
                <div class="weui_dialog_ft">
                    <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <div class="weui_extra_area pay-action-area">
        <div class="w50 cost-area">还需支付: <span class="cost">￥<span id="realCost">0.00</span></span></div>
        <div class="w50 action-area">
            <a href="javascript:;" class="weui_btn weui_btn_warn" id="confirmBtn">确认并支付</a>
        </div>
    </div>
{% endblock %}


{% block addition_js %}
    <script>
{#        alert(location.href);#}
{#        alert(wx);#}
        var teacher_detail_page = '{% url 'wechat:teacher' %}?teacherid={{ teacher.id }}';
        wx.config({
            debug: false, // 开启调试模式?
            appId: '{{ WX_APPID }}', // 必填，公众号的唯一标识
            timestamp: '{{ timestamp }}', // 必填，生成签名的时间戳
            nonceStr: '{{ noncestr }}', // 必填，生成签名的随机串
            signature: '{{ signature }}',// 必填，签名
            jsApiList: ['chooseWXPay', 'getLocation'] // 必填，需要使用的JS接口列表
        });
    </script>
    <script src="{% static 'wechat/js/course_choosing.js' %}"></script>
{% endblock %}