{% load staticfiles %}
{% load compile_static %}


<!-- Modal -->
<div class="modal fade" id="aboutUsModal" tabindex="-1" role="dialog" aria-labelledby="aboutUsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">关于麻辣老师</h4>
      </div>
      <div class="modal-body">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;麻辣老师(malalaoshi.com)成立于2015年6月由众多资深教育人士和互联网顶尖人才组成，是专注于国内二三四线城市中小学K12课外辅导的O2O服务平台，以效果、费用、便捷为切入口，实现个性化教学和学生的个性发展，推动二三四线城市及偏进地区教育进步。 
        麻辣老师通过O2O的方式，以高效和精准的老师推荐，让中小学家长更加方便和经济地找到好老师，提升老师的收入，优化教、学、练、测、评五大环节, 提升教学与学习效率、创新服务模式,带给家长、老师及学生全新的学习体验。</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AgreeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content agree">
      <div class="modal-header doc-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">麻辣老师平台服务协议</h4>
      </div>
      <div class="modal-body doc">
        <iframe src="{% url 'teacher:doc-agree' %}">
        </iframe>
      </div>
      <div class="modal-footer">
        <button id="agree-and-continue" type="button" class="btn btn-default continue-button" data-dismiss="modal">同意并继续</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="wechatQrModal" tabindex="-1" role="dialog" aria-labelledby="wechatQrModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">"麻辣老师官方账号"公众号</h4>
      </div>
      <div class="modal-body">
          <div class="text-center">
              <img class="img-responsive" src="{% static 'web/images/qrcode_wechat.jpg' %}" alt="">
          </div>
      </div>
    </div>
  </div>
</div>