<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% load compile_static %}

    <link href="{% static 'common/less/bootstrap.less'|compile %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'web/fullpage/jquery.fullPage.less'|compile %}">

    {% block addition_less %}{% endblock %}
    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
    <script src="{% static 'common/js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'common/js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'common/js/jquery-ui-1.9.1.min.js' %}"></script>
    <script src="{% static 'common/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/fullpage/jquery.fullPage.js'%}"></script>

    {% block addition_js %}{% endblock %}

</head>
<body>
{% block body_content%}{% endblock %}
</body>
</html>
