{% extends "lecturer/lecturer_base.html" %}

{% load staticfiles %}
{% load compile_static %}

{% block title %}麻辣老师双师直播后台 - 课程列表{% endblock %}

{% block addition_js %}
  <script src="{% static 'lecturer/js/timeslot/list.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>备课列表</h1>
    <table class="table table-striped table-hover table-bordered">
        <tr>
{#            <th class="text-center">序号</th>#}
            <th class="text-center">课程名称</th>
            <th class="text-center">日期</th>
            <th class="text-center">时间</th>
            <th class="text-center">题组数量</th>
            <th class="text-center">题组管理</th>
            <th class="text-center">
              课程状态
              <select id="status-select">
                <option>未开始</option>
                <option value="all" {% if query_data.show_all %}selected="selected"{% endif %}>全部</option>
              </select>
            </th>
        </tr>
        {% for timeslot in timeslots %}
            <tr align="center">
{#                <td>#}
{#                    <span class="badge">{{ timeslot.idx }}</span>#}
{#                </td>#}
                <td>{{ timeslot.live_course.name }}</td>
                <td>{{ timeslot.start | date:"Y-m-d" }}</td>
                <td>{{ timeslot.start | date:"H:i" }}
                    -- {{ timeslot.end | date:"H:i" }}</td>
                <td>{{ timeslot.question_groups.count }}</td>
                <td>
                    <a href="{% url 'lecturer:timeslot-questions' tsid=timeslot.id %}">
                        {% if timeslot.status > 0 %}
                            {% if timeslot.question_groups.count > 0 %}
                                管理课题
                            {% else %}
                                添加课题
                            {% endif %}
                        {% else %}
                            查看课题
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if timeslot.status < 0 %}
                        <span class="badge">已结束</span>
                    {% elif timeslot.status > 0 %}
                        <span class="badge" style="background-color: #3a87ad">未开始</span>
                    {% else %}
                        <span class="badge" style="background-color: #468847">进行中</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'pagination_nav.html' %}
    <script type="text/javascript">
        paginationInit();
    </script>
{% endblock %}
