{% extends "lecturer/lecturer_base.html" %}

{% load staticfiles %}
{% load compile_static %}

{% block title %}麻辣老师双师直播后台 - 课时题组管理页面{% endblock %}
{% block addition_js %}
    <script src='https://unpkg.com/vue@2.1.8/dist/vue.min.js'></script>
    <script>
        var old_group_ids = [];
        {% for g in old_groups %}old_group_ids.push({{ g.id }});{% endfor %}
    </script>
    <script src="{% static 'lecturer/js/timeslot/groups.js' %}"></script>
{% endblock %}


{% block content %}
    {% if lc_timeslot %}
        <div>
            {{ course_name }}({{ lecturer_name }})
            @{{ date }} {{ start }}-{{ end }}
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-9">
                所选题组题目列表
                <div id="selected-groups">
                    <div v-for="g in groupList" class="selected-group"
                         v-bind:id="'selected-g-'+g.id">
                        <h4>[[ g.title ]]</h4>
                        <p>[[ g.desc ]]</p>
                        <div class="question-list">
                            <div v-for="q in g.questions" class="question-item"
                                 v-bind:id="'q-'+q.id">
                                <h5>[[q.title]]</h5>
                                <ol class="option-list">
                                    <li v-for="o in q.options"
                                        class="option-item"
                                        v-bind:id="'option-'+o.id">
                                        <span v-if="q.solution == o.id"
                                              class="icon glyphicon glyphicon-ok">
                                        </span>
                                        [[o.text]]
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                所有题组列表
                <div id="all-groups">
                    <div v-for="group in groupList"
                         v-bind:id="'group-'+group.id"
                         v-bind:title="group.desc">
                        [[group.title]]
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ error_msg }}
    {% endif %}
{% endblock %}
