<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>麻辣老师微信公众号</title>
        {% load staticfiles%}
        {% load compile_static %}

        {#WEUI微信官方UI库#}
        <link href="{% static 'wechat/css/weui.min.css' %}" rel="stylesheet" type="text/css">
        {% block addition_header %}{% endblock %}
        {% block addition_js %}{% endblock %}
    </head>
    <body>

    </body>
</html>