<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        手机号注册
    </title>
    {% load staticfiles%}
    {% load compile_static %}
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" type="text/css" href="{% static 'wechat/less/parent/reg_phone.less'|compile %}">
    <script>
        var nextpage = "{{nextpage}}";
        var openid = "{{openid}}";
    </script>
</head>
<body>

<div class="page">
    <div class="bd">
        {% csrf_token %}
        <input type="hidden" id="openid" value="{{openid}}"/>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <img src="{% static 'common/icons/user_phone.png' %}" />
                </div>
                <div class="weui_cell_bd weui_cell_primary set-margin">
                    <input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入手机号" id="phoneCode"/>
                </div>
                <div class="weui_cell_ft">
                    <a href="javascript:;" class="weui_btn ext_btn_primary">获取验证码</a>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <img src="{% static 'common/icons/user_code.png' %}" />
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入验证码" id="smsCode"/>
                </div>
                <div class="msg-error">
                    <img src="{% static 'common/icons/warn.png' %}" /> 验证码错误
                </div>
            </div>
        </div>
        <div class="submit_content">
            <a href="javascript:;" class="weui_btn ext_btn_default submit_btn" id="doCheck">验证</a>
            <div>
                轻触上面验证“按钮”即表示你同意<font>麻辣老师用户协议</font>
            </div>
        </div>
    </div>
</div>
<div id="toast" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        请输入正确手机号
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script src="{% static 'wechat/js/parent/reg_phone.js' %}"></script>

</body>
</html>
