@page_min_width: 1150px;
@page_height: 800px;

.grid-content{
  min-height: @page_height;
}

.bg-body {
  background: #F8F8F8;
}

.grid-content {
  min-height: 900px;
}

.el-col {
  background: #F4F4F4;
}