@page_min_width: 1150px;
@page_height: 800px;

// Store
#store-root {
  margin-top: -10px;
}
.container {
  padding: 0px;
}
.store-row {
  margin-left: 0px;
  margin-right: 0px;
}
.store-col {
  padding-left: 0px;
  padding-right: 0px;
}

// Body
.store-content{
  min-height: 800px;
  background: #F8F8F8;
}

// Content
.content-pane {
  min-height: 900px;
  background: #F0F0F0;
  display: flex;
  justify-content: center;
  align: middle;
}
.page-pane {
  background: #FFF;
  margin: 50px 0px 50px 0px;
  padding: 20px 0 20px 0;
  width: 85%;
  border: 1px solid #DADADA;
  align: middle;
}
.text {
  font-size: 14px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  &:hover {
    background: #FAFAFA;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
  }
}
.item-submit {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}
.item-input {
  min-height: 40px;
  width: 100%;
  padding: 0 20px 0 20px;
  margin: 5px 0 5px 0;
}

input,
input.el-input__inner {
  border: 1px solid transparent;
  &:hover {
    border: 1px solid transparent;
  }
  &:focus {
    border: 1px solid #E0E0E0;
  }
}
#ex-title.input {
  input.el-input__inner {
    text-align: center;
  }
}
#ex-desc.input {
  input.el-input__inner {
    text-align: center;
  }
}

// SideBar
.sidebar-pane {
  min-height: 900px;
  background: #F4F4F4;
}

#tree-content {
  margin-top: 50px;
  border-style: none;
  border-top: 1px solid #DDD;
  background: #F4F4F4;
}

// Exercise
.item-exercise {
  width: 100%;
  min-height: 200px;
  padding: 20px 55px 0;
  margin: 0px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  #removeBtn {
    display: none;
  }
  &:hover {
    background: #FAFAFA;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    #removeBtn {
      display: inline-block;
    }
  }
}
.el-form-item__content {
  display: flex;
  flex-direction: row;
}
.title-item {
  display: inline-block;
  width: 80%;
}
#removeBtn {
  display: inline-block;
  width: 50px;
  margin-left: 5px;
}
.radio-item {
  margin-bottom: 5px;
}
.radio-item-radio {
  display: inline;
  margin: 0px;
  margin-right: 5px;
}
.radio-group {
  padding: 10px 0 0 10px;
}

textarea.el-textarea__inner {
  border: 1px solid transparent;
  &:hover {
    border: 1px solid transparent;
  }
  &:focus {
    border: 1px solid #E0E0E0;
  }
}
span.el-radio__label {
  display: none;
}
