{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}购买订单{% endblock %}

{% block addition_js %}
    <script src="{% static 'staff/js/order/orders.js' %}"></script>
{% endblock %}

{% block content %}
    <form name="query_form" class="form-inline">
        <div class="form-group">
            <label>姓名</label>
            <input type="text" class="form-control" name="name" value="{{ query_data.name }}" size="10"/>
        </div>

        <div class="form-group">
            <label>手机号</label>
            <input type="text" class="form-control" name="phone" value="{{ query_data.phone }}" size="15"/>
        </div>

        <div class="form-group">
            <label>订单号</label>
            <input type="text" class="form-control" name="order_id" value="{{ query_data.order_id }}" size="18"/>
        </div>

        <div class="form-group">
            <label>订单状态</label>
            <select name="status" class="form-control">
                <option value="">全部</option>
                {% for val,text in status %}
                    <option value="{{ val }}" {% if val == query_data.status %}
                            selected="selected"{% endif %}>{{ text }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>年级</label>
            <select name="grade" class="form-control">
                <option value="">全部</option>
                {% for grade in grades %}
                    {# 不显示: 小学 初中 高中 #}
                    {% if grade.superset %}
                        <option value="{{ grade.id }}" {% if grade.id|stringformat:"i" == query_data.grade %}
                                selected="selected" {% endif %}>{{ grade.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>科目</label>
            <select name="subject" class="form-control">
                <option value="">全部</option>
                {% for subject in subjects %}
                    <option value="{{ subject.id }}" {% if subject.id|stringformat:"i" == query_data.subject %}
                            selected="selected"{% endif %}>{{ subject.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>授课中心</label>
            <select name="school" class="form-control">
                <option value="">全部</option>
                {% for school in schools %}
                    <option value="{{ school.id }}" {% if school.id|stringformat:"i" == query_data.school %}
                            selected="selected"{% endif %}>{{ school.name }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-group">
            <label>下单日期</label>
            <input type="text" class="datetimeInput form-control" name="order_date_from" value="{{ query_data.order_date_from }}" size="10"/>
            -
            <input type="text" class="datetimeInput form-control" name="order_date_to" value="{{ query_data.order_date_to }}" size="10"/>
        </div>

        <div class="form-group">
            <input type="submit" class="form-control btn-success" value="查询"/>
        </div>
        <div class="form-group">
            <input type="button" class="form-control" disabled value="导出"/>
        </div>
    </form>

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>订单号</th>
            <th>下单时间</th>
            <th>支付平台</th>
            <th>订单状态</th>
            <th>是否排课</th>
            <th>家长手机号</th>
            <th>学生姓名</th>
            <th>老师姓名</th>
            <th>老师手机号</th>
            <th>报课年级</th>
            <th>报课科目</th>
            <th>上课地点</th>
            <th>上课时间</th>
            <th class="text-right">小时单价</th>
            <th class="text-right">购买小时</th>
            <th class="text-right" bgcolor="#00bfff">订单金额</th>
            <th class="text-right">奖学金</th>
            <th class="text-right">消耗小时</th>
            <th class="text-right" bgcolor="#00bfff">消耗订单金额</th>
            <th class="text-right">剩余小时</th>
            <th class="text-right" bgcolor="#00bfff">剩余订单金额</th>
            <th class="text-right">退费小时</th>
            <th class="text-right" bgcolor="#00bfff">退费金额</th>
            <th class="text-right">实际上课小时</th>
            <th class="text-right" bgcolor="#00bfff">实际订单金额</th>
            <th>操作</th>
        </tr>
        {% for order in orders %}
            <tr align="center">
{# 订单号码 #}    <td>{{ order.order_id }}</td>
{# 下单时间 #}    <td>{{ order.created_at|date:"Y/m/d H:i" }}</td>
{# 支付平台 #}    <td>
                    {% if order.status == order.PAID %}
                        {% for chagre in order.charge_set.all %}
                            {{ chagre.channel }}<br/>
                        {% endfor %}
                    {% endif %}
                </td>
{# 订单状态 #}    <td>
                    {% if order.is_student_first_subject %}
                        <div style="color: #c9302c; font-weight: bold">首单</div>
                    {% endif %}
                    {% if order.refund_status %}
                        {{ order.get_refund_status_display }}
                    {% else %}
                        {{ order.get_status_display }}
                    {% endif %}
                </td>
{# 是否排课 #}    <td>
                      {% if order.is_timeslot_allocated %}
                      是
                      {% else %}
                      否
                      {% endif %}
                </td>
{# 家长手机 #}    <td>{{ order.parent.user.profile.phone }}</td>
{# 学生姓名 #}    <td>{{ order.parent.student_name }}</td>
{# 老师姓名 #}    <td>{{ order.teacher.name }}</td>
{# 老师手机 #}    <td>{{ order.teacher.user.profile.phone }}</td>
{# 报课年级 #}    <td>{{ order.grade }}</td>
{# 报课科目 #}    <td>{{ order.subject }}</td>
{# 上课地点 #}    <td>{{ order.school }}</td>
{# 上课时间 #}    <td>
                    {% for slot in order.weekly_time_slots.all %}
                        {{ slot.weekday|weekday_format }}
                        {{ slot.start|time:"H:i" }}-{{ slot.end|time:"H:i" }}
                        <br/><br/>
                    {% endfor %}
                </td>
{# 小时单价 #}    <td class="text-right">{{ order.price|money_format:'/' }}</td>
{# 购买小时 #}    <td class="text-right">{{ order.hours }}</td>
{# 订单金额 #}    <td class="text-right">{{ order.total|money_format:'/' }}</td>
{# 奖学金额 #}    <td class="text-right">
                    {% if order.coupon.amount %}
                        {{ order.coupon.amount|money_format:'/' }}
                    {% else %}
                        0
                    {% endif %}
                </td>
{# 消耗小时 #}    <td class="text-right">{{ order.completed_hours }}</td>
{# 消耗订单金额 #} <td class="text-right">{{ order.completed_amount|money_format:'/' }}</td>
{# 剩余小时 #}    <td class="text-right">{{ order.remaining_hours }}</td>
{# 剩余订单金额 #} <td class="text-right">{{ order.remaining_amount|money_format:'/' }}</td>
{# 退费小时 #}    <td class="text-right">
                    <!--退费成功才显示此项, 否则显示0-->
                    {% if order.status == order.REFUND %}
                        {{ order.refund_info.refund_hours }}
                    {% else %}
                        0
                    {% endif %}
                </td>
{# 退费金额 #}    <td class="text-right">
                    <!--退费成功才显示此项, 否则显示0-->
                    {% if order.status == order.REFUND %}
                        {{ order.refund_info.refund_amount|money_format:'/' }}
                    {% else %}
                        0
                    {% endif %}
                </td>
{# 实际上课小时 #} <td class="text-right">{{ order.real_completed_hours }}</td>
{# 实际订单金额 #} <td class="text-right">{{ order.real_order_amount|money_format:'/' }}</td>
{# 操作 #}       <td>
                    {% if order.status == order.PAID and not order.refund_status %}
                        <a data-action="show-refund-preview" orderId={{ order.id }}>申请退款</a>
                    {% elif order.status == order.PAID and order.refund_status == order.REFUND_PENDING %}
                        <a data-action="show-refund-record" orderId={{ order.id }}>查看记录</a>
                    {% elif order.status == order.REFUND and order.refund_status == order.REFUND_APPROVED %}
                        <a data-action="show-refund-record" orderId={{ order.id }}>查看记录</a>
                    {% elif order.status == order.PAID and order.refund_status == order.REFUND_REJECTED %}
                        <a data-action="show-refund-preview" orderId={{ order.id }}>重新申请退款</a>
                    {% else %}
                        无
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'pagination_nav.html' %}

    <div id="refundModal" class="modal fade" role="dialog" style="margin: 0 auto;">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center">退费确认</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <p>剩余 <label id="remainingHours"></label> 小时</p>
                        <p>共退 <label id="refundHours"></label> 小时</p>
                        <p>退费金额 <label id="refundAmount"></label> 元</p>
                        <input type="button" value="刷新" data-action="refresh-refund-preview" class="btn btn-default"/>
                        <input type="hidden" id="orderId"/>
                        <fieldset>
                            <div class="control-group">
                                <textarea name="refundReason" id="refundReason" rows="5" cols="36" placeholder="请输入退费原因"></textarea>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" value="取消" data-dismiss="modal" class="btn btn-default">
                    <input type="button" data-action="submit-refund" value="确定" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>

    <div id="refundInfoModal" class="modal fade" role="dialog" style="margin: 0 auto;">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center">查看记录</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <p>剩余 <label id="remainingHoursRecord"></label> 小时</p>
                        <p>共退 <label id="refundHoursRecord"></label> 小时</p>
                        <p>退费金额 <label id="refundAmountRecord"></label> 元</p>
                        <fieldset>
                            <div class="control-group">
                                <textarea name="refundReason" id="refundReasonRecord" rows="5" cols="36" readonly="readonly"></textarea>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" value="关闭" data-dismiss="modal" class="btn btn-default">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
