{% extends "wechat/wechat_base_simple.html" %}

{% block title %}{{ live_class.lecturer_name }} 在麻辣老师为您讲课{% endblock %}
{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}

{% block addition_header %}
  <link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'wechat/css/wechat_base.less'|compile %}">
  <link rel="stylesheet" href="{% static 'wechat/css/liveclass.less'|compile %}">
{% endblock %}

{% block content %}
  <div class="page" id="liveclasses">
  {#下载横条#}
    {% include 'wechat/w_download_banner.html' %}
    <div class="content">
      <div class="card">
        <h3>{{ live_class.course_name }}</h3>
        <div class="horizontal"></div>
        <div class="grade">
          <div class="tag">
            <span>{{ live_class.room_capacity }}人小班</span>
            <span>{{ live_class.course_grade }}</span>
          </div>
          <p><span class="glyphicon glyphicon-time"></span>{{ course_start }}-{{ course_end }}</p>
          {% for course_period in course_periods %}
            <p class="period">{{ course_period }}</p>
          {% endfor %}
          <p><span class="glyphicon glyphicon-bell"></span>剩余名额:
            <strong>{{ seats_remaining }}人</strong>
          </p>
          <p><span class="glyphicon glyphicon-map-marker"></span>{{ live_class.school_name }}</p>
          <p class="address">{{ live_class.school_address }}</p>
        </div>
      </div>
      <div class="card">
        <h3>课程介绍</h3>
        <div class="horizontal"></div>
        <div class="lesson">
          {% for course_description in course_descriptions %}
            <p>{{ course_description }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="card">
        <h3>直播名师</h3>
        <div class="horizontal"></div>
        <div class="teacher">
          {% if lecturer_avatar %}
            <img src="{{ lecturer_avatar }}" alt="直播名师">
          {% else %}
            <img src="{% static 'wechat/images/ic_person.png' %}" alt="直播名师">
          {% endif %}
          <div>{{ live_class.lecturer_name }}</div>
          {% for lecturer_bio in lecturer_bios %}
            <p>{{ lecturer_bio }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="card">
        <h3>联系助教</h3>
        <div class="horizontal"></div>
        <div class="tutor">
          {% if assistant_avatar %}
            <a href="tel:{{ live_class.assistant_phone }}"><img src="{{ assistant_avatar }}" alt="点此拨打电话"></a>
          {% else %}
            <a href="tel:{{ live_class.assistant_phone }}"><img src="{% static 'wechat/images/ic_person.png' %}" alt="点此拨打电话"></a>
          {% endif %}
          <p>助教: {{ live_class.assistant_name }}</p>
          <p>对课程有疑问? 快电话咨询助教老师吧!</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <p>￥{{ live_class.course_fee|money_format:'/' }} /
        <span>{{ live_class.course_lessons }}次</span>
      </p>
      <input type="button" value="立即购买" class="btn btn-primary" id="confirmBtn">
      <!-- <input type="button" value="课程已结束" class="btn btn-danger" disabled> -->
      <!-- <input type="button" value="课程已买" class="btn btn-danger" disabled> -->
      <!-- <input type="button" value="课程人数已满" class="btn btn-danger" disabled> -->
      <input type="hidden" name="liveClassId" id="liveClassId"
             value="{{ live_class.id }}"/>
    </div>
  </div>
{% endblock %}

{% block addition_js %}
  <script type='text/javascript' src='//res.wx.qq.com/open/js/jweixin-1.0.0.js'
          charset='utf-8'></script>
  <script>
    var order_pay_url = '{% url 'wechat:order-course-choosing' %}';
    var wx_appid = '{{ WX_APPID }}';
    wx.config({
      debug: false,
      appId: wx_appid,
      timestamp: '{{ timestamp }}',
      nonceStr: '{{ noncestr }}',
      signature: '{{ signature }}',
      jsApiList: ['chooseWXPay', 'getLocation', 'closeWindow']
    });
    var checkPhoneURI = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'wechat:check_phone' %}';
  </script>
  <script src="{% static 'wechat/js/order/confirm_liveclass.js' %}?v=2.0"></script>
{% endblock %}
