@logo-red: #eb5055;
@background-gray: #2f3440;

#fullpage {
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  #section0.index-bg{
    background-image: url(../images/teacher_index_bg.png);
    background-position: bottom;
    background-repeat: repeat-x;

		//padding: 30% 0 0 0;
	}
  .section {
    color: white;
    a {
      font-size: 1em;
      text-decoration: none;
      color: white;
    }
    h2 {
      @media (min-width: 768px) {
        font-size: 2.3em;
      }
      font-size: 1.8em;
    }
    h3 {
      @media (min-width: 768px) {
        font-size: 2em;
      }
      font-size: 1.5em;
    }
    h3,h4 {
      font-weight: 400;
    }
    .index-nav {
      display: flex;
      align-items: center;
      position: fixed;
      @media (min-width: 600px) {
        position: absolute;
      }
      top: 0;
      height: 110px;
      width: 100%;
      background-color: @background-gray;
      .col-xs-4 {
        text-wrap: none;
      }
      img {
        margin: 15px 15px 15px -15px;
        float: left;
      }
      .logo-normal {
          display: none;
        }
      @media (min-width: 768px) {
        .logo-normal {
          display: block;
        }
        .logo-mini {
          display: none;
        }
      }
      p {
        color: white;
        font-size: 1.2em;
        line-height: 90px;
        float: right;
      }
      .red {
        color: @logo-red;
      }
  }
    .intro {
      font-size: 1.5em;
      font-weight: 200;
        .row {
          display: block;
          padding-left: 10px;
          padding-right: 10px;
          @media (min-width: 768px) {
            display: flex;
          }
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
          text-align: center;
          .screen-only {
            display: none;
            @media (min-width: 768px) {
              display: block;
            }
          }
          img.illustration {
            width: 400px;
            //max-width: 80%;
            margin: 20px auto;
          }
          img.illustration-big {
            width: 450px;
            //max-width: 80%;
            margin: 20px auto;
          }
          img#qr-img {
            margin-top: .5em;
            width: 120px;
          }
          img.img-icon {
            width: 50px;
          }
        }
      .row.down-icon-row {
        display: none;
        @media (min-width: 600px) {
          display: inline-block;
          position: absolute;
          bottom: 4em;
          img {
            margin: 0 auto;
          }
        }
      }
    }
    position: relative;
    text-align: center;
  }
  #section0 {
    padding-top: 110px;
    @media (min-width: 600px) {
      padding-top: 0px;
    }
  }
  #section2 h3,#section2 p {
    color: #916324;
  }
  #section4 {
    img {
      width: 220px;
      margin: 2em auto;
    }
    .intro .container .row {
      display: block;
    }
  }
  #section-footer {
    color: #bbb;
    a {
      color: #bbb;
    }
    .container {
      .row {
        display: block;
        align-items: flex-start;
        text-align: left;
        h4 {
          margin: 0px 0 20px 0;
        }
      }
      .footer-aboutus {
        margin: 0;
        padding: 30px 0;
        .col-md-6.col-xs-12, .col-xs-6 {
          padding-left: 0;
          padding-right: 10px;
        }
      }
      .footer-copyright {
        text-align: center;
        margin: 0px;
        padding: 20px;
        border-top: 1px solid lighten(@background-gray,10%);
        p.copyright {
          font-size: .8em;
        }
      }
    }
  }
}

#fp-nav.right ul li a span {
  background-color: #fff;
}

.container .row {
  //border: 1px solid #fff;
}

.modal-body img {
  text-align: center;
}

