@logo-red: #eb5055;

#fullpage {
  .section {
    color: white;
    h3 {
      font-size: 1.7em;
      font-weight: 400;
    }
    .index-nav {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      height: 150px;
      width: 100%;
      background-color: #2f3440;
      .col-xs-4 {
        text-wrap: none;
      }
      img {
        margin: 15px 15px 15px -15px;
        float: left;
      }
      p {
        color: white;
        font-size: 1.2em;
        line-height: 90px;
        float: right;
      }
      .red {
        color: @logo-red;
      }
  }
    .intro {
        .row {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
          text-align: center;
          img {
            width: 450px;
          }
          img#qr-img {
            margin-top: .5em;
            width: 120px;
          }
          img.img-icon {
            width: 50px;
          }
        }
      }
    position: relative;
    text-align: center;
  }
  #section2 h3,#section2 p {
    color: #916324;
  }
  #section4 img {
    width: 220px;
  }
}



#fp-nav.right ul li a span {
  background-color: #fff;
}

.container .row {
  //border: 1px solid #fff;
}

