<html>
<head>
    <title>麻辣老师后台管理系统 - 登录</title>
</head>
<body>
    <h1 align="center">麻辣老师后台管理系统</h1>

{% block content %}
<div align="center">
{% if errors %}
<p>{{ errors }}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'staff:login_auth' %}">
{% csrf_token %}
<table>
<tr>
    <td>用户名</td>
    <td><input name="username"/></td>
</tr>
<tr>
    <td>密码</td>
    <td><input name="password" type="password"/></td>
</tr>
</table>

<input type="submit" value="登录" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}

</body>
</html>