{% load custom_tags %}

<div role="tabpanel" class="tab-pane panel-group" id="staff_menu" style="display: none">

  <div class="mui-heading">课程管理</div>
  <ul class="mui-nav">
    <li>
      <a href="{% url 'staff:live_course' %}" class="{% menu_style 'staff:live_course' %}">新开直播课程</a>
    </li>
    <li>
      <a href="{% url 'staff:live_class_list' %}" class="{% menu_style 'staff:live_class_list' %}">新开班级列表</a>
    </li>
  </ul>

  <div class="mui-heading">老师管理</div>
  <ul class="mui-nav">
{#    <li>#}
{#      <a href="{% url 'staff:teachers' %}" class="{% menu_style 'staff:teachers' %}">新注册老师</a>#}
{#    </li>#}
    <li>
      <a href="{% url 'staff:teachers_unpublished' %}" class="{% menu_style 'staff:teachers_unpublished' 'staff:teachers_unpublished_edit'%}">待上架老师</a>
    </li>
    <li>
      <a href="{% url 'staff:teachers_published' %}" class="{% menu_style 'staff:teachers_published' 'staff:teachers_published_edit'%}">已上架老师</a>
    </li>
{#    <li>#}
{#      <a href="{% url 'staff:teachers_bankcard_list' %}" class="{% menu_style 'staff:teachers_bankcard_list' %}">老师银行卡查询</a>#}
{#    </li>#}
  </ul>

{#  <div class="mui-heading">课前测评</div>#}
{#  <ul class="mui-nav">#}
{#    <li>#}
{#      <a href="{% url 'staff:evaluations' %}" class="{% menu_style 'staff:evaluations' %}">测评建档列表</a>#}
{#    </li>#}
{#  </ul>#}

  <div class="mui-heading">学生管理</div>
  <ul class="mui-nav">
    <li>
      <a href="{% url 'staff:students' %}" class="{% menu_style 'staff:students' %}">学生列表</a>
    </li>
    <li>
      <a href="{% url 'staff:student_schedule_manage' %}" class="{% menu_style 'staff:student_schedule_manage' %}">调课与停课管理</a>
    </li>
{#    <li>#}
{#      <a href="{% url 'staff:student_schedule_changelog' %}" class="{% menu_style 'staff:student_schedule_changelog' %}">调课停课记录</a>#}
{#    </li>#}
  </ul>

  <div class="mui-heading">中心管理</div>
  <ul class="mui-nav">
{#    <li>#}
{#      <a href="{% url 'staff:school_timeslot' %}" class="{% menu_style 'staff:school_timeslot' %}">中心课程列表</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="{% url 'staff:schools' %}" class="{% menu_style 'staff:schools' 'staff:staff_school'%}">中心设置</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="{% url 'staff:level_price_cfg' %}" class="{% menu_style 'staff:level_price_cfg'%}">价格设置(旧)</a>#}
{#    </li>#}
    <li>
      <a href="{% url 'staff:school_price_cfg' %}" class="{% menu_style 'staff:school_price_cfg'%}">价格设置</a>
    </li>
{#    <li>#}
{#      <a href="{% url 'staff:level_salary_cfg' %}" class="{% menu_style 'staff:level_salary_cfg'%}">薪资设置</a>#}
{#    </li>#}
  </ul>

  <div class="mui-heading">订单管理</div>
  <ul class="mui-nav">
    <li>
      <a href="{% url 'staff:orders_review' %}" class="{% menu_style 'staff:orders_review' %}">购买订单</a>
    </li>
{#    <li>#}
{#      <a href="{% url 'staff:orders_refund' %}" class="{% menu_style 'staff:orders_refund' %}">退费审核</a>#}
{#    </li>#}
  </ul>

{#  <div class="mui-heading">老师资产</div>#}
{#  <ul class="mui-nav">#}
{#    <li>#}
{#      <a href="{% url 'staff:teachers_income_list' %}" class="{% menu_style 'staff:teachers_income_list' 'staff:teachers_income_detail'%}">老师收入</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="{% url 'staff:teachers_withdrawal_list' %}" class="{% menu_style 'staff:teachers_withdrawal_list' %}">提现审核</a>#}
{#    </li>#}
{#  </ul>#}

{#  <div class="mui-heading">奖学金</div>#}
{#  <ul class="mui-nav">#}
{#    <li>#}
{#      <a href="{% url 'staff:coupon_config' %}" class="{% menu_style 'staff:coupon_config' %}">奖学金设置</a>#}
{#    </li>#}
{#    <li>#}
{#      <a href="{% url 'staff:coupons_list' %}" class="{% menu_style 'staff:coupons_list' %}">奖学金领用列表</a>#}
{#    </li>#}
{#  </ul>#}

  <div class="mui-heading">校区资产</div>
  <ul class="mui-nav">
    <li>
      <a href="{% url 'staff:school_account_info' %}" class="{% menu_style 'staff:school_account_info' %}">账户金额</a>
    </li>
  </ul>

  <div class="mui-heading">财务</div>
  <ul class="mui-nav">
    <li>
      <a href="{% url 'staff:school_income_audit' %}" class="{% menu_style 'staff:school_income_audit' %}">校区提现</a>
    </li>
  </ul>

  <div class="mui-heading">校区管理(双师)</div>
  <ul class="mui-nav">
    <li>
      <a href="{% url 'staff:create_room' %}" class="{% menu_style 'staff:create_room' %}">创建教室</a>
    </li>
  </ul>
</div>
