<div role="tabpanel" class="tab-pane panel-group" id="staff_menu">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_teacher">
            <a role="button" data-toggle="{# collapse #}" data-parent="#staff_menu"
               href="#collapse_teacher" aria-controls="collapse_teacher">
                老师管理
            </a>
        </div>
        <div id="collapse_teacher" class="panel-collapse panel-body" role="tabpanel" aria-labelledby="heading_teacher">
            <div>
                <a href="{% url 'staff:teachers' %}"><span>新注册老师</span></a>
            </div>
            <div>
                <a href="{% url 'staff:teachers_unpublished' %}"><span>待上架老师</span></a>
            </div>
            <div>
                <a href="{% url 'staff:teachers_published' %}"><span>已上架老师</span></a>
            </div>
            <div>
                <span>教师级别调整记录</span>
            </div>
            <div>
                <span>老师银行卡查询</span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_pretest">
            <a role="button" data-toggle="{# collapse #}" data-parent="#staff_menu"
               href="#collapse_pretest" aria-controls="collapse_pretest">
                课前测评
            </a>
        </div>
        <div id="collapse_pretest" class="panel-collapse panel-body" role="tabpanel" aria-labelledby="heading_pretest">
            <div>
                <span>测评建档列表</span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_student">
            <a role="button" data-toggle="{# collapse #}" data-parent="#staff_menu"
               href="#collapse_student" aria-controls="collapse_student">
                学生管理
            </a>
        </div>
        <div id="collapse_student" class="panel-collapse panel-body" role="tabpanel" aria-labelledby="heading_student">
            <div>
                <a href="{% url 'staff:student_schedule_manage' %}"><span>调课与停课管理</span></a>
            </div>
            <div>
                <a href="{% url 'staff:student_schedule_changelog' %}"><span>调课停课记录</span></a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_school">
            <a role="button" data-toggle="{# collapse #}" data-parent="#staff_menu"
               href="#collapse_school" aria-controls="collapse_school">
                中心管理
            </a>
        </div>
        <div id="collapse_school" class="panel-collapse panel-body" role="tabpanel" aria-labelledby="heading_school">
            <div>
                <a href="{% url 'staff:school_timeslot' %}"><span>中心课程列表</span></a>
            </div>
            <div>
                <span>投诉记录</span>
            </div>
            <div>
                <span>考勤记录</span>
            </div>
            <div>
                <a href="{% url 'staff:schools' %}"><span>中心设置</span></a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_orders">
            <a role="button" data-toggle="{# collapse #}" data-parent="#staff_menu"
               href="#collapse_orders" aria-controls="collapse_orders">
                订单管理
            </a>
        </div>
        <div id="collapse_orders" class="panel-collapse panel-body" role="tabpanel" aria-labelledby="heading_orders">
            <div>
                <a href="{% url 'staff:orders_review' %}"><span>购买订单</span></a>
            </div>
            <div>
                <a href="{% url 'staff:orders_refund' %}"><span>退费审核</span></a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_account">
            <a role="button" data-toggle="{# collapse #}" data-parent="#staff_menu"
               href="#collapse_account" aria-controls="collapse_account">
                老师资产
            </a>
        </div>
        <div id="collapse_account" class="panel-collapse panel-body" role="tabpanel" aria-labelledby="heading_account">
            <div>
                <span>老师收入</span>
            </div>
            <div>
                <span>提现审核</span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading_coupon">
            <a role="button" data-toggle="{# collapse #}" data-parent="#staff_menu"
               href="#collapse_coupon" aria-controls="collapse_coupon">
                奖学金
            </a>
        </div>
        <div id="collapse_coupon" class="panel-collapse panel-body" role="tabpanel" aria-labelledby="heading_coupon">
            <div>
                <a href="{% url 'staff:coupon_config' %}"><span>奖学金设置</span></a>
            </div>
            <div>
                <a href="{% url 'staff:coupons_list' %}"><span>奖学金领用列表</span></a>
            </div>
        </div>
    </div>
</div>
