<div id="footer" class="footer">
  <div class="container">
    <small>
      &copy; Beijing Mala Online Network Technology Ltd &nbsp; |  &nbsp;

      <a href="{% url 'staff:index' %}" target="_blank">后台管理端</a> &nbsp; | &nbsp;
      <a href="{% url 'teacher:default-page' %}" target="_blank">老师端</a> &nbsp; | &nbsp;
      <a href="{% url 'web:patriarch-index' %}" target="_blank">官网</a> &nbsp; | &nbsp;
      <a href="{% url 'wechat:teachers' %}" target="_blank">微信端</a> &nbsp; | &nbsp;
      <a href="http://j.malalaoshi.com" target="_blank">Jira</a> &nbsp; | &nbsp;
      <a href="http://b.malalaoshi.com" target="_blank">Bitbucket</a> &nbsp; | &nbsp;
      <a href="http://ci.malalaoshi.com" target="_blank">CI</a> &nbsp; | &nbsp;
      <a href="http://wiki.malalaoshi.com" target="_blank">Wiki</a> &nbsp; | &nbsp;
      Revision: {{rev}} &nbsp; | &nbsp;
      Deployed at: {{deployed_at}}
    </small>
  </div>
</div>
