
{% block content %}

Join us
<br>
-----------------------------------------------------
<table>
    <tr>
        <td>Full Stack Software Engineer</td>
        <td>Beijing</td>
    </tr>
    <tr>
        <td>Web Back-end Software Engineer &nbsp;</td>
        <td>Beijing</td>
    </tr>
    <tr>
        <td>Android Software Engineer</td>
        <td>Beijing</td>
    </tr>
    <tr>
        <td>iOS Software Engineer</td>
        <td>Beijing</td>
    </tr>
    <tr>
        <td>Testing Software Engineer</td>
        <td>Beijing</td>
    </tr>
    <tr>
        <td>System Administrator</td>
        <td>Beijing</td>
    </tr>
</table>
-----------------------------------------------------
<br>
Contact: hr@malalaoshi.com

{% endblock %}
