@import "../teacher_page";
@icon-font-path: "../../../common/fonts/";

// 认证列表
#certificationsList.list-group {
  padding-top: 3px;
  padding-left: 25px;
  padding-right: 60px;
  .row.list-group-item {
    margin:0;
    padding: 0;
    height: 58px;
    line-height: 58px;
    border: 0;
    border-bottom: 1px dashed @border_color;
    clear: both;
    .col-flag {
      float: left;
      width: 50px;
      text-align: center;
    }
    .not-verified{
      font-size:12px;
      color: @text_light_gray_color;
      border: 1px solid @text_light_gray_color;
      border-radius: 2px;
    }
    .note{
      padding-top: 20px;
      line-height: 15px;
      font-size:12px;
      color: @text_gray_color;
    }
    .hint{
      font-size:12px;
      padding-right: 20px;
      &.yes{
        color: lightgreen;
      }
      &.no{
        color: red;
      }
    }
    .fake-btn {
      display: inline-block;
      width: 100px;
      height: 36px;
      line-height: 20px;
      font-size: 12px;
      border-radius: 2px;
      text-align: center;
    }
  }
}

.certificate-box {
  padding-top: 20px;
}

// 上传组件
@imgUploadBoxWidth: 141px;
@imgUploadBoxHeight: 119px;
@imgUploadBtnHeight: 30px;
.img-upload-box {
  position: relative;
  min-width: @imgUploadBoxWidth;
  width: @imgUploadBoxWidth;
  height: @imgUploadBoxHeight;
  .img-text {
    position: absolute;
    width: 100%;
    height: @imgUploadBoxHeight - @imgUploadBtnHeight;
    line-height: @imgUploadBoxHeight - @imgUploadBtnHeight;
    overflow: hidden;
    background: #ddd;
    text-align: center;
  }
  .img-box {
    position: absolute;
    width: 100%;
    height: @imgUploadBoxHeight;
    line-height: @imgUploadBoxHeight;
    overflow: hidden;
    background: #ddd;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .img-preview-box {
    display: none;
    position: absolute;
    width: 100%;
    height: @imgUploadBoxHeight;
    line-height: @imgUploadBoxHeight;
    overflow: hidden;
    background: #ddd;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .uploading-hint-box {
    position: absolute;
    display: none;
  }
  .file-input-mask{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @imgUploadBtnHeight;
    line-height: @imgUploadBtnHeight;
    overflow: hidden;
    background-color: rgba(0,0,0,0.07);
    border-radius: 0;
    border: 0;
    input {
      position: absolute;
      top: -16px;
      right: -16px;
      margin: 0;
      width: 100%;
      height: 200px;
      opacity: 0;
      filter: alpha(opacity=0);
      transform: scale(4);
      font-size: 16px;
      direction: ltr;
      cursor: pointer;
      color: transparent;
    }
  }
}

// 其他认证页面列表
#otherCertsList.list-group {
  padding-top: 3px;
  padding-left: 60px;
  padding-right: 60px;
  .row.list-group-item {
    margin: 0;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px inset @text_light_gray_color;
  }
  .cert-name {
    padding-bottom: 5px;
  }
  .cert-img-view {
    width: 125px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    text-align: center;
    border: 1px solid @border_color;
    img{
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .col-btns {
    padding-top: 10px;
  }
  .btn {
    width: 38px;
    height: 22px;
    padding: 0;
    background-color: @text_gray_color;
    font-size: 12px;
    color: white;
  }
}