{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}直播班级列表{% endblock %}

{% block addition_js %}
{% endblock %}

{% block content %}
    <form name="query_form" class="form-inline">

        <div class="form-group">
            <input type="submit" class="form-control btn-success" value="查询"/>
        </div>
    </form>

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th class="text-center">课程编号</th>
            <th class="text-center">课程名称</th>
            <th class="text-center">课时次数</th>
            <th class="text-center">费用</th>
            <th class="text-center">报名人数/慢班人数</th>
            <th class="text-center">操作</th>
        </tr>
        {% for lc in live_classes %}
            <tr align="center">
{# 课程编号 #}    <td>{{ lc.live_course.course_no }}</td>
{# 课程名称 #}    <td>{{ lc.course_name }}</td>
{# 课时次数 #}    <td>{{ lc.course_lessons }}</td>
{# 费用 #}       <td>{{ lc.course_fee|money_format:'/' }}</td>
{# 报名人数/慢班人数 #}
                <td>{{ lc.students_count }}/{{ lc.room_capacity }}</td>
{# 操作 #}       <td>无</td>
            </tr>
        {% endfor %}
    </table>
    {% include 'pagination_nav.html' %}

{% endblock %}
