{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}新开双师直播课程{% endblock %}
{% block addition_header %}
    <link href="{% static 'staff/less/live_course/show.less'|compile %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block addition_js %}
    <script>
        var is_show = {% if is_show %}true{% else %}false{% endif %}, timeslots = [];
        {% for t in timeslots %}timeslots.push({'start':{{t.start.timestamp}}, 'end':{{t.end.timestamp}}});{% endfor %}
    </script>
    <script src="{% static 'staff/js/live_course/show.js' %}"></script>
{% endblock %}

{% block content %}
<form id="liveCourseEditForm" class="form-horizontal" method="post">
    {% csrf_token %}
    <input type="hidden" id="server_timestamp" value="{{ server_timestamp }}"/>
    <div class="form-group">
        <label for="course_no" class="col-sm-3 col-md-3 col-lg-2 control-label">课程编号</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="course_no" name="course_no" value="{{ dtlc.course_no }}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-3 col-md-3 col-lg-2 control-label">课程名称</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="name" name="name" value="{{ dtlc.name }}">
        </div>
    </div>
    <div class="form-group">
        <label for="timeslots" class="col-sm-3 col-md-3 col-lg-2 control-label">可用时间</label>
        <div class="col-sm-8">
            <table class="text-center" border="1" id="weekly_time_table" data-weekoffset="0">
                <tr class="actions-row"><td colspan="8" id="weekly_date_span">
                    <button type="button" id="preWeekBtn"><span class="glyphicon glyphicon-chevron-left"></span>上周</button>
                    <span id="week_date_start">YYYY-MM-D1</span>
                    <span> -- </span>
                    <div id="returnToday" style="display: none;float: left;">
                        <button type="button" id="curWeekBtn">本周</button>
{#                        <span> -- </span>#}
                    </div>
                    <span id="week_date_end">YYYY-MM-D7</span>
                    <button type="button" id="nextWeekBtn">下周<span class="glyphicon glyphicon-chevron-right"></span></button>
                </td></tr>
                <tr class="days-row">
                    <td>时间/周</td>
                    <td>周一<br>(<span>MM-D1</span>)</td>
                    <td>周二<br>(<span>MM-D2</span>)</td>
                    <td>周三<br>(<span>MM-D3</span>)</td>
                    <td>周四<br>(<span>MM-D4</span>)</td>
                    <td>周五<br>(<span>MM-D5</span>)</td>
                    <td>周六<br>(<span>MM-D6</span>)</td>
                    <td>周日<br>(<span>MM-D7</span>)</td>
                </tr>
                {% for time_slot in daily_time_slots %}
                    <tr class="phases-row" data-seq="{{ forloop.counter }}"
                        data-start="{{ time_slot.start|time:'H:i' }}" data-end="{{ time_slot.end|time:'H:i' }}">
                        <td class="hours-col">{{ time_slot.start|time:'H:i' }}-{{ time_slot.end|time:'H:i' }}</td>
                        {% for day in 7|num_range %}
                            <td class="phase" data-day="{{ day }}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="form-group">
        <label for="timeslots" class="col-sm-3 col-md-3 col-lg-2 control-label">上课时间</label>
        <div class="col-sm-5">
            <div class="clearfix form-control-static">共<span id="lessons_count">0</span>次</div>
            <script id="lesson_template" type="text/template">
                <div class="time_slot">
                    <%= start %> - <%= end %>(周<%= weekday %><%= short_date %>)
                </div>
            </script>
            <div id="lessons_preview">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="period_desc" class="col-sm-3 col-md-3 col-lg-2 control-label">输入时间段</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="period_desc" name="period_desc" value="{{ dtlc.period_desc }}">
        </div>
    </div>
    <div class="form-group">
        <label for="grade_desc" class="col-sm-3 col-md-3 col-lg-2 control-label">输入年级</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="grade_desc" name="grade_desc" value="{{ dtlc.grade_desc }}">
        </div>
    </div>
    <div class="form-group">
        <label for="subject" class="col-sm-3 col-md-3 col-lg-2 control-label">选择科目</label>
        <div class="col-sm-1">
            <select class="form-control" id="subject" name="subject">
                <option value="">请选择科目</option>
                {% for subject in subjects %}
                    <option value="{{ subject.id }}" {% if subject.id == dtlc.subject.id %} selected="selected"{% endif %}>{{ subject.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="fee" class="col-sm-3 col-md-3 col-lg-2 control-label">课程费用</label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="fee" name="fee" value="{{ dtlc.fee }}">
        </div>
        <p class="form-control-static">元</p>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 col-md-3 col-lg-2 control-label">课程介绍</label>
        <div class="col-sm-3">
            <textarea rows="3" class="form-control" id="description" name="description">{{ dtlc.description }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="lecturer" class="col-sm-3 col-md-3 col-lg-2 control-label">绑定讲师</label>
        <div class="col-sm-1">
            <select class="form-control" id="lecturer" name="lecturer">
                <option value="">请选择讲师</option>
                {% for lecturer in lecturers %}
                    <option value="{{ lecturer.id }}" {% if lecturer.id == dtlc.lecturer.id %} selected="selected"{% endif %}>{{ lecturer.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="classes" class="col-sm-3 col-md-3 col-lg-2 control-label">绑定助教</label>
        <div class="col-sm-5">
        {% for class_room in class_rooms %}
            <div class="clearfix class-room" data-crid="{{ class_room.id }}">
                <div class="col-sm-4 form-control-static">
                    {{ class_room.school.name }}({{ class_room.name }})
                </div>
                <div class="col-sm-4">
                    <select class="form-control" name="assistant">
                        <option value="">请选择助教</option>
                        {% for assistant in class_room.assistants %}
                            <option value="{{ assistant.id }}" {% if assistant.id == class_room.assistant_id %}
                                    selected="selected"{% endif %}>{{ assistant.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 col-md-3 col-lg-2"></div>
        <div class="col-sm-2">
            <button class="btn btn-lg btn-primary" id="submitBtn">创建课程</button>
        </div>
    </div>
</form>
{% endblock %}
