.img-upload-box {
  position: relative;
  min-width: 141px;
  width: 141px;
  height: 119px;
}
.img-upload-box .img-text {
  position: absolute;
  width: 100%;
  height: 89px;
  line-height: 89px;
  overflow: hidden;
  background: #ddd;
  text-align: center;
}
.img-upload-box .img-box {
  position: absolute;
  width: 100%;
  height: 119px;
  line-height: 119px;
  overflow: hidden;
  background: #ddd;
  text-align: center;
}
.img-upload-box .img-box img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.img-upload-box .img-preview-box {
  display: none;
  position: absolute;
  width: 100%;
  height: 119px;
  line-height: 119px;
  overflow: hidden;
  background: #ddd;
  text-align: center;
}
.img-upload-box .img-preview-box img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.img-upload-box .uploading-hint-box {
  position: absolute;
  display: none;
}
.img-upload-box .file-input-mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 0;
  border: 0;
}
.img-upload-box .file-input-mask input {
  position: absolute;
  top: -16px;
  right: -16px;
  margin: 0;
  width: 100%;
  height: 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(4);
  font-size: 16px;
  direction: ltr;
  cursor: pointer;
  color: transparent;
}
