{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}学习中心编辑{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'staff/less/school/school.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'common/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'common/js/underscore.js' %}"></script>
    <script src="{% static 'staff/js/school/school_edit.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="edit-content">
        <form class="form-inline school-edit" method="post" action="{% url 'staff:staff_school' %}" enctype="multipart/form-data" id="editForm">
            {% csrf_token %}
            <input type="hidden" name="schoolId" value="{{schoolId}}" />
            <div class="form-head">
                <h3>
                {%if school.id%}
                    中心编辑
                {%else%}
                    新增中心
                {%endif%}
                </h3>
            </div>
            <div class="form-row">
                <label>中心名称</label>
                <div>
                    <input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="请输入中心名称" value="{{school.name }}" style="display: inline;">
                </div>
            </div>
            <div class="form-row">
                <label>中心类别</label>
                <div>
                    <select class="form-control" name="center">
                      <option {%if school.center%}selected{%else%}{%endif%} value="1">体验中心</option>
                      <option {%if school.center%}{%else%}selected{%endif%} value="0">社区中心</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <label>是否开放</label>
                <div>
                    <select class="form-control" name="opened">
                      <option {%if school.opened%}selected{%else%}{%endif%} value="1">是</option>
                      <option {%if school.opened%}{%else%}selected{%endif%} value="0">否</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <label>所属地区</label>
                <div class="school-place">
                    <select class="form-control">
                      <option>河南</option>
                    </select>
                    <select class="form-control" name="regionId">
                    {% for region in region_list %}
                        <option value="{{region.id}}" {%if region.id|stringformat:"i" == school.region.id %} selected="selected"{% endif %}>{{ region.name }}</option>
                    {% endfor %}
                    </select>
                    <select class="form-control">
                      <option></option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <label>详细地址</label>
                <div>
                    <input type="text" class="form-control" name="address" placeholder="" style="display: inline;" value="{{school.address}}" />
                </div>
            </div>
            <div class="form-row">
                <label>上课座位</label>
                <div>
                    <input type="number" data-action="integer" class="form-control" name="class_seat" placeholder="" style="display: inline;" value="{{school.class_seat}}" />
                </div>
            </div>
            <div class="form-row">
                <label>自习座位</label>
                <div>
                    <input type="number" data-action="integer" class="form-control" name="study_seat" placeholder="" style="display: inline;" value="{{school.study_seat}}" />
                </div>
            </div>
            <div class="form-row member-service">
                <label>会员服务</label>
                <div>
                    <input type="text" class="form-control" id="" name="" value="问题答疑" readonly>
                    <input type="text" class="form-control" id="" name="" value="心里辅导" readonly>
                    <input type="text" class="form-control" id="" name="" value="实时答疑" readonly>
                    <input type="text" class="form-control" id="" name="" value="自习陪读" readonly>
                    <input type="text" class="form-control" id="" name="" value="考前串讲" readonly>
                    <input type="text" class="form-control" id="" name="" value="茶水饮料" readonly>
                    <input type="text" class="form-control" id="" name="" value="实习报告" readonly>
                    <input type="text" class="form-control" id="" name="" value="作业辅导" readonly>
                </div>
            </div>
            <div class="image-view">
                <label>环境图片</label>
                <div class="image-box">
                    {% if not school.schoolphoto_set.all %}
                    <div class="image-edit-box">
                        <div class="img-upload-box">
                            <div class="img-box">
                                <img src={{ teacher.user.profile.avatar_url }}>
                            </div>
                            <div class="img-preview-box"><img src=""></div>
                            <div class="uploading-hint-box"></div>
                        </div>
                        <div class="help-block"></div>
                        <div class="actions">
                            <a class="btn btn-default file-input-mask text-center">
                                <span>上传/重传</span>
                                <input title="请选择图片" type="file" name="schoolImg" multiple="" accept="image/*"/>
                            </a>
                            <a class="btn btn-default" data-action="delete-photo">删除</a>
                        </div>
                    </div>
                    {%else%}
                        {%for photo in school.schoolphoto_set.all %}
                        <div class="image-edit-box">
                            <input type="hidden" name="schoolImgId" value="{{photo.id}}"/>
                            <div class="img-upload-box">
                                <div class="img-box">
                                    <img src={{ photo.img_url }}>
                                </div>
                                <div class="img-preview-box"><img src=""></div>
                                <div class="uploading-hint-box"></div>
                            </div>
                            <div class="help-block"></div>
                            <div class="actions">
                                <a class="btn btn-default file-input-mask text-center">
                                    <span>上传/重传</span>
                                    <input title="请选择图片" type="file" name="schoolImg" multiple="" accept="image/*"/>
                                </a>
                                <a class="btn btn-default" data-action="delete-photo">删除</a>
                            </div>
                        </div>
                        {%endfor%}
                    {%endif%}
                    <div class="right-add">
                        <a class="btn btn-default" data-action="add-more-photo">+</a>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经度</label>
                <div>
                    <input type="number" class="form-control" id="longitude" name="longitude" value="{{school.longitude }}" style="display: inline;">
                </div>
            </div>
            <div class="form-row">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;纬度</label>
                <div>
                    <input type="number" class="form-control" id="latitude" name="latitude" value="{{school.latitude }}" style="display: inline;">
                </div>
            </div>
            <div class="form-row">
                <button class="btn btn-default submit_button" id="subBtn">提交</button>
            </div>
        </form>
    </div>
{% endblock %}
