{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}学习中心管理{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'staff/less/school/schools.less'|compile %}">
{% endblock %}

{% block addition_js %}
    <script src="{% static 'common/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'common/js/underscore.js' %}"></script>
    <script src="{% static 'staff/js/school/schools.js' %}"></script>
{% endblock %}

{% block content %}
    <form name="query_form">
        <a class="btn btn-default" href="{% url 'staff:staff_school' %}">新增中心</a>
    </form>

    <table class="text-center" align="center" border="1" cellspacing="0" width="100%">
        <tr>
            <th class="text-center">中心名称</th>
            <th class="text-center">是否开放</th>
            <th class="text-center">类型</th>
            <th class="text-center">所在地区</th>
            <th class="text-center">详细地址</th>
            <th class="text-center">电话</th>
            <th class="text-center">环境图片</th>
            <th class="text-center">上课座位</th>
            <th class="text-center">自习座位</th>
            <th class="text-center">会员服务</th>
            <th class="text-center">操作</th>
        </tr>
        {% for school in schools %}
            <tr schoolId="{{ school.id }}">
                <td>{{school.name }}</td>
                <td>{%if school.opened%}是{%else%}否{%endif%}</td>
                <td>{%if school.center%}体验中心{%else%}社区中心{%endif%}</td>
                <td>{%if school.region.superset%}{{school.region.superset.name}}-{%endif%}{{school.region.name }}</td>
                <td>{{school.address }}</td>
                <td>{%if school.phone%}{{school.phone}}{%endif%}</td>
                <td>{%if school.schoolphoto_set.all%}<a href="javascript:void(0);" target="_blank" onclick="showImages({{school.id}})">查看</a>{%endif%}</td>
                <td>{{ school.class_seat }}</td>
                <td>{{ school.study_seat }}</td>
                <td>
                    {%if school.member_services.all%}
                        {%for service in school.member_services.all%}
                            {{service.name}}
                            {%if forloop.counter|divisibleby:4%}<br/>{%endif%}
                        {%endfor%}
                    {%endif%}
                </td>
                <td><a href="{% url 'staff:staff_school' %}?schoolId={{school.id}}">编辑</a></td>
            </tr>
            <div style="display: none;" id="hiddenImages{{school.id}}">
            {%if school.schoolphoto_set.all%}
                {%for photo in school.schoolphoto_set.all %}
                    <img src="{{photo.img_url}}"/>
                {%endfor%}
            {%endif%}
            </div>
        {% endfor %}
    </table>

    <div id="imageModal" class="modal fade in school-img-modal">
        <div class="img-cont" id="imgContent">
        </div>
        <div class="modal-footer">
            <input type="button" value="关闭" data-dismiss="modal" class="btn btn-default">
        </div>
    </div>
{% endblock %}
