.form-horizontal{
  margin-top: 20px;
  .controls{
    display: inline;
    margin-left: 10px;
  }
  .control-group{
    label{
      width: 90px;
    }
  }
  .control-group:nth-child(n+3){
    margin-top: 10px;
  }
}

#saveBtn{
  margin-bottom: 20px;
}
