{% extends "teacher/teacher_frame.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}
    我的钱包
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" href="{% static 'teacher/less/teacher_page.less'|compile %}">
    <link rel="stylesheet" href="{% static 'teacher/less/wallet/bankcard_add.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'common/js/utils/tools.js' %}"></script>
    <script src="{% static 'teacher/js/wallet/bankcard_add.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% csrf_token %}
    <a href="{% url 'teacher:wallet' %}"><span class="title">我的钱包</span></a>
    &gt;
    <span>添加银行卡</span>
{% endblock %}

{% block maincontent %}
    <div class="hint">
        <span class="glyphicon glyphicon-exclamation-sign warning-icon"></span>
        您好，为了保障您的资金安全，请绑定本人银行卡，只能提现至本人银行卡。
        <span class="glyphicon glyphicon-remove-sign close-icon"></span>
    </div>
    <div class="bankcard-add-box">
        <form class="form-horizontal" id="bankcardAddForm" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">持卡人</label>
                <div class="col-sm-7">
                    <p class="form-control-static">
                        <input type="hidden" id="teacherName" name="teacherName" value="{{ teacherName }}"/>
                        <span class="teacher-name">{{ teacherName }}</span>
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"
                          title="<div class='text-left'>为了您的账户资金安全，只能绑定持卡人本人的银行卡。获取更多帮组，请致电麻辣老师客服 010-88776655</div>"></span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="id_num" class="col-sm-2 control-label">身份证号</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="id_num" name="id_num" value="{{ id_num }}" maxlength="20" placeholder="身份证号">
                    <span class="hint-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="card_number" class="col-sm-2 control-label">银行卡号</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="card_number" name="card_number" maxlength="25">
                    <span class="hint-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">手机号</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ phone }}" maxlength="20" placeholder="请输入银行预留手机号">
                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"
                          title="<div class='text-left'>银行预留的手机号是办理该银行卡时所填写的手机号码。没有预留、手机号忘记或者已停用，请联系银行客服更新处理</div>"></span>
                    <span class="hint-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="checkcode" class="col-sm-2 control-label">手机验证码</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="checkcode" name="checkcode" maxlength="10" placeholder="请输入验证码">
                    <a class="btn btn-success disabled" data-action="get-checkcode">获取验证码</a>
                    <span class="hint-block"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-7">
                    <a class="btn btn-success disabled" data-action="next-step">下一步</a>
                    <span class="hint-block"></span>
                </div>
            </div>
        </form>
    </div>
{% endblock %}