{% extends "teacher/teacher_frame.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}
    我的钱包
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" href="{% static 'teacher/less/teacher_page.less'|compile %}">
    <link rel="stylesheet" href="{% static 'teacher/less/wallet/wallet.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'teacher/js/wallet/wallet.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% csrf_token %}
    <span class="title">我的钱包</span>
{% endblock %}

{% block maincontent %}
    <div class="clearfix panel summary">
        <div class="col-md-8 amounts">
            <div class="panel-body balance-box">
                <div class="col-md-5">可用余额: <span class="balance">￥{{ account.calculated_balance|money_format:'' }}</span></div>
                <div class="col-md-7 text-right actions">
                    <a class="btn btn-small btn-default go-withdraw">提现</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="show-withdraws">提现记录</a>
                </div>
            </div>
            <div class="panel-body sum-box">
                <div class="col-md-5 border-right">累计收入: ￥{{ account.accumulated_income|money_format:'' }}</div>
                <div class="col-md-5">未消耗课时金额: ￥{{ account.anticipated_income|money_format:'' }}</div>
            </div>
        </div>
        <div class="col-md-4 panel-body bank-card">
            <div class="title"><span class="glyphicon glyphicon-credit-card"></span>我的银行卡</div>
            <div class="bank-card-add text-center">
                <span class="glyphicon glyphicon-plus"></span>添加银行卡
            </div>
        </div>
    </div>
    <div class="panel history">
        <div class="title">收支明细</div>
        <table class="history-list" border="1" width="100%">
            <tr class="heading"><th width="30%">时间</th><th width="25%">金额</th><th>备注</th></tr>
            {% for hist in histories %}
                <tr class="item">
                    <td class="time">{{ hist.submit_time|date:'Y-m-d H:i' }}</td>
                    <td class="amount {% if hist.amount >= 0 %}income{% else %}outgoing{% endif %}">{{ hist.amount|money_format }}</td>
                    <td class="comment">{% if hist.comment %}{{ hist.comment }}{% else %}{% if hist.amount >= 0 %}收入{% else %}支出{% endif %}{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-info">
            每页显示10条, 共{{ histories.count }}条
        </div>
    </div>
{% endblock %}
