{% extends "teacher/teacher_frame.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}
    我的钱包
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" href="{% static 'teacher/less/teacher_page.less'|compile %}">
    <link rel="stylesheet" href="{% static 'teacher/less/wallet/wallet.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script>var histories_url = '{% url 'teacher:wallet-histories' action='histories' %}';</script>
    <script src="{% static 'teacher/js/wallet/wallet.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% csrf_token %}
    <span class="title">我的钱包</span>
{% endblock %}

{% block maincontent %}
    <div class="clearfix panel summary">
        <div class="col-sm-8 amounts">
            <div class="panel-body balance-box">
                <div class="col-sm-5">可提现金额: <span class="balance">￥{{ calculated_balance|money_format:'/' }}</span></div>
                <div class="col-sm-7 text-right actions">
                    <a class="btn btn-small btn-default
                    {% if can_withdrawal == False %}
                    disabled btn-disabled
                    {% endif %}
                    go-withdraw" href="{% url 'teacher:my-wallet-withdrawal' %}">提现</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="show-withdraws" href="{% url 'teacher:my-wallet-withdrawal-record' %}">提现记录</a>
                </div>
            </div>
            <div class="panel-body sum-box">
                <div class="col-sm-5 border-right">累计收入: ￥{{ account.accumulated_income|money_format:'/' }}</div>
                <div class="col-sm-5">未消耗课时金额: ￥{{ account.anticipated_income|money_format:'/' }}</div>
            </div>
        </div>
        <div class="col-sm-4 panel-body bank-card-box">
            <div class="title"><span class="glyphicon glyphicon-credit-card"></span>我的银行卡</div>
            {% if bankcard %}
                <div class="bank-card">
                    <div class="title">{{ bankcard.bank_name }}</div>
                    <div>{{ bankcard.mask_number }}</div>
                    <div class="unbind-hint">
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left"
                              title="<div class='text-left'>{{ unbind_hint }}</div>"></span>
                    </div>
                </div>
            {% else %}
                <div class="bank-card-add text-center">
                    <a href="{% url 'teacher:wallet-bankcard-add' %}"><span class="glyphicon glyphicon-plus"></span>添加银行卡</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="panel history">
        <div class="title">收支明细</div>
        <table class="history-list" border="1" width="100%">
            <tr class="heading"><th width="30%">时间</th><th width="25%">金额</th><th>备注</th></tr>
            {% for hist in histories %}
                <tr class="item">
                    <td class="time">{{ hist.submit_time|date:'Y-m-d H:i' }}</td>
                    <td class="amount {% if hist.amount >= 0 %}income{% else %}outgoing{% endif %}">{{ hist.amount|money_format }}</td>
                    <td class="comment">
                        {% if hist.withdrawal %}
                            {% if hist.withdrawal.is_rejected %}
                                提现失败
                            {% else %}
                                提现
                            {% endif %}
                        {% else %}
                            {% if hist.comment %}{{ hist.comment }}{% else %}{% if hist.amount >= 0 %}收入{% else %}支出{% endif %}{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center" colspan="3">没有记录</td>
                </tr>
            {% endfor %}
        </table>
        <div class="clearfix page-info">
            <div class="pull-left">每页显示{% if pager and pager.page_size %}{{ pager.page_size }}{% else %}10{% endif %}条, 共{% if pager %}{{ pager.total_count }}{% else %}{{ histories.count }}{% endif %}条</div>
            <div class="pull-right">
                {% include 'pagination_nav.html' %}
            </div>
        </div>
    </div>
{% endblock %}
