<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>subset</key>
		<array>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>id</key>
				<integer>2</integer>
				<key>name</key>
				<string>小学一年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>id</key>
				<integer>3</integer>
				<key>name</key>
				<string>小学二年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>id</key>
				<integer>4</integer>
				<key>name</key>
				<string>小学三年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>id</key>
				<integer>5</integer>
				<key>name</key>
				<string>小学四年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>id</key>
				<integer>6</integer>
				<key>name</key>
				<string>小学五年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>id</key>
				<integer>7</integer>
				<key>name</key>
				<string>小学六年级</string>
			</dict>
		</array>
		<key>subjects</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>小学</string>
	</dict>
	<dict>
		<key>subset</key>
		<array>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
				</array>
				<key>id</key>
				<integer>9</integer>
				<key>name</key>
				<string>初中一年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
				</array>
				<key>id</key>
				<integer>10</integer>
				<key>name</key>
				<string>初中二年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
				</array>
				<key>id</key>
				<integer>11</integer>
				<key>name</key>
				<string>初中三年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
				</array>
				<key>id</key>
				<integer>12</integer>
				<key>name</key>
				<string>初中四年级</string>
			</dict>
		</array>
		<key>subjects</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>初中</string>
	</dict>
	<dict>
		<key>subset</key>
		<array>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
				</array>
				<key>id</key>
				<integer>14</integer>
				<key>name</key>
				<string>高中一年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
				</array>
				<key>id</key>
				<integer>15</integer>
				<key>name</key>
				<string>高中二年级</string>
			</dict>
			<dict>
				<key>subset</key>
				<array/>
				<key>subjects</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>7</integer>
					<integer>8</integer>
					<integer>9</integer>
				</array>
				<key>id</key>
				<integer>16</integer>
				<key>name</key>
				<string>高中三年级</string>
			</dict>
		</array>
		<key>subjects</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>高中</string>
	</dict>
</array>
</plist>
