<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>幽默</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>与孩子做朋友</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>专治厌学</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>集中注意力</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>心理辅导</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>充满正能量</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>引导教学</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>提升自信心</string>
	</dict>
</array>
</plist>
