{% extends "lecturer/lecturer_base.html" %}

{% load staticfiles %}
{% load compile_static %}

{% block title %}麻辣老师双师直播后台 - 题组管理页面{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'lecturer/less/store/store_base.less'|compile %}?{% lorem 1 w random%}">
{% endblock %}
{% block addition_js %}
    <script src='https://unpkg.com/vue@2.1.8/dist/vue.min.js'></script>
    <script src="{% static 'lecturer/js/store/store_base.js' %}?{% lorem 1 w random%}"></script>
{% endblock %}

{% block content %}

{% endblock %}
