{% extends "lecturer/lecturer_base.html" %}

{% load staticfiles %}
{% load compile_static %}

{% block title %}麻辣老师双师直播后台 - 题组管理页面{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'lecturer/less/store/store_base.less'|compile %}?{% lorem 1 w random%}">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
{% endblock %}
{% block addition_js %}
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="{% static 'lecturer/js/store/store_base.js' %}?{% lorem 1 w random%}"></script>
{% endblock %}

{% block content %}
<div id="store-root">
    <store-container></store-container>
</div>
{% endblock %}
