@timePastColor: #ddd;
@timeChosenColor: #5588ff;

#weekly_time_table {
  .phase {
    &.past {
      background-color: @timePastColor;
    }
    &.chosen {
      background-color: @timeChosenColor;
    }
  }
}