{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}老师银行卡查询{% endblock %}
{% block addition_js %}
    <script src="{% static 'staff/js/teacher/teacher_income.js' %}"></script>
{% endblock %}

{% block content %}
    <form name="query_form">
        姓名 <input type="text" name="name" value="{{ query_data.name }}" size="10" />
        手机号 <input type="text" name="phone" value="{{ query_data.phone }}" size="12" />
        <input type="submit" value="查询"/>
        <input type="button" value="导出"/>
    </form>

    <table class="text-center" align="center" border="1" cellspacing="0" width="100%">
        <tr>
            <th class="text-center">老师姓名</th>
            <th class="text-center">手机号</th>
            <th class="text-center">授课年级</th>
            <th class="text-center">科目</th>
            <th class="text-center">所在地区</th>
            <th class="text-center">账户余额</th>
            <th class="text-center">可提现金额</th>
            <th class="text-center">累计收入</th>
            <th class="text-center">收入明细</th>
        </tr>
        {% for account in accounts %}
            <tr>
                <td field="name">{# 老师姓名 #} {{ account.user.teacher.name }}</td>
                <td>{# 手机号 #} {{ account.user.profile.phone }}</td>
                <td>{# 授课年级 #} {% if account.user.teacher.grades %} {% for g in account.user.teacher.grades %} {{ g.name }}<br>{% endfor %} {% else %}未填{% endif %}</td>
                <td>{# 科目 #} {% if account.user.teacher.subject %}{{ account.user.teacher.subject }}{% else %}未填{% endif %}</td>
                <td>{# 所在地区 #} {% if account.user.teacher.region %}{{ account.user.teacher.region.full_name }}{% else %}未填{% endif %}</td>
                <td>{# 账户余额 #} {{ account.calculated_balance|money_format:'' }}</td>
                <td>{# 可提现金额 #} {{ account.calculated_balance|money_format:'' }}</td>
                <td>{# 累计收入 #} {{ account.accumulated_income|money_format:'' }}</td>
                <td field="action">{# 收入明细 #}
                    TODO
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'pagination_nav.html' %}
{% endblock %}
