{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}{{ teacher.name }}老师收入明细{% endblock %}
{% block addition_js %}
    <script src="{% static 'staff/js/teacher/teacher_income.js' %}"></script>
{% endblock %}

{% block content %}
    <form name="query_form">
        日期
        <input type="text" name="date_from" value="{{ query_data.date_from }}" size="10" />
         -
        <input type="text"  name="date_to" value="{{ query_data.date_to }}" size="10" />
        订单号 <input type="text" name="order_id" value="{{ query_data.order_id }}" size="12" />
        <input type="submit" value="查询"/>
        <input type="button" value="导出"/>
    </form>

    <table class="text-center" align="center" border="1" cellspacing="0" width="100%">
        <tr>
            <th class="text-center">日期</th>
            <th class="text-center">订单号</th>
            <th class="text-center">上课年级</th>
            <th class="text-center">科目</th>
            <th class="text-center">教师级别</th>
            <th class="text-center">上课时间</th>
            <th class="text-center">课时单价</th>
            <th class="text-center">消耗课时</th>
            <th class="text-center">佣金比例</th>
            <th class="text-center">收入金额</th>
            <th class="text-center">当日收入</th>
        </tr>
        {% for hist in histories %}
            <tr>
                <td rowspan="{{ hist.count }}">{# 日期 #} {{ hist.day|date:"Y-m-d" }}</td>
                <td>{# 订单号 #} {{ hist.records.0.timeslot.order.order_id }}</td>
                <td>{# 上课年级 #} {{ hist.records.0.timeslot.order.grade.name }}</td>
                <td>{# 科目 #} {{ hist.records.0.timeslot.order.subject.name }}</td>
                <td>{# 教师级别 #}
                    {% if hist.records.0.timeslot %}
                        {% if hist.records.0.timeslot.order.level.name %}
                            {{ hist.records.0.timeslot.order.level.name }}
                        {% else %}
                            初级
                        {% endif %}
                    {% endif %}
                </td>
                <td>{# 上课时间 #} {{ hist.records.0.timeslot.start|date:'H:i' }} - {{ hist.records.0.timeslot.end|date:'H:i' }}</td>
                <td>{# 课时单价 #}
                    {% if hist.records.0.timeslot.order.price %}
                        {{ hist.records.0.timeslot.order.price|money_format:'/' }}
                    {% endif %}
                </td>
                <td>{# 消耗课时 #} {{ hist.records.0.timeslot.duration_hours }}</td>
                <td>{# 佣金比例 #}
                    {% if hist.records.0.timeslot %}
                        {{ hist.records.0.timeslot.order.commission_percentage }}%
                    {% endif %}
                </td>
                <td>{# 收入金额 #} {{ hist.records.0.amount|money_format:'/' }}</td>
                <td rowspan="{{ hist.count }}">{# 当日收入 #} {{ hist.income|money_format:'/' }}</td>
            </tr>
            {% if hist.count > 0 %}
                {% for record in hist.records|sub_list:'1:' %}
                    <tr>
                        <td>{# 订单号 #} {{ record.timeslot.order.order_id }}</td>
                        <td>{# 上课年级 #} {{ record.timeslot.order.grade.name }}</td>
                        <td>{# 科目 #} {{ record.timeslot.order.subject.name }}</td>
                        <td>{# 教师级别 #}
                            {% if record.timeslot %}
                                {% if record.timeslot.order.level.name %}
                                    {{ record.timeslot.order.level.name }}
                                {% else %}
                                    初级
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{# 上课时间 #} {{ record.timeslot.start|date:'H:i' }} - {{ hist.records.0.timeslot.end|date:'H:i' }}</td>
                        <td>{# 课时单价 #}
                            {% if record.timeslot.order.price %}
                                {{ record.timeslot.order.price|money_format:'/' }}
                            {% endif %}
                        </td>
                        <td>{# 消耗课时 #} {{ record.timeslot.duration_hours }}</td>
                        <td>{# 佣金比例 #}
                            {% if record.timeslot %}
                                {{ record.timeslot.order.commission_percentage }}%
                            {% endif %}
                        </td>
                        <td>{# 收入金额 #} {{ record.amount|money_format:'/' }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
    {% include 'pagination_nav.html' %}
{% endblock %}
