{% extends "staff/staff_base.html" %}

{% load custom_tags %}
{% load staticfiles %}
{% load compile_static %}
{% block title %}老师资料 - {{ teacher.name }}{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'staff/less/teacher/teachers.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script>
        var listPageUrl = "{% if teacher.published %}{% url 'staff:teachers_published' %}{% else %}{% url 'staff:teachers_unpublished' %}{% endif %}";
    </script>
    <script src="{% static 'staff/js/teacher/teacher_edit.js' %}"></script>
{% endblock %}

{% block content %}
<form id="teacherEditForm" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="text-center">
        <b>老师资料 - {{ teacher.name }}</b>
        <div class="pull-right">
            <a class="btn btn-success" data-action="submit">保存</a>
        </div>
    </div>
    <hr>

{#基本信息#}
    <div class="row">
        <div class="col-sm-6 border-right">
            <div class="form-group">
                <label for="name" class="col-sm-3 col-md-3 col-lg-2 control-label">老师姓名</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" name="name" value="{{ teacher.name }}">
                </div>
            </div>
            <div class="form-group">
                <label for="id_num" class="col-sm-3 col-md-3 col-lg-2 control-label">身份证号</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="id_num" name="id_num" value="{{ cert_id_held.name }}">
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-3 col-md-3 col-lg-2 control-label">手机号</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ teacher.user.profile.phone }}">
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-3 col-md-3 col-lg-2 control-label">性别</label>
                <div class="col-sm-9">
                    <select name="gender">
                        {% for val,text in gender_choices %}
                            <option value="{{ val }}" {% if val == teacher.user.profile.gender %} selected="selected"{% endif %}>{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="region" class="col-sm-3 col-md-3 col-lg-2 control-label">所在地区</label>
                <div class="col-sm-9">
                    <select name="province">
                        <option value="">请选择省</option>
                        {% for province in provinces %}
                            <option value="{{ province.id }}" {% if province.id == region_dict.province.id %} selected="selected"{% endif %}>{{ province.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="city">
                        <option value="">请选择市</option>
                        {% for city in cities %}
                            <option value="{{ city.id }}" {% if city.id == region_dict.city.id %} selected="selected"{% endif %}>{{ city.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="district">
                        <option value="">请选择区</option>
                        {% for district in districts %}
                            <option value="{{ district.id }}" {% if district.id == region_dict.district.id %} selected="selected"{% endif %}>{{ district.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="teaching_age" class="col-sm-3 col-md-3 col-lg-2 control-label">教龄</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="teaching_age" name="teaching_age" value="{{ teacher.teaching_age }}年">
                </div>
            </div>
            <div class="form-group">
                <label for="level" class="col-sm-3 col-md-3 col-lg-2 control-label">教师级别</label>
                <div class="col-sm-9">
                    <select name="level">
                        {% for level in levels %}
                            <option value="{{ level.id }}" {% if level.id == teacher.level.id %} selected="selected"{% endif %}>{{ level.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="experience" class="col-sm-3 col-md-3 col-lg-2 control-label">教学经验</label>
                <div class="col-sm-9">
                    <select name="experience">
                        {% for i in 3|num_range:3 %}
                            <option value="{{ i }}" {% if i == teacher.experience %} selected="selected"{% endif %}>{{ i }}分</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="profession" class="col-sm-3 col-md-3 col-lg-2 control-label">专业技能</label>
                <div class="col-sm-9">
                    <select name="profession">
                        {% for i in 3|num_range:3 %}
                            <option value="{{ i }}" {% if i == teacher.profession %} selected="selected"{% endif %}>{{ i }}分</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="interaction" class="col-sm-3 col-md-3 col-lg-2 control-label">互动能力</label>
                <div class="col-sm-9">
                    <select name="interaction">
                        {% for i in 3|num_range:3 %}
                            <option value="{{ i }}" {% if i == teacher.interaction %} selected="selected"{% endif %}>{{ i }}分</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr>

{#科目年级,风格标签#}
    <div class="row">
        <div class="col-sm-6 border-right">
            <div class="form-group">
                <label for="subject" class="col-sm-3 col-md-3 col-lg-2">教授科目</label>
                <div class="col-sm-9">
                    <select name="subject">
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}" {% if subject.id == teacher.subject.id %} selected="selected"{% endif %}>{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="gradesBox">
                {% for grade in grades_tree %}
                    <hr>
                    <label class="{% if grade.id not in grade_ids_range %}disabled{% endif %}">
                        <input type="checkbox" name="grade" value="{{ grade.id }}"
                               {% if grade.id in teacher_grade_ids %}checked="checked"{% endif %}
                               {% if grade.id not in grade_ids_range %}disabled="disabled"{% endif %}
                            />
                        {{ grade.name }}</label><br>
                    {% for sub_grade in grade.children %}
                        <label class="{% if sub_grade.id not in grade_ids_range %}disabled{% endif %}">
                            <input type="checkbox" name="grade" super="{{ grade.id }}" value="{{ sub_grade.id }}"
                                   {% if sub_grade.id in teacher_grade_ids %}checked="checked"{% endif %}
                                   {% if sub_grade.id not in grade_ids_range %}disabled="disabled"{% endif %}
                                />{{ sub_grade.name }}</label>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6" for="tags">
            <div class="title">
                风格标记  (最少选一个，最多选3个)
            </div>
            <div id="tagsBox">
                {% for tag in tags_all %}
                    <a class="btn btn-default {% if tag in teacher.tags.all %}btn-success{% endif %}" data-action="choose-tag">
                        <input class="hidden" type="checkbox" name="tag" value="{{ tag.id }}" {% if tag in teacher.tags.all %}checked="checked"{% endif %}"/>
                        {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
            <div class="help-block text-warning">最多选3个</div>
        </div>
    </div>
    <hr>

{#头像,照片#}
    <div class="clearfix photos">
        <div class="pull-left img-edit" for="avatar">
            <input type="hidden" name="toDeleteAvatar">
            <div class="title">
                头像
            </div>
            <div class="img-upload-box">
                <div class="img-box">
                    <img src={{ teacher.user.profile.avatar_url }}>
                </div>
                <div class="img-preview-box"><img src=""></div>
                <div class="uploading-hint-box"></div>
            </div>
            <div class="help-block"></div>
            <div class="actions">
                <a class="btn btn-default file-input-mask text-center">
                    <span>上传/重传</span>
                    <input title="请选择图片" type="file" name="avatarImg" multiple="" accept="image/*"/>
                </a>
                <a class="btn btn-default" data-action="delete-photo">删除</a>
            </div>
        </div>

        <div class="pull-left">
            <div class="title">
                照片
            </div>
            {% if not teacher.photo_set.all %}
                <div class="pull-left img-edit" for="photo">
                    <div class="img-upload-box">
                        <div class="img-box">
                            <img src="">
                        </div>
                        <div class="img-preview-box"><img src=""></div>
                        <div class="uploading-hint-box"></div>
                    </div>
                    <div class="help-block"></div>
                    <div class="actions">
                        <a class="btn btn-default file-input-mask text-center">
                            <span>上传/重传</span>
                            <input title="请选择图片" type="file" name="photoImg" multiple="" accept="image/*"/>
                        </a>
                        <a class="btn btn-default" data-action="delete-photo">删除</a>
                    </div>
                </div>
            {% else %}
                {% for photo in teacher.photo_set.all %}
                    <div class="pull-left img-edit" for="photo" photoId="{{ photo.id }}">
                        <input type="hidden" name="photoId" value="{{ photo.id }}"/>
                        <div class="img-upload-box">
                            <div class="img-box">
                                <img src={{ photo.img_url }}>
                            </div>
                            <div class="img-preview-box"><img src=""></div>
                            <div class="uploading-hint-box"></div>
                        </div>
                        <div class="help-block"></div>
                        <div class="actions">
                            <a class="btn btn-default file-input-mask text-center">
                                <span>上传/重传</span>
                                <input title="请选择图片" type="file" name="photoImg" multiple="" accept="image/*"/>
                            </a>
                            <a class="btn btn-default" data-action="delete-photo">删除</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="pull-left">
                <a class="btn btn-default" data-action="add-more-photo">+</a>
            </div>
        </div>
    </div>
    <hr>

{#提分榜#}
    <div class="clearfix high-score">
        <div class="clearfix">
            <div class="pull-left">提分榜 (最少填写6条)</div>
            <div class="pull-right">
                <a class="btn btn-default" id="delHighscore">删除</a>
                <a class="btn btn-default" id="addHighscore">添加</a>
            </div>
        </div>
        <table class="table table-striped" id="highScoreTable">
            <tr>
                <td><input id="ckHighScoreAll" type="checkbox"></td>
                <td>学生姓名</td><td>辅导提分</td><td>所在学校</td><td>考入学校</td>
            </tr>
            {% for hs in teacher.highscore_set.all %}
                <tr>
                    <td><input type="checkbox" name="highscore"/>
                        <input type="hidden" name="highscoreId" value="{{ hs.id }}"/>
                    </td>
                    <td>{{ hs.name }}</td>
                    <td>{{ hs.increased_scores }}</td>
                    <td>{{ hs.school_name }}</td>
                    <td>{{ hs.admitted_to }}</td>
                </tr>
            {% endfor %}
        </table>
        <div id="addItemsModal" class="modal fade in" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-horizontal">
                          <fieldset>
                            <legend>添加新内容</legend>
                            <div class="control-group">
                              <label class="control-label" for="stname">学生姓名</label>
                              <div class="controls">
                                <input type="text" class="input-xlarge" id="stname">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="inscore">辅导提分</label>
                              <div class="controls">
                                <input type="text" class="input-xlarge" id="inscore">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="schoolname">所在学校</label>
                              <div class="controls">
                                <input type="text" class="input-xlarge" id="schoolname">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="admittedTo">考入学校</label>
                              <div class="controls">
                                <input type="text" class="input-xlarge" id="admittedTo">
                              </div>
                            </div>
                          </fieldset>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a id="doAddHighScore" class="btn btn-primary">确定</a>
                        <a data-dismiss="modal" class="btn btn-default">关闭</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

{#证书#}
    <div class="clearfix certification">
        <div class="pull-left img-edit {% if cert_id_held.verified %}cert-ok{% elif cert_id_held.is_rejected %}cert-fail{% endif %}" for="idHeld">
            <div class="title">
                身份证手持照
                <input type="hidden" name="toDeleteCertIdHeld">
                <span class="cert-verify-flag">
                    <input type="hidden" name="certIdHeldOk" value="{{ cert_id_held.verified }}"/>
                    <span class="todo">未认证</span>
                    <span class="ok">已认证</span>
                    <span class="fail">认证失败</span>
                </span>
            </div>
            <div class="img-upload-box">
                <div class="img-box">
                    <img src={{ cert_id_held.img_url }}>
                </div>
                <div class="img-preview-box"><img src=""></div>
                <div class="uploading-hint-box"></div>
            </div>
            <div class="help-block"></div>
            <div class="actions">
                <a class="btn btn-default file-input-mask text-center">
                    <span>上传/重传</span>
                    <input title="请选择图片" type="file" name="certIdHeldImg" multiple="" accept="image/*"/>
                </a>
                <a class="btn btn-default" data-action="delete-cert">删除</a>
                <a class="btn btn-success" data-action="approve-cert">认证通过</a>
                <a class="btn btn-default" data-action="decline-cert">认证失败</a>
            </div>
        </div>
        <div class="pull-left img-edit" for="idFront">
            <div class="title">
                身份证正面
                <input type="hidden" name="toDeleteCertIdFront">
            </div>
            <div class="img-upload-box">
                <div class="img-box">
                    <img src={{ cert_id_front.img_url }}>
                </div>
                <div class="img-preview-box"><img src=""></div>
                <div class="uploading-hint-box"></div>
            </div>
            <div class="help-block"></div>
            <div class="actions">
                <a class="btn btn-default file-input-mask text-center">
                    <span>上传/重传</span>
                    <input title="请选择图片" type="file" name="certIdFrontImg" multiple="" accept="image/*"/>
                </a>
                <a class="btn btn-default" data-action="delete-cert">删除</a>
            </div>
        </div>
        <div class="pull-left img-edit {% if cert_academic.verified %}cert-ok{% elif cert_academic.is_rejected %}cert-fail{% endif %}" for="academic">
            <div class="title">
                学历证书
                <input type="hidden" name="toDeleteCertAcademic">
                <span class="cert-verify-flag {{ cert_academic.verified }}">
                    <input type="hidden" name="certAcademicOk" value="{{ cert_academic.verified }}"/>
                    <span class="todo">未认证</span>
                    <span class="ok">已认证</span>
                    <span class="fail">认证失败</span>
                </span>
            </div>
            <div class="img-upload-box">
                <div class="img-box">
                    <img src={{ cert_academic.img_url }}>
                </div>
                <div class="img-preview-box"><img src=""></div>
                <div class="uploading-hint-box"></div>
            </div>
            <div class="help-block"></div>
            <div class="actions">
                <a class="btn btn-default file-input-mask text-center">
                    <span>上传/重传</span>
                    <input title="请选择图片" type="file" name="certAcademicImg" multiple="" accept="image/*"/>
                </a>
                <a class="btn btn-default" data-action="delete-cert">删除</a>
                <a class="btn btn-success" data-action="approve-cert">认证通过</a>
                <a class="btn btn-default" data-action="decline-cert">认证失败</a>
            </div>
        </div>
        <div class="pull-left img-edit {% if cert_teaching.verified %}cert-ok{% elif cert_teaching.is_rejected %}cert-fail{% endif %}" for="teaching">
            <div class="title">
                教师资格证
                <input type="hidden" name="toDeleteCertTeaching">
                <span class="cert-verify-flag {{ cert_teaching.verified }}">
                    <input type="hidden" name="certTeachingOk" value="{{ cert_teaching.verified }}"/>
                    <span class="todo">未认证</span>
                    <span class="ok">已认证</span>
                    <span class="fail">认证失败</span>
                </span>
            </div>
            <div class="img-upload-box">
                <div class="img-box">
                    <img src={{ cert_teaching.img_url }}>
                </div>
                <div class="img-preview-box"><img src=""></div>
                <div class="uploading-hint-box"></div>
            </div>
            <div class="help-block"></div>
            <div class="actions">
                <a class="btn btn-default file-input-mask text-center">
                    <span>上传/重传</span>
                    <input title="请选择图片" type="file" name="certTeachingImg" multiple="" accept="image/*"/>
                </a>
                <a class="btn btn-default" data-action="delete-cert">删除</a>
                <a class="btn btn-success" data-action="approve-cert">认证通过</a>
                <a class="btn btn-default" data-action="decline-cert">认证失败</a>
            </div>
        </div>
        {% if teacher.is_english_teacher %}
            <div class="pull-left img-edit {% if cert_english.verified %}cert-ok{% elif cert_english.is_rejected %}cert-fail{% endif %}" for="english">
                <div class="title">
                    英语水平证书
                    <input type="hidden" name="toDeleteCertEnglish">
                    <span class="cert-verify-flag {{ cert_english.verified }}">
                        <input type="hidden" name="certEnglishOk" value="{{ cert_english.verified }}"/>
                        <span class="todo">未认证</span>
                        <span class="ok">已认证</span>
                        <span class="fail">认证失败</span>
                    </span>
                </div>
                <div class="img-upload-box">
                    <div class="img-box">
                        <img src={{ cert_english.img_url }}>
                    </div>
                    <div class="img-preview-box"><img src=""></div>
                    <div class="uploading-hint-box"></div>
                </div>
                <div class="help-block"></div>
                <div class="actions">
                    <a class="btn btn-default file-input-mask text-center">
                        <span>上传/重传</span>
                        <input title="请选择图片" type="file" name="certEnglishImg" multiple="" accept="image/*"/>
                    </a>
                    <a class="btn btn-default" data-action="delete-cert">删除</a>
                    <a class="btn btn-success" data-action="approve-cert">认证通过</a>
                    <a class="btn btn-default" data-action="decline-cert">认证失败</a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="clearfix">
        <div class="title">
            其他认证
        </div>
        <div id="otherCertsList">
            {% if not cert_others %}
                <div class="pull-left img-edit" for="otherCert">
                    <input type="hidden" name="certOtherId" value="newCert0"/>
                    <div>
                        <input type="text" name="newCert0certName" placeholder="证书标题">
                        <span class="cert-verify-flag False">
                            <input type="hidden" name="newCert0certOk" value="False"/>
                            <span class="todo">未认证</span>
                            <span class="ok">已认证</span>
                            <span class="fail">认证失败</span>
                        </span>
                    </div>
                    <div class="img-upload-box">
                        <div class="img-box">
                            <img src="">
                        </div>
                        <div class="img-preview-box"><img src=""></div>
                        <div class="uploading-hint-box"></div>
                    </div>
                    <div class="help-block"></div>
                    <div class="actions">
                        <a class="btn btn-default file-input-mask text-center">
                            <span>上传/重传</span>
                            <input title="请选择图片" type="file" name="newCert0certImg" multiple="" accept="image/*"/>
                        </a>
                        <a class="btn btn-default" data-action="delete-cert">删除</a>
                        <a class="btn btn-success" data-action="approve-cert">认证通过</a>
                        <a class="btn btn-default" data-action="decline-cert">认证失败</a>
                    </div>
                </div>
            {% else %}
                {% for cert in cert_others %}
                    <div class="pull-left img-edit {% if cert.verified %}cert-ok{% elif cert.is_rejected %}cert-fail{% endif %}" for="otherCert">
                        <input type="hidden" name="certOtherId" value="{{ cert.id }}"/>
                        <div>
                            <input type="text" name="{{ cert.id }}certName" value="{{ cert.name }}" placeholder="证书标题">
                            <span class="cert-verify-flag {{ cert.verified }}">
                                <input type="hidden" name="{{ cert.id }}certOk" value="{{ cert.verified }}"/>
                                <span class="todo">未认证</span>
                                <span class="ok">已认证</span>
                                <span class="fail">认证失败</span>
                            </span>
                        </div>
                        <div class="img-upload-box">
                            <div class="img-box">
                                <img src={{ cert.img_url }}>
                            </div>
                            <div class="img-preview-box"><img src=""></div>
                            <div class="uploading-hint-box"></div>
                        </div>
                        <div class="help-block"></div>
                        <div class="actions">
                            <a class="btn btn-default file-input-mask text-center">
                                <span>上传/重传</span>
                                <input title="请选择图片" type="file" name="{{ cert.id }}certImg" multiple="" accept="image/*"/>
                            </a>
                            <a class="btn btn-default" data-action="delete-cert">删除</a>
                            <a class="btn btn-success" data-action="approve-cert">认证通过</a>
                            <a class="btn btn-default" data-action="decline-cert">认证失败</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="pull-left">
                <a class="btn btn-default" data-action="add-more-cert">+</a>
            </div>
        </div>
    </div>
    <hr>

{#介绍音频#}
    <div class="clearfix">
        <div class="pull-left media-edit audio-edit" for="audio">
            <input type="hidden" name="toDeleteAudio">
            <div class="title">
                介绍语音（选填）
            </div>
            <div class="audio-upload-box" src="{{ teacher.audio_url }}">
                <audio class="view" src="" controls="controls">您的浏览器不支持 audio 标签。</audio>
                <audio class="preview" src="" controls="controls">您的浏览器不支持 audio 标签。</audio>
                <div class="uploading-hint-box"></div>
            </div>
            <div class="help-block"></div>
            <div class="actions">
                <a class="btn btn-default file-input-mask text-center">
                    <span>上传/重传</span>
                    <input title="请选择音频" type="file" name="introAudio" multiple="" accept="audio/*"/>
                </a>
                <a class="btn btn-default" data-action="delete-media">删除</a>
            </div>
        </div>
    </div>
    <hr>

{#介绍视频#}
    <div class="clearfix">
        <div class="pull-left media-edit video-edit" for="video">
            <input type="hidden" name="toDeleteVideo">
            <div class="title">
                介绍视频（选填）
            </div>
            <div class="video-upload-box" src="{{ teacher.video_url }}">
                <video class="view" src="" controls="controls">您的浏览器不支持 video 标签。</video>
                <video class="preview" src="" controls="controls">您的浏览器不支持 video 标签。</video>
                <div class="uploading-hint-box"></div>
            </div>
            <div class="help-block"></div>
            <div class="actions">
                <a class="btn btn-default file-input-mask text-center">
                    <span>上传/重传</span>
                    <input title="请选择视频" type="file" name="introVideo" multiple="" accept="video/*"/>
                </a>
                <a class="btn btn-default" data-action="delete-media">删除</a>
            </div>
        </div>
    </div>
    <hr>

{#教学成果#}
    <div class="achievement">
        <div class="title">
            教学成果 (选填)
        </div>
        <div id="achieveList">
            {% if not teacher.achievement_set.all %}
                <div class="pull-left img-edit" for="achieve">
                    <input type="hidden" name="achieveId" value="new0"/>
                    <div>
                        <input type="text" name="new0achieveName" placeholder="成果标题">
                    </div>
                    <div class="img-upload-box">
                        <div class="img-box">
                            <img src="">
                        </div>
                        <div class="img-preview-box"><img src=""></div>
                        <div class="uploading-hint-box"></div>
                    </div>
                    <div class="help-block"></div>
                    <div class="actions">
                        <a class="btn btn-default file-input-mask text-center">
                            <span>上传/重传</span>
                            <input title="请选择图片" type="file" name="new0achieveImg" multiple="" accept="image/*"/>
                        </a>
                        <a class="btn btn-default" data-action="delete-achieve">删除</a>
                    </div>
                </div>
            {% else %}
                {% for achieve in teacher.achievement_set.all %}
                    <div class="pull-left img-edit" for="achieve">
                        <input type="hidden" name="achieveId" value="{{ achieve.id }}"/>
                        <div>
                            <input type="text" name="{{ achieve.id }}achieveName" value="{{ achieve.title }}" placeholder="成果标题">
                        </div>
                        <div class="img-upload-box">
                            <div class="img-box">
                                <img src={{ achieve.img_url }}>
                            </div>
                            <div class="img-preview-box"><img src=""></div>
                            <div class="uploading-hint-box"></div>
                        </div>
                        <div class="help-block"></div>
                        <div class="actions">
                            <a class="btn btn-default file-input-mask text-center">
                                <span>上传/重传</span>
                                <input title="请选择图片" type="file" name="{{ achieve.id }}achieveImg" multiple="" accept="image/*"/>
                            </a>
                            <a class="btn btn-default" data-action="delete-achieve">删除</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="pull-left">
                <a class="btn btn-default" data-action="add-more-achieve">+</a>
            </div>
        </div>
    </div>
</form>

{#    图片预览modal#}
    <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="imgLabel"></h4>
              </div>
              <div class="modal-body">
                <div class="text-center">
                    <img style="max-width:100%;max-height: 100%;vertical-align: middle;">
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
