{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}新注册老师{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'common/less/bootstrap-datetimepicker.less'|compile %}">
    <link rel="stylesheet" type="text/css" href="{% static 'staff/less/teacher/teachers.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'common/js/moment.min.js' %}"></script>
    <script src="{% static 'common/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'common/js/locales/zh-cn.js' %}"></script>
    <script src="{% static 'common/js/pagination.js' %}"></script>
    <script src="{% static 'staff/js/teacher/teachers.js' %}"></script>
{% endblock %}

{% block content %}
    <form name="query_form">
        姓名 <input type="text" name="name" value="{{ query_data.name }}" size="10" />
        手机号 <input type="text" name="phone" value="{{ query_data.phone }}" size="12" />
        状态
        <select name="status">
            <option value="">全部</option>
            {% for val,text in status_choices %}
                <option value="{{ val }}" {% if val|stringformat:"i" == query_data.status %} selected="selected"{% endif %}>{{ text }}</option>
            {% endfor %}
        </select>

        注册日期
        <input type="text" name="reg_date_from" value="{{ query_data.reg_date_from }}" size="10" />
         -
        <input type="text"  name="reg_date_to" value="{{ query_data.reg_date_to }}" size="10" />

        所在地区
        <select name="region">
            <option value="">全部</option>
            {% for region in region_list %}
                <option value="{{ region.id }}" {% if region.id|stringformat:"i" == query_data.region %} selected="selected"{% endif %}>{{ region.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="查询"/>
    </form>

    <table class="text-center" align="center" border="1" cellspacing="0" width="100%">
        <tr>
            <th class="text-center">注册日期</th>
            <th class="text-center">老师姓名</th>
            <th class="text-center">手机号</th>
            <th class="text-center">性别</th>
            <th class="text-center">教龄（年）</th>
            <th class="text-center">年级科目</th>
            <th class="text-center">所在地区</th>
            <th class="text-center">状态</th>
            <th class="text-center">操作</th>
        </tr>
        {% for teacher in teachers %}
            <tr teacherId="{{ teacher.id }}">
                <td>{# 注册日期 #} {{ teacher.user.date_joined|date:"Y-m-d" }}</td>
                <td field="name">{# 老师姓名 #} {{ teacher.name }}</td>
                <td>{# 手机号 #} {{ teacher.user.profile.phone }}</td>
                <td>{# 性别 #} {{ teacher.user.profile.get_gender_display }}</td>
                <td>{# 教龄（年）#} {{ teacher.teaching_age }}</td>
                <td>{# 年级科目 #} <a href="javascript:void(0)" data-action="showGradeSubjectModal">
                        {{ teacher.subject }} {{ teacher.grades_shortname }}
                        <div class="hidden">
                        {% for ability in teacher.abilities.all %}
                            <p>{{ ability.grade}},{{ ability.subject }}</p>
                        {% endfor %}
                        </div>
                    </a>
                </td>
                <td>{# 所在地区 #} {% if teacher.region %}{{ teacher.region.full_name }}{% else %}未填{% endif %}</td>
                <td field="status">{# 状态 #} {{ teacher.get_status_display }}</td>
                <td field="action">{# 操作 #}
                    {% if teacher.status == teacher.TO_CHOOSE %}
                        <a class="" data-action="donot-choose">初选淘汰</a>
                        | <a class="" data-action="invite-interview">邀约面试</a>
                    {% elif teacher.status == teacher.TO_INTERVIEW %}
                        <a class="" data-action="set-interview-ok">面试通过</a>
                        | <a class="" data-action="set-interview-fail">面试失败</a>
                    {% else %}
                        无
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'pagination_nav.html' %}

{#    年级科目显示框#}
    <div class="modal fade" id="gradeSubjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">年级科目</h4>
              </div>
              <div class="modal-body">
                <table class="text-center" border="1" width="100%">
                    <tr><td><b>年级</b></td><td><b>科目</b></td></tr>
                    <tr><td>..</td><td>..</td></tr>
                    <tr><td>..</td><td>..</td></tr>
                    <tr><td>..</td><td>..</td></tr>
                </table>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
