@import '../variable_func.less';

body {
  background-color: @bodyBgColor;
}

div {
  .border-box();
}

@costAreaWidth: 90px;

#couponList {
  padding: 0 12px;
  margin: 0;
  //overflow-y: scroll;
  overflow-x: hidden;
  .coupon {
    position: relative;
    margin: 10px 0;
    height: @costAreaWidth;
    padding: 0;
    display: block;
    //background-image: url(../../images/coupon_bg.png);
    //background-size: 100% 100%;
    &.unused {
      .coupon-upper {
        .cost {
          background-image: url(../../images/coupon_bg_l.png);
        }
        .desc .limit {
          color: #6db2e5;
        }
        .flag.unused {
          display: block;
        }
      }
    }
    &.used {
      .coupon-upper {
        .cost {
          background-image: url(../../images/coupon_bg_l_u.png);
        }
        .flag.used {
          display: block;
        }
      }
    }
    &.expired {
      //background-image: url(../../images/coupon_expired_bg.png);
      .coupon-upper {
        .cost {
          background-image: url(../../images/coupon_bg_l_u.png);
        }
        .flag.expired {
          display: block;
        }
      }
    }
    .coupon-upper {
      .clearfix();
      position: relative;
      width: 100%;
      .cost {
        position: absolute;
        width: @costAreaWidth;
        height: @costAreaWidth;
        line-height: @costAreaWidth;
        font-size: 13px;
        color: #fff;
        text-align: center;
        background-size: 100% 100%;
        .amount {
          font-size: 28px;
        }
      }
      .desc {
        margin-left: @costAreaWidth;
        height: @costAreaWidth;
        padding-top: 18px;
        padding-left: 20px;
        font-size: 13px;
        color: #999;
        background-image: url(../../images/coupon_bg_r.png);
        background-size: 100% 100%;
        .name {
          font-size: 18px;
        }
        .limit {
          font-size: 17px;
        }
        .deadline {
          margin-top: 10px;
        }
      }
      .status {
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 3;
        .flag {
          display: none;
        }
        img {
          width: 60px;
        }
      }
    }
    @chosenIconSize: 24px;
    .icons-area {
      position: absolute;
      top: (@costAreaWidth - @chosenIconSize)/2;
      right: 10px;
      img {
        width: @chosenIconSize;
        display: none;
      }
    }
    &.chosen .icons-area img {
      display: inline;
    }
  }
}