@import '../variable_func.less';

body{
  background-color: @bodyBgColor;
}

#couponList {
  padding: 0 12px;
  margin: 0;
  //overflow-y: scroll;
  overflow-x: hidden;
  .coupon {
    position: relative;
    margin: 8px 0;
    padding: 0;
    display: block;
    background-image: url(../../images/coupon_bg.png);
    &.unused {
      .coupon-upper .status .flag.unused {
        display: block;
        color: @costRed;
      }
    }
    &.used {
      .coupon-upper .status .flag.used {
        display: block;
        color: @gray;
        position: absolute;
        right: 0;
        top: 0;
        width: 64px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    &.expired {
      background-image: url(../../images/coupon_expired_bg.png);
      .coupon-upper {
        .flag.expired {
          display: block;
        }
        .cost, .cost.amount, .desc, .desc.name, .desc.limit, .status {
          color: @grayLight;
        }
      }
    }
    background-size: 100% 100%;
    .coupon-upper {
      .clearfix();
      min-height: 28pt;
      padding: 16px 20px 8px 20px;
      .cost {
        float: left;
        width: 70px;
        color: @costRed;
        .amount {
          font-size: 24pt;
        }
      }
      .desc {
        float: left;
        padding-left: 12px;
        color: @gray;
        .name {
          font-size: 18px;
        }
        .limit {
          font-size: @subTitleSize;
          color: @grayLight;
        }
      }
      .status {
        float: right;
        padding-top: 12px;
        padding-right: 6px;
        .flag {
          display: none;
        }
      }
    }
    .icons-area {
      position: absolute;
      top: 0;
      right: 0;
      img {
        max-height: 24pt;
        display: none;
      }
    }
    &.chosen .icons-area img {
      display: inline;
    }
    .coupon-footer {
      .clearfix();
      .border-box();
      padding: 14px 20px 6px;
      width: 100%;
      font-size: @subTitleSize;
      color: white;
      .limit {
        float: right;
      }
    }
  }
}