{% extends "staff/staff_base.html" %}

{% block title %}所有老师列表{% endblock %}

{% block content %}
    <form name="query_form">
        姓名 <input type="text" name="name" value="{{ query_data.name }}" />
        手机号 <input type="number" name="phone" value="{{ query_data.phone }}" />
        状态
        <select name="status">
            <option value="">全部</option>
            {% for val,text in status_choices %}
                <option value="{{ val }}" {% if val|stringformat:"i" == query_data.status %} selected="selected"{% endif %}>{{ text }}</option>
            {% endfor %}
        </select>

        注册日期
        <input type="text" name="reg_date_from" value="{{ query_data.reg_date_from }}" />
         -
        <input type="text"  name="reg_date_to" value="{{ query_data.reg_date_to }}" />

        所在地区
        <select name="region">
            <option value="">全部</option>
            {% for region in region_list %}
                <option value="{{ region.id }}" {% if region.id|stringformat:"i" == query_data.region %} selected="selected"{% endif %}>{{ region.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="查询"/>
    </form>

    <table align="center" border="1" cellspacing="0" width="100%">
        <tr>
            <th>注册日期</th>
            <th>老师姓名</th>
            <th>手机号</th>
            <th>性别</th>
            <th>教龄（年）</th>
            <th>年级科目</th>
            <th>所在地区</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {% for teacher in teachers %}
            <tr teacherId="{{ teacher.id }}">
                <td>{# 注册日期 #} {{ teacher.user.date_joined|date:"Y-m-d" }}</td>
                <td>{# 老师姓名 #} {{ teacher.name }}</td>
                <td>{# 手机号 #} {{ teacher.user.profile.phone }}</td>
                <td>{# 性别 #} {{ teacher.user.profile.get_gender_display }}</td>
                <td>{# 教龄（年）#} {{ teacher.teaching_age }}</td>
                <td>{# 年级科目 #} {{ teacher.subject }} {{ teacher.grades_shortname }}</td>
                <td>{# 所在地区 #} {{ teacher.region }}</td>
                <td>{# 状态 #} {{ teacher.get_status_display }}</td>
                <td>{# 操作 #} TODO</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
