body {
    font-size: 12px;
}
div {
    font-size: 1rem;
}
@paddingX: 12px;
@paddingY: 9px;
@telBoxWidth: 50px;
@coverImgHeight: 182px;
// android微信内置浏览器不支持 display: flex
#schoolList .card {
  position: relative;
  margin: 0 0 .8em 0;
  box-shadow: 0 .05rem .1rem rgba(0,0,0,.1);
  .school-isexpr-flag {
    position: absolute;
    left: 10px;
    top:0;
    img {
      width: 50px;
    }
  }
  .album-count-div {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 21px;
    padding: 3px 6px;
    line-height: 15px;
    background-color: rgba(0,0,0,.6);
    border-radius: 3px;
    span {
      font-size: 15px;
      color: #fff;
      vertical-align: top;
    }
    img {
      width: 15px;
      height: 15px;
      border: 0;
    }
  }
  .card-header .trans-mask {
    //display: flex;
    //flex-direction: column;
    //flex-wrap: wrap;
    //justify-content: center;
    //align-items: center;
    position: absolute;
    width: 100%;
    height: 45%;
    bottom: 0;
    color: white;
    text-align: center;
    .trans-mask-text {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      padding: 0 0 8px 0;
      h6 {
        font-size: 16px;
        line-height: 16px;
      }
      span {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 8px;
      }
      h6,span {
        font-weight: 400;
        margin: 0  auto;
      }
    }

    //background-color: rgba(0, 0, 0, .6); rosoft.gradient( startColorstr='#33000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
  }
  .cover-retro-fixer {
    width: 100%;
    max-height: @coverImgHeight;
    padding-bottom: 50%;
    overflow: hidden;
    text-align: center;
    img {
      width: 100%;
      //max-height: @coverImgHeight;
      vertical-align: middle;
    }
  }
  .card-content-inner {
    // 学校名字位置信息
    position: relative;
    font-size: 12px;
    padding: @paddingY 0 @paddingY @paddingX;
    .card-content-inner-left {
      display: block;
      padding-right: @telBoxWidth;
      .column {
        position: relative;
        p {
          margin: 0;
          padding:0 21px 0 0 ;
        }
        p.color-malablue {
          font-size: 14px;
          color: #88bcde;
        }
        p.color-malagray {
          font-size: 14px;
          color: #6c6c6c;
        }
        p.color-gray {
          font-size: 12px;
        }
        .distance {
          position: absolute;
          right: 0;
          top: 0;
        }
        .column1-text {
          line-height: 24px;
        }
        .column2-text {
          line-height: 22px;
        }
      }
    }
    .card-content-inner-right {
      position: absolute;
      top: @paddingY;
      right: 0;
      border-left: 1px solid #e5e5e5;
      padding: 8px @paddingX + 2px;
      a {
        line-height: 22px;
        vertical-align: middle;
      }
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}

@photoNavBorderColor: #333;
.photo-browser {
  &.photo-browser-dark{
    .bar{
      background-color: black;
      &.bar-nav{
        &:after{
          background-color: @photoNavBorderColor;
        }
        .title{
          color: white;
        }
      }
      &.bar-tab{
        &:before {
          background-color: @photoNavBorderColor;
        }
      }
    }
  }
}