body {
    font-size: 12px;
}
div {
    font-size: 1rem;
}

#schoolList .card {
  position: relative;
  margin: 0 0 .8em 0;
  box-shadow: 0 .05rem .1rem rgba(0,0,0,.1);
  .school-isexpr-flag {
    position: absolute;
    left: 10px;
    top:0;
    img {
      width: 50px;
    }
  }
  .album-count-div {
    position: absolute;
    //padding: 7px 6px;
    padding: 3px;
    right: 10px;
    top: 10px;
    height: 21px;
    //width: 41px;
    background-color: rgba(0,0,0,.6);
    border-radius: 3px;
    span {
      float: left;
      font-size: .7em;
      margin: 0 3px 0 0;
      line-height: 15px;
      color: #fff;
    }
    img {
      float: left;
      width: 15px;
      height: 15px;
      margin: 0 5px 0 3px;
    }
  }
  .card-header .trans-mask {
    //display: flex;
    //flex-direction: column;
    //flex-wrap: wrap;
    //justify-content: center;
    //align-items: center;
    position: absolute;
    width: 100%;
    height: 45%;
    bottom: 0;
    color: white;
    text-align: center;
    .trans-mask-text {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      padding: 0 0 8px 0;
      h6 {
        font-size: 16px;
        line-height: 16px;
      }
      span {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 8px;
      }
      h6,span {
        font-weight: 400;
        margin: 0  auto;
      }
    }

    //background-color: rgba(0, 0, 0, .6); rosoft.gradient( startColorstr='#33000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
  }
  .cover-retro-fixer {
    max-width: 100%;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .card-content-inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 12px;
    //font-weight: 100;
    padding: 9px 0 9px 12px;
    .card-content-inner-left {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      //justify-content: space-between;
      .column {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          margin: 0;
          padding:0 21px 0 0 ;
        }
        p.color-malablue {
          font-size: 14px;
          color: #88bcde;
        }
        p.color-gray {
          font-size: 12px;
        }
        .column1-text {
          line-height: 24px;
        }
        .column2-text {
          line-height: 22px;
        }
      }
    }
    .card-content-inner-right {
      display: flex;
      flex-basis: 50px;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #e5e5e5;
      padding: 7px 12px;
      a {
        line-height: 22px;
      }
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}