.app-redirect-box {
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 18px 20px 18px 15px;
    font-size: 16px;
}

.app-redirect-box a {
    color: #ffffff;
}

.app-redirect-box a.left-desc {
    /*color: red;*/
    position: relative;
    padding-left: 42px;
}

.app-redirect-box a.left-desc img {
    position: absolute;
    left: 0;
    top: -9px;
    width: 24px;
    height: 24px;
}


.app-redirect-box div.right-buttons {
    //background-color: #ffffff;
    position: absolute;
    top: 17px;
    right: 20px;
    a.button.button-fill {
        background-color: #fff;
        color: #88bcde;
        border-radius: 3px;
    }
}