{% extends "teacher/teacher_base.html" %}
{% load staticfiles %}
{% load compile_static %}
{% block title %}
    首页
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/less/first_page.less'|compile %}?{% lorem 1 w random%}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'teacher/js/custom/first_page.js' %}?{% lorem 1 w random%}"></script>
{% endblock %}
{% block body %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            {% load teacher_page %}
            {% mala_page_header_dark "" "张三 老师" %}
            <div class="page-left"></div>
            <div class="page-center">
                {% include 'teacher/side_bar.html' %}
                <div class="the_content">
                    <div class="teacher_info_pan">
                        <div class="avatar">
                            {% if avatar %}
                                <img src="{{ avatar }}">
                            {% else %}
                                <img src="{% static 'common/icons/none_body_profile.png' %}">
                            {% endif %}
                        </div>
                        <div class="info">
                            <p class="edit_button"><a href="{{ complete_url }}">编辑</a></p>
                            <p class="name">{{ user_name }}</p>
                            <p class="details">
                                <span class="title">{{ teacher_level }}</span>
                                {% if information_complete_percent < 100 %}
                                <span class="state">资料待完善</span>
                                <span class="percent">{{ information_complete_percent }}%</span>
                                <span class="link"><a href="{{ complete_url }}">马上完善</a></span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="data_table">
                        <div class="first_part">
                            <p class="title">课程</p>
                            <p class="first_row"><span class="part_label">已完成</span> <span class="part_data">{{ class_complete }}</span></p>
                            <p class="second_row"><span class="part_label">待上课</span> <span class="part_data">{{ class_waiting }}</span></p>
                        </div>
                        <div class="one_part">
                            <p class="title">学生</p>
                            <p class="first_row"><span class="part_label">上课中</span> <span class="part_data">{{ student_on_class }}</span></p>
                            <p class="second_row"><span class="part_label">已结课</span> <span class="part_data">{{ student_complete }}</span></p>
                        </div>
                        <div class="one_part">
                            <p class="title">评价</p>
                            <p class="first_row"><span class="part_label">综合评分</span> <span class="part_data">{{ comprehensive_evaluation }}</span></p>
                            <p class="second_row"><span class="part_label">差评数</span> <span class="part_data">{{ bad_review }}</span></p>
                        </div>
                        <div class="one_part">
                            <p class="title">余额</p>
                            <p class="first_row"><span class="part_label">账户余额</span> <span class="part_data">{{ account_balance }}</span></p>
                            <p class="second_row"><span class="part_label">累计收入</span> <span class="part_data">{{ total_revenue }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-right"></div>
        </div>
            {% if information_complete_percent < 100 %}
                <div class="row complete-table-bar" role="alert" attrHidden="false" id="complete-table-bar">
                    <div class="close_row">
                        <button id="close-complete-table-bar"><i></i></button>
                    </div>
                    <div class="percent_complete">
                        <p class="percent_title">个人资料完成度 <span>{{ information_complete_percent }}%</span></p>
                        <div class="custom_progress">
                          <div class="custom_progress_bar" role="progressbar" aria-valuenow="{{ information_complete_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ information_complete_percent }}%">
                            <span class="sr-only">{{ information_complete_percent }}% Complete (success)</span>
                          </div>
                        </div>
                    </div>
                    <div class="information">
                        <p class="title">你目前无法被学生搜索到!</p>
                        <p class="details">完善详细的资料有助于帮助学生快速找到您</p>
                    </div>
                    <div class="complete_information">
                        <a href="{{ complete_url }}">立刻完善资料</a>
                    </div>
                </div>
            {% endif %}
    </div>
{% endblock %}
