{% extends "teacher/teacher_base.html" %}
{% load staticfiles %}
{% load compile_static %}
{% block title %}
    我的学生
{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/less/my_students.less'|compile %}?{% lorem 1 w random%}">
{% endblock %}

{% block addition_js %}
    <script src="{% static 'teacher/js/custom/my_students.js' %}?{% lorem 1 w random%}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% load teacher_page %}
            {% mala_page_header_dark "" "张三 老师" %}
            <div class="page-left"></div>
            <div class="page-center">
                {% include 'teacher/side_bar.html' %}
                <div class="the_content">
                    <div class="nav_bar">
                        <p>我的学生</p>
                    </div>
                    <div class="tag-tab">
                        {% if student_type == "0" %}
                        <a href="{{ current_student_url }}"><span class="student-type" attrState="selected">当前学生</span></a>
                        <span class="number-count" attrState="empty">({{ current_count }})</span>
                        {% else %}
                        <a href="{{ current_student_url }}"><span class="student-type">当前学生</span></a>
                        <span class="number-count" attrState="empty">({{ current_count }})</span>
                        {% endif %}

                        {% if student_type == "1" %}
                        <a href="{{ class_ending_student_url }}"><span class="student-type" attrState="selected">结课学生</span></a>
                        <span class="number-count" attrState="empty">({{ session_count }})</span>
                        {% else %}
                        <a href="{{ class_ending_student_url }}"><span class="student-type">结课学生</span></a>
                        <span class="number-count" attrState="empty">({{ session_count }})</span>
                        {% endif %}
                        {% if student_type == "2" %}
                        <a href="{{ refund_student_url }}"><span class="student-type" attrState="selected">退费学生</span></a>
                        <span class="number-count" attrState="full">({{ refund_count }})</span>
                        {% else %}
                        <a href="{{ refund_student_url }}"><span class="student-type">退费学生</span></a>
                        <span class="number-count" attrState="full">({{ refund_count }})</span>
                        {% endif %}
                    </div>
                    <div class="student-list">
                        <div class="list-header">
                            <span class="header-name">学生姓名</span>
                            <span class="header-grade">年级</span>
                            <span class="header-subclass-progress">已完成课时/总课时(小时)</span>
                            <span class="header-subclass-price">课时单价</span>
                            <span class="header-student-status">提醒</span>
                            <span class="header-operation">给家长写信</span>
                        </div>
                        {% for one_student in student_list %}
                        <div class="list-body">
                            <span class="name">{{ one_student.name }}</span>
                            <span class="grade">{{ one_student.grade }}</span>
{#                            <span class="subclass-progress"> </span>#}
                            <span class="subclass-progress">{{ one_student.progress }}</span>
                            <span class="subclass-price">{{ one_student.price }}</span>
                            <span class="student-state">
                            {% if one_student.state == "新生" %}
                                <span class="label label-default state-new" data-toggle="tooltip" data-placement="right" title="首次上课的学生,得好好准备">首次上课</span>
                            {% elif one_student.state == "续费" %}
                                <span class="label label-default state-renewal" data-toggle="tooltip" data-placement="right" title="课都快上完了,提醒他续费吧">提醒续费</span>
                            {% elif one_student.state == "正常" %}
{#                                正常就不再显示#}
{#                                <span class="state-normal" data-toggle="tooltip" data-placement="right" title="正常上课ing">正常</span>#}
                            {% endif %}
                            {% if one_student.state == "退费" %}
                                <span class="label label-default state-refund" data-toggle="tooltip" data-placement="right" title="已经退费了,他真的走了">退费</span>
                            {% endif %}
                            {% if one_student.state == "结课" %}
                                <span class="label label-default state-session" data-toggle="tooltip" data-placement="right" title="已经完成课程学习">结课</span>
                            {% endif %}
                            </span>
                            {% if one_student.mail == True %}
                                <a href="{% url 'teacher:student-letter' student_type page_offset one_student.id %}" class="operation glyphicon glyphicon-envelop" attrState="to-send" data-toggle="tooltip" data-placement="left" title="沟通很重要,快给家长写一封信吧">
                                </a>
                            {% endif %}
                            {% if one_student.mail == False %}
                                <i class="operation glyphicon glyphicon-envelop" attrState="sent"></i>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="page-index">
                        {% for one_index in page_list %}
                            {% if one_index.1 == True %}
                                <span attrState="current"class="one-page">
                                    <a href="{{ one_index.2 }}">
                                        {{ one_index.0 }}
                                    </a>
                                </span>
                            {% else %}
                                <span class="one-page">
                                    <a href="{{ one_index.2 }}">
                                        {{ one_index.0 }}
                                    </a>
                                </span>
                            {% endif %}
                        {% endfor %}
{#                        <span class="one-page">1</span>#}
{#                        <span class="one-page">2</span>#}
{#                        <span class="one-page">3</span>#}
{#                        <span class="one-page" attrState="current">4</span>#}
{#                        <span class="one-page">5</span>#}
                    </div>
                </div>
            </div>
            <div class="page-right"></div>
        </div>
    </div>
{% endblock %}
