{% extends "teacher/teacher_base.html" %}
{% load staticfiles %}
{% load compile_static %}
{% block title %}
    {{ dynamic_title }}
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/less/my_school_timetable.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'teacher/js/custom/my_school_timetable.js' %}"></script>
    <script src="{% static 'common/js/underscore.js' %}"></script>
{% endblock %}
{% block body %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            {% load teacher_page %}
            {% mala_page_header_dark "" "张三 老师" %}
            <div class="page-left"></div>
            <div class="page-center">
                {% include 'teacher/side_bar.html' %}
                <div class="the_content">
                    <div class="nav_bar">
                        <p>我的课表</p>
                    </div>
                    <script lang="javascript">
                        window.time_slot_data = {{ time_slot_data | safe }}
                    </script>
                    <div class="pad">
                        <div class="left-pad">
                            <div class="calander">
                                <div class="year-and-month">
                                    <p>
                                        <a href="{{ pre_month_url }}"><i class="left-arraow"></i></a>
                                        <span class="year-and-month-title">{{ current.year }}年{{ current.month }}月</span>
                                        <a href="{{ next_month_url }}"><i class="right-arrow"></i></a>
                                    </p>
                                </div>
                                <div class="week-title">
                                    <span class="one-week-block">
                                        周一
                                    </span>
                                    <span class="one-week-block">
                                        周二
                                    </span>
                                    <span class="one-week-block">
                                        周三
                                    </span>
                                    <span class="one-week-block">
                                        周四
                                    </span>
                                    <span class="one-week-block">
                                        周五
                                    </span>
                                    <span class="one-week-block">
                                        周六
                                    </span>
                                    <span class="one-week-block">
                                        周日
                                    </span>
                                </div>
                                <div class="day-cell">
                                    {% for one_week in data_list %}
                                    <div class="day-row">
                                        {% for one_day in one_week %}
                                            {% if one_day.2 == True %}
                                                <div class="normal" attrStatue="pass" onmouseover="day_cell_hover('{{ one_day.3 }}', '{{ one_day.4 }}', '{{ one_day.5 }}')">
                                            {% else %}
                                                <div class="normal" onmouseover="day_cell_hover('{{ one_day.3 }}', '{{ one_day.4 }}', '{{ one_day.5 }}')">
                                            {% endif %}

                                            <p class="date">{{ one_day.0 }}</p>
                                            {% if one_day.1 == 0 %}
                                            {% endif %}
                                            {% if one_day.1 == 1 %}
                                            <p class="tag"><i attrStatue="complete"></i></p>
                                            {% endif %}
                                            {% if one_day.1 == 2 %}
                                            <p class="tag"><i attrStatue="working"></i></p>
                                            {% endif %}
                                            {% if one_day.1 == 3 %}
                                            <p class="tag"><i attrStatue="waiting"></i></p>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>

                                    {% endfor %}
{#                                    <div class="day-row">#}
{#                                        <div class="normal" attrStatue="pass">#}
{#                                            <p class="date">29</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">30</p>#}
{#                                            <p class="tag"><i attrStatue="working"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">01</p>#}
{#                                            <p class="tag"><i attrStatue="waiting"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">02</p>#}
{#                                            <p class="tag"><i attrStatue="blank"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">03</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">04</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal-last">#}
{#                                            <p class="date">05</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="day-row">#}
{#                                        <div class="normal">#}
{#                                            <p class="date">06</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">07</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">08</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">09</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">10</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal">#}
{#                                            <p class="date">11</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                        <div class="normal-last">#}
{#                                            <p class="date">12</p>#}
{#                                            <p class="tag"><i attrStatue="complete"></i></p>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                            <div class="caleder-annotation">
                                <i class="complete-icon"></i><span>已完成</span>
                                <i class="waiting-icon" attrType="secondIcon"></i><span>待上课</span>
                                <i class="working-icon" attrType="thirdIcon"></i><span>上课中</span>
                            </div>
                        </div>
                        <script id="time_slot_header_template" type="text/template">
                            <div class="title">
                                <p id="today-date" class="date"><%= datas.today_date %></p>
                                <p id="today-week-day" class="week-day"><%= datas.today_week_day %></p>
                            </div>
                        </script>
                        <script id="time_slot_list_template" type="text/template">
                            <div class="details-list">
                                <% console.log(datas); %>
                                <% _.each(datas, function(item) { %>
                                <div class="one-detail">
                                    <i class="details-icon"></i>
                                    <div class="info-area">
                                        <div class="first-row">
                                            <span class="duration"><%= item.duration %></span>
                                            <span class="subclass"><%= item.subclass_level %></span>
                                            <span class="teacher"><%= item.student_name %></span>
                                            <span class="classroom"><%= item.center %></span>
                                        </div>
                                        <div class="second-row">
                                            <span class="class-progress"><%= item.progress %></span>
                                            <% if(item.comment_state == 0) { %>
                                            <span class="to-evaluate" attrShow="true">未评价</span>
                                            <% } %>
                                            <% if(item.comment_state == 1) { %>
                                            <span class="evaluated" attrShow="true">已评价</span>
                                            <% } %>
                                            <% if(item.class_state == 2) { %>
                                            <span class="complete-tag" attrShow="true">已完成</span>
                                            <% } %>
                                            <% if(item.class_state == 1) { %>
                                            <span class="working" attrShow="true">上课中</span>
                                            <% } %>
                                            <% if(item.class_state == 0) { %>
                                            <span class="waiting" attrShow="true">待上课</span>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <%});%>
{#                                <div class="one-detail">#}
{#                                    <i class="details-icon"></i>#}
{#                                    <div class="info-area">#}
{#                                        <div class="first-row">#}
{#                                            <span class="duration">08:00-10:00</span>#}
{#                                            <span class="subclass">初二数学</span>#}
{#                                            <span class="teacher">胡晓路</span>#}
{#                                            <span class="classroom">五一路社区学习中心五一路社区学习中心五一路社区学习中心</span>#}
{#                                        </div>#}
{#                                        <div class="second-row">#}
{#                                            <span class="class-progress">第06/20次课</span>#}
{#                                            <span class="waiting" attrShow="false">待上课</span>#}
{#                                            <span class="working" attrShow="false">上课中</span>#}
{#                                            <span class="to-evaluate" attrShow="true">未评价</span>#}
{#                                            <span class="evaluated" attrShow="false">已评价</span>#}
{#                                            <span class="complete-tag" attrShow="true">已完成</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </script>
                        <script id="today_has_no_details" type="text/template">
                            <div>
                                <p>今天暂无课程</p>
                            </div>
                        </script>
                        <div class="right-pad">
                            <div id="today-time-slot-list" class="details">
{#                                <div class="title">#}
{#                                    <p id="today-date" class="date">2015年12月25日</p>#}
{#                                    <p id="today-week-day" class="week-day">星期六</p>#}
{#                                </div>#}
{#                                <div class="details-list">#}
{#                                    <div class="one-detail">#}
{#                                        <i class="details-icon"></i>#}
{#                                        <div class="info-area">#}
{#                                            <div class="first-row">#}
{#                                                <span class="duration">08:00-10:00</span>#}
{#                                                <span class="subclass">初二数学</span>#}
{#                                                <span class="teacher">胡晓路</span>#}
{#                                                <span class="classroom">五一路社区学习中心</span>#}
{#                                            </div>#}
{#                                            <div class="second-row">#}
{#                                                <span class="class-progress">第06/20次课</span>#}
{#                                                <span class="waiting" attrShow="false">待上课</span>#}
{#                                                <span class="working" attrShow="false">上课中</span>#}
{#                                                <span class="to-evaluate" attrShow="true">未评价</span>#}
{#                                                <span class="evaluated" attrShow="false">已评价</span>#}
{#                                                <span class="complete-tag" attrShow="true">已完成</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="one-detail">#}
{#                                        <i class="details-icon"></i>#}
{#                                        <div class="info-area">#}
{#                                            <div class="first-row">#}
{#                                                <span class="duration">08:00-10:00</span>#}
{#                                                <span class="subclass">初二数学</span>#}
{#                                                <span class="teacher">胡晓路</span>#}
{#                                                <span class="classroom">五一路社区学习中心五一路社区学习中心五一路社区学习中心</span>#}
{#                                            </div>#}
{#                                            <div class="second-row">#}
{#                                                <span class="class-progress">第06/20次课</span>#}
{#                                                <span class="waiting" attrShow="false">待上课</span>#}
{#                                                <span class="working" attrShow="false">上课中</span>#}
{#                                                <span class="to-evaluate" attrShow="true">未评价</span>#}
{#                                                <span class="evaluated" attrShow="false">已评价</span>#}
{#                                                <span class="complete-tag" attrShow="true">已完成</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <p>今天暂无课程</p>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-right"></div>
        </div>
    </div>
{% endblock %}