<div class="side_bar">
    <p class="section-title"><a href="{% url 'teacher:first-page' %}">首页</a></p>
    <p class="section-title">我的课程</p>
    <p class="section-link"><a href="#">我的课表 <span class="badge_number">(99)</span></a></p>
    <p class="section-link"><a href="#">我的学生 <span class="badge_number">(99)</span></a></p>
    <p class="section-link"><a href="#">我的评价 <span class="badge_number">(3)</span></a></p>
    <p class="section-title">我的钱包</p>
    <p class="section-title">个人设置</p>
    <p class="section-link"><a href="{% url 'teacher:basic_doc' %}">基本资料</a> <i class="info_icon"></i></p>
    <p class="section-link"><a href="{% url 'teacher:certificate' %}">资质认证</a></p>
    <p class="section-link"><a href="#">特殊成果</a></p>
    <p class="section-link"><a href="{% url 'teacher:highscore' %}">提分榜设置</a></p>
    <p class="section-link"><a href="#">我的级别</a></p>
</div>
