<div class="side_bar">
    <p class="section-title"><a href="{% url 'teacher:first-page' %}">首页</a></p>
    <p class="section-title">我的课程</p>
    <p class="section-link"><a href="{{ side_bar_my_school_time_url }}">我的课表
        {% if side_bar_my_course > 0 %}
            <span class="badge_number">({{ side_bar_my_course }})</span>
        {% endif %}
    </a></p>
    <p class="section-link"><a href="{{ side_bar_my_student_url }}">我的学生
        {% if side_bar_my_student > 0 %}
        <span class="badge_number">({{ side_bar_my_student }})</span>
        {% endif %}
    </a></p>
    <p class="section-link"><a href="#">我的评价
        {% if side_bar_my_evaluation %}
        <span class="badge_number">({{ side_bar_my_evaluation }})</span>
        {% endif %}
    </a></p>
    <p class="section-title"><a href="{% url 'teacher:wallet' %}">我的钱包</a></p>
    <p class="section-title">个人设置</p>
    <p class="section-link"><a href="{% url 'teacher:basic_doc' %}">基本资料</a>
        {% if side_bar_basic_data_notify == True %}
        <i class="info_icon"></i>
        {% endif %}
    </p>
    <p class="section-link"><a href="{% url 'teacher:certificate' %}">资质认证</a></p>
    <p class="section-link"><a href="{% url 'teacher:achievement' %}">特殊成果</a></p>
    <p class="section-link"><a href="{% url 'teacher:highscore' %}">提分榜设置</a></p>
    <p class="section-link"><a href="#">我的级别</a></p>
</div>
