<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% load staticfiles %}
{#    {% load compress %}#}
{#    {% compress css %}#}
{#        <link rel="stylesheet" type="text/less" href="{% static 'teacher/less/teacher_page.less' %}">#}
{#    {% endcompress %}#}
    {% block addition_header %}{% endblock %}
    <script src="{% static 'common/js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'common/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'common/js/underscore.js' %}"></script>
    <script src="{% static 'common/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'common/js/django-ajax-amend.js' %}"></script>
    <script src="{% static 'common/js/pagination.js' %}"></script>
    <script src="{% static 'teacher/js/teacher_frame.js' %}"></script>
    {% block addition_js %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            {% load teacher_page %}
            {% mala_page_header_dark title teacherName %}
            <div class="page-center">
                {% include 'teacher/side_bar.html' %}
                <div class="the_content">
                    <div class="breadcrumbs">
                        {% block breadcrumbs %}
                        {% endblock %}
                    </div>
                    <div class="main-content">
                        {% block maincontent %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        {% include 'ga.html' %}
    </div>

{#  加载动画#}
    {% include 'teacher/m_loading_dialog.html' %}
</body>
</html>
