{% extends "teacher/teacher_base.html" %}

{% load staticfiles %}
{% block title %}
    资质认证
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'common/less/bootstrap.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        {% load teacher_page %}
        {% mala_page_header "资质认证" teacherName %}
        <div class="row">
            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                菜单 todo
            </div>
            <div class="col-md-9 col-lg-10 col-sm-8 col-xs-8">
                <div class="breadcrumbs">
                    <span class="title">个人设置</span>
                    &gt;
                    <span>资质认证</span>
                </div>
                <div class="list-group" id="certificationsList">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
