@formInputWidth: 245px;
.form-input{
  display: inline-block;
}
.form-horizontal{
  .form-group {
    width: 800px;
    height: 40px;
    margin: auto;
    padding-left: 110px;
  }
  .table-group{
    height: 82px;
    input{
      width: 50px;
      border: none;
      border-bottom: solid 1px;
    }
    .input-td{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.form-group{
  .form-input{
    width: @formInputWidth;
    .select,>button,>a:first-child{
      width: @formInputWidth;
    }
    .radio-inline{
      margin-left: 45px;
    }
  }
}
.time-select{
  position: relative;
  >input{
    width: 85px;
  }
  hr{
    display: inline-block;
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 4px;
    border: solid #000000 1px;
    border-bottom: 0;
  }
}
.config-coupon-give{
  display: none;
}
.config-save{
  margin-top: 25px;
}
.config-rule{
  .form-input{
    width: 300px;
    >input{
      width: @formInputWidth;
      display: inline-block;
    }
  }
}
.couponCondition{
  input{
    text-align: center;
  }
}
