@import "../../../common/less/weui/base/reset";

// icon font
@import "../../../common/less/weui/icon/weui_icon_font";

// button
@import "../../../common/less/weui/widget/weui_button/weui_button";

// cell
@import "../../../common/less/weui/widget/weui_cell/weui_cell_global";

@import "../../../common/less/weui/widget/weui_cell/weui_access";
@import "../../../common/less/weui/widget/weui_cell/weui_form";

// msg
@import "../../../common/less/weui/widget/weui_page/weui_msg";

// tips
@import "../../../common/less/weui/widget/weui_tips/weui_dialog";
@import "../../../common/less/weui/widget/weui_tips/weui_toast";
@import "../../../common/less/weui/widget/weui_tips/weui_mask";

body{
  background-color: #ededed;
}
.set-margin{
  margin-left: 5px;
}

.ext_btn_primary{
    background-color: #86bedd;
    &:not(.weui_btn_disabled):visited{
        color: @weuiBtnActiveFontColor;
        background-color: #467B98;
    }
    &:active{
        color: @weuiBtnActiveFontColor;
        background-color: #467B98;
    }
}
.weui_cell_ft{
  .ext_btn_disabled{
    color: @weuiBtnActiveFontColor;
    background-color: #467B98;
  }
}
.ext_btn_default{
  color: #82b4d9;
  background-color: #ffffff;
  &:not(.weui_btn_disabled):visited{
      color: @weuiBtnFontColor;
  }
  &:not(.weui_btn_disabled):active{
      background-color: #FDFAFA;
  }
}
.weui_toast{
  width: 8.6em;
  min-height: 3.6em;
  line-height: 3.6em;
}
.submit_btn{
  width: 100%;
}
.submit_content{
  padding: 10px 15px;
  text-align: center;
  font{
    color: #467B98;
    cursor: pointer;
  }
  >div{
    color: #a0a0a0;
    margin-top: 8px;
  }
}
.msg-error{
  display: none;
  font-size: 18px;
  color: red;
  img{
    margin-bottom: -4px;
  }
}
.weui_btn:after{
  border: 1px solid rgba(234, 224, 224, 0.2);
}
