{% extends "wechat/wechat_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}学习中心{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" href="{% static 'wechat/css/schools.less'|compile %}">
{% endblock %}

{% block content %}
    <div class="page" id="schoolList">
        <div class="content">
            {% for school in school_list %}
                <a href="#">
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class='card-cover' src="{{ school.get_thumbnail }}" alt="">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <div class="card-content-inner-left">
                                    <div class="column">
                                        <p>{{ school.name }}</p>
                                        <p class="color-gray">< 1km</p>
                                    </div>
                                    <div class="column">
                                        <p class="color-gray">{{ school.address }}</p>
                                    </div>
                                </div>
                                <div class="card-content-inner-left">
                                    <p>test</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                </a>
                {% empty %}
                <p>没有添加学校</p>
            {% endfor %}
            <div class="app-redirect-box">
                <a href="#" class="left-desc">
                    <img src="{% static 'wechat/images/download_icon.png' %}" alt="">
                    <span>更多精彩课程尽在手机客户端</span>
                </a>
                <div class="right-buttons">
                    <a href="#" class="button button-fill button-dark">立即下载</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block addition_js %}

{% endblock %}