{% extends "wechat/wechat_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}学习中心{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" href="{% static 'wechat/css/schools.less'|compile %}">
{% endblock %}
{% block addition_css %}
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
{% endblock %}

{% block content %}
    <div class="page" id="schoolList">
        <div class="content">
            {% for school in school_list.expr_center_list %}
                {% include 'wechat/school/school_card_content.html' %}
            {% empty %}
                <p>暂无体验中心</p>
            {% endfor %}
            {% for school in school_list.community_center_list %}
                {% include 'wechat/school/school_card_content.html' %}
            {% empty %}
                <p>暂无社区中心</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block addition_js %}
{#    <script type='text/javascript' src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>#}
    <script type='text/javascript' src='{% static 'wechat/js/calculate_distance.js' %}' charset='utf-8'></script>
    <script>
        var photosdic = {{ photosdic|safe }};

        function refreshDistance(lat,lng) {
            schoolDistanceNodeList = $("[data-school-latitude]");
            //console.log(schoolDistanceNodeList)
            schoolDistanceNodeList.each(function() {
                schoolLatitude = parseFloat($(this)[0].dataset.schoolLatitude);
                schoolLongitude = parseFloat($(this)[0].dataset.schoolLongitude);
                $(this).text('<'+CoolWPDistance(lat,lng,schoolLatitude,schoolLongitude)+'km')
            })
        }
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{{ WX_APPID }}', // 必填，公众号的唯一标识
            timestamp: {{ server_timestamp }}, // 必填，生成签名的时间戳
            nonceStr: '{{ WX_NONCE_STR }}', // 必填，生成签名的随机串
            signature: '{{ WX_SIGNITURE }}',// 必填，签名，见附录1
            jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.error(function(res){
            alert(res);
        });
        wx.ready(function(res){
                wx.getLocation({
                    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                    success: function(res){
                        refreshDistance(res.latitude,res.longitude);
                    },
                    fail: function(res){
                        alert('地理位置错误：'+res);
                    }
                });
            });
    </script>
    <script type='text/javascript' src='{% static 'wechat/js/schools.js' %}' charset='utf-8'></script>
{% endblock %}