{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}价格设置{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'staff/less/level/levels.less'|compile %}">
{% endblock %}

{% block addition_js %}
    <script src="{% static 'staff/js/level/prices.js' %}"></script>
{% endblock %}

{% block content %}
    <form name="query_form" class="head-form form-inline">
        地区
        <select name="region">
            <option value="">请选择地区</option>
            {% for region in region_list %}
                <option value="{{ region.id }}" {% if region.id|stringformat:"i" == query_data.region %} selected="selected"{% endif %}>{{ region.name }}</option>
            {% endfor %}
        </select>
        科目
        <select name="subject">
            <option value="">所有科目</option>
            {% for subject in subject_list %}
                <option value="{{ subject.id }}" {% if subject.id|stringformat:"i" == query_data.subject %} selected="selected"{% endif %}>{{ subject.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="查询"/>
    </form>

    <input type="hidden" id="targetRegion" value="{{ query_data.region }}">
    <input type="hidden" id="targetSubject" value="{{ query_data.subject }}">
    <table class="table table-bordered table-striped">
        <tr>
            <th width="" class="text-center type_auto">级别\年级</th>
            {% for grade in grade_list %}
                <th width="" class="text-center type_small" gradeId="{{ grade.id }}">{{ grade.name }}</th>
            {% endfor %}
            <th width="" class="text-center type_small">所有年级</th>
{#            <th width="" class="text-center type_small">操作</th>#}
        </tr>
        {% for level in level_list %}
            <tr levelId="{{ level.id }}">
                <td field="name">{{level.name }}</td>
                {% for grade in level.grades %}
                    <td class="one" gradeId="{{ grade.id }}">
                        {% if not grade.price %}
                            -
                        {% else %}
                            <input class="price-in hide" type="text" dest="price">
                            <span class="price-show">{{grade.price|money_format:'/' }}</span>
                            <span class="unit-show">元/小时</span>
                            <div class="btns hide">
                                <a class="cancel hide">取消</a>&nbsp;&nbsp;<a class="save hide">确定</a>
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
                <td class="all">
                    <input class="price-in hide" type="text" dest="price">
                    <span class="price-show">
                        {% if level.min_price == level.max_price %}
                            {{level.min_price|money_format:'/' }}
                        {% else %}
                            {{level.min_price|money_format:'/' }} ~ {{level.max_price|money_format:'/' }}
                        {% endif %}
                    </span>
                    <span class="unit-show">元/小时</span>
                    <div class="btns hide">
                        <a class="cancel hide">取消</a>&nbsp;&nbsp;<a class="save hide">确定</a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="18">请选择地区</td></tr>
        {% endfor %}
    </table>
    <p class="small">
    双击修改, 取消按钮或ESC键取消。
    </p>
{% endblock %}
