{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}薪资设置{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'staff/less/level/levels.less'|compile %}">
{% endblock %}

{% block addition_js %}
    <script src="{% static 'staff/js/level/levels.js' %}"></script>
{% endblock %}

{% block content %}
    <form name="query_form" class="head-form form-inline">
        地区
        <select name="region">
            <option value="">请选择地区</option>
            {% for region in region_list %}
                <option value="{{ region.id }}" {% if region.id|stringformat:"i" == query_data.region %} selected="selected"{% endif %}>{{ region.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="查询"/>
    </form>

    <table class="table table-bordered table-striped">
        <tr>
            <th class="text-center type_auto">级别\年级</th>
            <th class="text-center type_small">佣金比例</th>
            <th class="text-center type_small">操作</th>
        </tr>
        {% for level in level_list %}
            <tr levelId="{{ level.id }}">
                <td>{{level.name }}</td>
                <td>{{level.commission_percentage }}%</td>
                <td><a>修改</a><a>确定</a></td>
            </tr>
        {% empty %}
            <tr><td colspan="3">请选择地区</td></tr>
        {% endfor %}
    </table>
{% endblock %}
