{% extends "teacher/teacher_base.html" %}
{% load staticfiles %}
{% block title %}
    注册进度查看
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/css/register_progress.css' %}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'teacher/js/custom/register_progress.js' %}"></script>
    <script src="{% static 'common/js/underscore.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% load teacher_page %}
            {% mala_page_header "个人中心" "张三 老师" %}

            <div class="page-left"></div>
            <div class="page-center">
                <p>亲爱的老师您好，感谢您注册麻辣老师。麻辣老师致力于为学生及家长提供便捷的服务，不断提升学员的学习效率并保障学习效果。因此我们对老师的筛选和考核相对严格，一旦您提交申请，我们的工作人员会对您的资料进行审核并在2个工作日内与您取得联系。感谢您的理解和支持！让我们一起做得更好！</p>
                <div>
                    <div>

                    </div>
                    <div>

                    </div>
                </div>
            </div>
            <div class="page-right"></div>
        </div>
    </div>
{% endblock %}
