{% extends "staff/staff_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}校区账户{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'staff/less/school_account/info.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'staff/js/school_account/info.js' %}"></script>
{% endblock %}

{% block content %}
    {% if is_school_master %}
        <div id="accountBalance">
            <h3>
                <a href="{% url 'staff:school_account_info' %}?show=true">账号设置</a>
            </h3>
        </div>
        <hr>
        <div id="recordsList">
            <h3 class="text-primary">收入记录</h3>
            <table class="table table-striped table-hover table-bordered">
                <tr class="text-primary">
                    <th class="text-center">课程时间</th>
                    <th class="text-center">校区</th>
                    <th class="text-center">课程名称</th>
                    <th class="text-center">主讲老师</th>
                    <th class="text-center">课前插班人数</th>
                    <th class="text-center">实时上课人数</th>
                    <th class="text-center">课后退费人数</th>
                    <th class="text-center">课程单价</th>
                    <th class="text-center">课程课时</th>
                    <th class="text-center">单堂课分成比</th>
                    <th class="text-center">总收益/元</th>
                    <th class="text-center">校区收益</th>
                    <th class="text-center">总部收益</th>
                    <th class="text-center">
                      状态
                      <span class="badge" data-toggle="tooltip"
                            title="已打款提交后，钱款收入会在1-7个工作日内打到您的银行卡账户，具体以银行到账为主，请您注意查收。">?</span>
                    </th>
                </tr>
                {% for hist in records %}
                    <tr class="item">
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center time">{{ hist.income_time_str }}</td>
                        <td class="text-center amount {% if hist.amount >= 0 %}income{% else %}outgoing{% endif %}">
                            {{ hist.amount|money_format:'/a' }}元
                        </td>
                        <td class="text-center amount {% if hist.amount >= 0 %}income{% else %}outgoing{% endif %}">
                            {{ hist.amount|money_format:'/a' }}元
                        </td>
                        <td class="text-center amount {% if hist.amount >= 0 %}income{% else %}outgoing{% endif %}">
                            {{ hist.amount|money_format:'/a' }}元
                        </td>
                        <td class="text-center status">
                            {% if hist.status == hist.APPROVED %}
                                已打款
                            {% else %}
                                待打款
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-center" colspan="14">没有记录</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="clearfix page-info">
                <div class="pull-left">每页显示{% if pager and pager.page_size %}{{ pager.page_size }}{% else %}10{% endif %}条, 共{% if pager %}{{ pager.total_count }}{% else %}{{ histories.count }}{% endif %}条</div>
                <div class="pull-right">
                    {% include 'pagination_nav.html' %}
                </div>
            </div>
        </div>
    {% else %}
        您不是校长, 没有信息可以显示
    {% endif %}
{% endblock %}
