/*
@menu-sidebar-width: 144px;
.staff-content {
  width: 100%;
  margin-bottom: 20px;
  .menu-sidebar {
    float: left;
    width: @menu-sidebar-width;
  }
  .main-content {
    margin-left: @menu-sidebar-width + 15px;
  }
}*/
