<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        老师详情
    </title>
    {% load staticfiles%}
    {% load compile_static %}
    {% load custom_tags %}
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="{% static 'wechat/less/teacher/teacher.less'|compile %}">
    <script type='text/javascript' src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
    <script>
        var wx_appid = '{{ WX_APPID }}';
        wx.config({
            debug: false, // 开启调试模式?
            appId: '{{ WX_APPID }}', // 必填，公众号的唯一标识
            timestamp: '{{ server_timestamp }}', // 必填，生成签名的时间戳
            nonceStr: '{{ WX_NONCE_STR }}', // 必填，生成签名的随机串
            signature: '{{ WX_SIGNATURE }}',// 必填，签名
            jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表
        });
        wx.error(function(res){
            alert(res);
        });
        wx.ready(function(res){
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function(res){
                    ajaxLoadSchool(res.latitude, res.longitude);
                },
                fail: function(res){
                    alert('地理位置错误：'+res);
                }
            });
        });
        var teacherid = "{{teacher.id}}";
        var userPhotos = [];
        var schoolPhotos = [];
        var checkPhoneURI = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'wechat:check_phone' %}';
        var pullDownImg = '{% static "common/icons/pull_down.png" %}';
        var pullUpImg = '{% static "common/icons/pull_up.png" %}';
        var moreImg = '{% static "common/icons/more.png" %}';
        {% if teacher.photo_set.all%}
            {% for photo in teacher.photo_set.all %}
                userPhotos[userPhotos.length] = "{{ photo.img_url|safe }}";
            {% endfor %}
        {%endif%}

        {%if schools%}
            {%for sc in schools%}
                {%if sc.img%}
                    schoolPhotos[schoolPhotos.length] = "{{sc.img|safe}}";
                {%else%}
                    schoolPhotos[schoolPhotos.length] = "";
                {%endif%}
            {%endfor%}
        {%endif%}
        function pageload(){
            {%if gender == '女'%}
            $('.teacher_gender').attr('src', '{% static "common/icons/fmale.png" %}');
            {%elif gender == '男'%}
            $('.teacher_gender').attr('src', '{% static "common/icons/male.png" %}');
            {%endif%}

            $('.teacher_avatar').css('backgroundImage', 'url({%if teacher.avatar.url%}{{teacher.avatar.url|safe}}{%endif%})');
            $('#teacherHeadBackImg').attr('src', '{% static "common/img/teacher_back.png" %}');
            $('#moreSchoolDown').attr('src', pullDownImg);
            $('#morePhotos').attr('src', moreImg);
            for(var i=0;i<userPhotos.length;i++){
              var nimg = $('<img name="teacherPhoto">');
              nimg.attr('src', userPhotos[i]);
              $('.teacher_images').append(nimg);
            }
            var schoolCont = $('.school_cont');
            for(var i=0;i<schoolCont.length;i++){
                $(schoolCont[i]).find('img').attr('src', schoolPhotos[i]);
            }
            var tPhotoHeight = ($('.teacher_images').width() - 10)/4;
            $('.teacher_images img').css('height', tPhotoHeight);
            ajaxLoadSchool(119, 36);
        }
    </script>
</head>
<body ontouchstart onload="pageload()">
<div class="container js_container">
<div class="page">
    <div class="bd" style="height: 100%;">
        <div class="weui_tab">
            <div class="weui_tab_bd">
                <div class="weui_panel weui_panel_access">
                    <div class="teacher_head_img">
                        <img id="teacherHeadBackImg"/>
                    </div>
                    <div class="teacher_name">
                        <div>{{teacher.name}} <img class="teacher_gender"></div>
                        <div>
                            <label class="teacher_subject">{{teacher.subject.name}}</label>
                            {% if teacher.min_price %}{{ teacher.min_price|money_format:'/' }}{% endif %}
                            -
                            {% if teacher.max_price %}{{ teacher.max_price|money_format:'/' }}{% endif %}元/小时
                        </div>
                    </div>
                    <div class="teacher_avatar_cont">
                        <div class="teacher_avatar"></div>
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        教授年级
                    </div>
                    <div>
                        {% for grade in grades_tree %}
                            <div class="item_distance">
                            {% for sub_grade in grade.children %}
                                {% if sub_grade.id in teacher_grade_ids %}<label>{{ sub_grade.name }}</label>{% endif %}
                            {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        风格标签
                    </div>
                    <div class="item_distance">
                        {%for tg in tags%}
                            <label>{{tg.name}}</label>
                        {%endfor%}
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        提分榜
                    </div>
                    <div class="highscore_tb">
                        <table class="teacher_highscore">
                            <tr>
                                <th>姓&nbsp;&nbsp;&nbsp;名</th>
                                <th>提分区间</th>
                                <th>所在学校</th>
                                <th>考入学校</th>
                            </tr>
                            {% for hs in teacher.highscore_set.all %}
                                <tr>
                                    <td>{{ hs.name }}</td>
                                    <td>{{ hs.increased_scores }}</td>
                                    <td>{{ hs.school_name }}</td>
                                    <td>{{ hs.admitted_to }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="weui_panel teacher_panel weui_cells_access" id="photoContent">
                    <div>
                        个人相册
                        <div class="weui_cell_ft">
                            <img id="morePhotos">
                        </div>
                    </div>
                    <div class="teacher_images">
                    </div>
                </div>
                <div class="weui_panel teacher_panel achievements_panel">
                    <div class="achievements_head">
                        特殊成就
                    </div>
                    <div class="item_distance_ach">
                        {%for am in achievements%}
                            <label class="teacher_achievement">{{am.title}}</label>
                        {%endfor%}
                    </div>
                </div>
                <div class="weui_panel teacher_panel school_panel">
                    <div>
                        教学环境
                    </div>
                    <div id="schoolsDiv">
                        {%if schools%}
                            {%for sc in schools%}
                                <div class="school_cont">
                                    <div>
                                        <img src="">
                                        <div>
                                            {{sc.name}}
                                            <div>
                                                <div class="school_dis">{%if sc.dis%}{{sc.dis|floatformat:"0"}}km{%endif%}</div>
                                                <div>{{sc.address}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%if forloop.counter == 1%}
                                <div class="more_schools" id="more_schools">
                                    其他社区中心 <img id="moreSchoolDown">
                                </div>
                                <div class="more_schools_collapse" id="more_schools_collapse">
                                    收起 <img id="moreSchoolUp">
                                </div>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        会员服务
                    </div>
                    <div class="item_distance">
                        {%for mb in memberService%}
                            <label class="member_service">{{mb.name}}</label>
                        {%endfor%}
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div class="sub_title_head">
                        <label>教龄</label><label>级别</label>
                    </div>
                    <div class="item_distance">
                        <label>{{teacher.teaching_age}}年</label> {%if teacher and teacher.level%}<label>{{teacher.level.name}}</label>{%endif%}
                    </div>
                </div>
            </div>
            <div class="submit_content">
                <div>
                    <div class="ext_weui_btn_submit">马上报名</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="slide" style="display: none;" class="swipe">
    <div class="swipe-wrap">
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script src="{% static 'wechat/js/teacher/teacher.js' %}"></script>
</body>
</html>
