<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        老师详情
    </title>
    {% load staticfiles%}
    {% load compile_static %}
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" type="text/css" href="{% static 'wechat/less/teacher/teacher.less'|compile %}">
    <script type='text/javascript' src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
    <script>
        wx.config({
            debug: true, // 开启调试模式?
            appId: '{{ WX_APPID }}', // 必填，公众号的唯一标识
            timestamp: '{{ server_timestamp }}', // 必填，生成签名的时间戳
            nonceStr: '{{ WX_NONCE_STR }}', // 必填，生成签名的随机串
            signature: '{{ WX_SIGNATURE }}',// 必填，签名
            jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表
        });
        wx.error(function(res){
            alert(res);
        });
        wx.ready(function(res){
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function(res){
                    alert('wx.getLocation success');
                    alert(res);
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度
                    ajaxLoadSchool(res.latitude, res.longitude);
                },
                fail: function(res){
                    alert('地理位置错误：');
                    alert(res);
                }
            });
        });
        var teacherid = "{{teacher.id}}";
        var userPhotos = [];
        var schoolPhotos = [];
        var pullDownImg = '{% static 'common/icons/pull_down.png' %}';
        var checkPhoneURI = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'wechat:check_phone' %}';
        {% if teacher.photo_set.all%}
            {% for photo in teacher.photo_set.all %}
                userPhotos[userPhotos.length] = "{{ photo.img_url|safe }}";
            {% endfor %}
        {%endif%}

        {%if schools%}
            {%for sc in schools%}
                {%if sc.img%}
                    schoolPhotos[schoolPhotos.length] = "{{sc.img|safe}}";
                {%else%}
                    schoolPhotos[schoolPhotos.length] = "";
                {%endif%}
            {%endfor%}
        {%endif%}
        function pageload(){
            $('.teacher_avatar').attr('src', '{%if teacher.avatar.url%}{{teacher.avatar.url|safe}}{%endif%}');
            for(var i=0;i<userPhotos.length;i++){
              var nimg = $('<img>');
              nimg.attr('src', userPhotos[i]);
              $('.teacher_images').append(nimg);
            }
            var schoolCont = $('.school_cont');
            for(var i=0;i<schoolCont.length;i++){
                $(schoolCont[i]).find('img').attr('src', schoolPhotos[i]);
            }
        }
    </script>
</head>
<body ontouchstart onload="pageload()">
<div class="container js_container">
<div class="page">
    <div class="bd" style="height: 100%;">
        <div class="weui_tab">
            <div class="weui_tab_bd">
                <div class="weui_panel weui_panel_access">
                    <div class="teacher_head_img">
                        <img src="" />
                    </div>
                    <div class="teacher_name">
                        <div>{{teacher.name}}</div>
                        <div>{%if not gender%}保密{%else%}{{gender}}{%endif%} 教龄{{teacher.teaching_age}}年</div>
                    </div>
                    <img class="teacher_avatar" src="">
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        教授年级
                    </div>
                    <div>
                        {% for grade in grades_tree %}
                            {% for sub_grade in grade.children %}
                                {% if sub_grade.id in teacher_grade_ids %}{{ sub_grade.name }}{% endif %}
                            {% endfor %}
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        风格标签
                    </div>
                    <div>
                        {%for tg in tags%}
                            {{tg.name}}
                        {%endfor%}
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        提分榜
                    </div>
                    <div>
                        <table class="teacher_highscore">
                            <tr>
                                <th>姓&nbsp;&nbsp;&nbsp;名</th>
                                <th>提分区间</th>
                                <th>所在学校</th>
                                <th>考入学校</th>
                            </tr>
                            {% for hs in teacher.highscore_set.all %}
                                <tr>
                                    <td>{{ hs.name }}</td>
                                    <td>{{ hs.increased_scores }}</td>
                                    <td>{{ hs.school_name }}</td>
                                    <td>{{ hs.admitted_to }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="weui_panel teacher_panel weui_cells_access" id="photoContent">
                    <div>
                        个人相册
                        <span class="weui_cell_ft"></span>
                    </div>
                    <div class="teacher_images">
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        特殊成就
                    </div>
                    <div>
                        {%for am in achievements%}
                            {{am.title}}
                        {%endfor%}
                    </div>
                </div>
                <div class="weui_panel teacher_panel school_panel">
                    <div>
                        教学环境
                    </div>
                    <div id="schoolsDiv">
                        {%if schools%}
                            {%for sc in schools%}
                                <div class="school_cont">
                                    <div>
                                        <img src="">
                                        <div>
                                            {{sc.name}}({{sc.address}})
                                            <div>
                                                <div class="school_dis">{%if sc.dis%}{{sc.dis|floatformat:"0"}}km{%endif%}</div>
                                                <div>{{sc.region}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%if forloop.counter == 1%}
                                <div class="more_schools" id="more_schools">
                                    其他社区中心 <img id="moreSchoolDown" src="">
                                </div>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        会员服务
                    </div>
                    <div>
                        {%for mb in memberService%}
                            {{mb.name}}
                        {%endfor%}
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div>
                        教龄  级别
                    </div>
                    <div>
                        {{teacher.teaching_age}}年 {%if teacher and teacher.level%}{{teacher.level.name}}{%endif%}
                    </div>
                </div>
            </div>
            <div class="weui_tabbar">
                <a href="javascript:;" class="weui_btn ext_weui_btn_primary">马上报名</a>
            </div>
        </div>
    </div>
</div>
</div>
<div id="slide" style="display: none;" class="swipe">
    <div class="swipe-wrap">
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script src="{% static 'wechat/js/teacher/teacher.js' %}"></script>
</body>
</html>
