<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        老师详情
    </title>
    {% load staticfiles%}
    {% load compile_static %}
    {% load custom_tags %}
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="{% static 'wechat/less/teacher/teacher.less'|compile %}?v=2.1.1">
    <script type='text/javascript' src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
    <script>
        var wx_appid = '{{ WX_APPID }}';
        wx.config({
            debug: false, // 开启调试模式?
            appId: '{{ WX_APPID }}', // 必填，公众号的唯一标识
            timestamp: '{{ server_timestamp }}', // 必填，生成签名的时间戳
            nonceStr: '{{ WX_NONCE_STR }}', // 必填，生成签名的随机串
            signature: '{{ WX_SIGNATURE }}',// 必填，签名
            jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表
        });
        wx.error(function(res){
{#            alert(res);#}
        });
        var teacherid = "{{teacher.id}}";
        wx.ready(function(res){
            wx.getLocation({
                type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                success: function(res){
                    ajaxLoadSchool(res.latitude, res.longitude, teacherid);
                },
                fail: function(res){
{#                    alert('地理位置错误：'+res);#}
                }
            });
        });
        var hasLogin = {% if hasLogin %}true{% else %}false{% endif %};
        var isTesting = {% if isTesting %}true{% else %}false{% endif %};
        var phonePage = '{% if isTesting %}{% url 'wechat:phone_page' %}{% endif %}';
        var userPhotos = [];
        var schoolPhotos = [];
        var checkPhoneURI = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{request.get_host}}{% url 'wechat:check_phone' %}';
        var pullDownImg = '{% static "common/icons/pull_down.png" %}';
        var pullUpImg = '{% static "common/icons/pull_up.png" %}';
        var moreImg = '{% static "common/icons/more.png" %}';
        var icHeartUrl = '{% static 'wechat/images/ic_heart.png' %}';
        var icHeartRedUrl = '{% static 'wechat/images/ic_heart_red.png' %}';
        {% if teacher.photo_set.all%}
            {% for photo in teacher.photo_set.all %}
                userPhotos[userPhotos.length] = "{{ photo.img_url|safe }}";
            {% endfor %}
        {%endif%}

        {%if schools%}
            {%for sc in schools%}
                schoolPhotos[schoolPhotos.length] = "{{sc.get_thumbnail|safe}}";
            {%endfor%}
        {%endif%}
        var drawTeachAgeLevel = function() {
            var val = document.getElementById("teachingAge").value;
            var percent = val / 20;
            _drawArc(percent, 'teachingAgeCanvas', "#fa7a7a");
            val = document.getElementById("level").value;
            percent = val / 10;
            _drawArc(percent, 'levelCanvas', "#fddc55");
        };
        var _drawArc = function(percent, canvasId, color) {
            var ctx = document.getElementById(canvasId).getContext("2d");
            ctx.lineWidth=3;
            ctx.strokeStyle='#eeeeee';
            ctx.beginPath();
            ctx.arc(22,22,20,-Math.PI/2,Math.PI*2-Math.PI/2,false);
            ctx.stroke();
            ctx.strokeStyle=color;
            ctx.beginPath();
            ctx.arc(22,22,20,-Math.PI/2,percent*Math.PI*2-Math.PI/2,false);
            ctx.stroke();
        };
        var cropCenterImg = function (img_ele) {
            var w = img_ele.width, h = img_ele.height;
            if (!img_ele.src || !w || !h || isNaN(w) || isNaN(h)) return;
            var $img = $(img_ele), $imgBox = $img.closest('div'), out_width = $imgBox.width(), out_height = $imgBox.height();
            if (h < out_height) {
                $img.css('height', out_height + 'px');
                var new_width = (w * out_height / h);
                $img.css('max-width', new_width + 'px');
                if (new_width > out_width) {
                    var left = (w - new_width) / 2;
                    $img.css('width', new_width + 'px');
                    $img.css('margin-left', left + 'px');
                }
            } else {
                var top = (out_height - h) / 2;
                $img.css('margin-top', top + 'px');
            }
        };
        var initIcons = function(){
            {%if gender == '女'%}
            $('.teacher_gender').attr('src', '{% static "common/icons/fmale.png" %}');
            {%elif gender == '男'%}
            $('.teacher_gender').attr('src', '{% static "common/icons/male.png" %}');
            {%endif%}
            $('#verifiedIcon').attr('src', '{% static 'wechat/images/ic_verified.png' %}');
            $('#teachingAgeIcon').attr('src', '{% static 'wechat/images/ic_clock.png' %}');
            $('#levelIcon').attr('src', '{% static 'wechat/images/ic_crown.png' %}');
            $('.elementary').attr('src', '{% static 'wechat/images/ic_pen.png' %}');
            $('.middle').attr('src', '{% static 'wechat/images/ic_book.png' %}');
            $('.high').attr('src', '{% static 'wechat/images/ic_hat.png' %}');
            $('.tags').attr('src', '{% static 'wechat/images/ic_tag.png' %}');
            $('.ic-achievement').attr('src', '{% static 'wechat/images/ic_pic.png' %}');
            $('#moreSchoolDown').attr('src', pullDownImg);
            $('#moreSchoolUp').attr('src', pullUpImg);
            $('#morePhotos').attr('src', moreImg);
            {% if isFavorite %}
                $('#icHeart').attr('src', icHeartRedUrl);
            {% else %}
                $('#icHeart').attr('src', icHeartUrl);
            {% endif %}
        };
        function pageload(){
            initIcons();

            $('.teacher_avatar').css('backgroundImage', 'url({%if teacher.avatar.url%}{{teacher.avatar.url|safe}}{%endif%})');
            $('#teacherHeadBackImg').attr('src', '{% static "common/img/teacher_back.png" %}');
            drawTeachAgeLevel();
            var $teacherImages = $('.teacher_images');
            for(var i=0;i<userPhotos.length;i++){
              var nimg = $('<div class="img_box"><img name="teacherPhoto"></div>');
              nimg.find('img').attr('src', userPhotos[i]);
              $teacherImages.append(nimg);
            }
            var $schools = $('.school_cont');
            for(var i=0;i<$schools.length;i++){
                $($schools[i]).find('.school_img_cont').css('backgroundImage', 'url('+schoolPhotos[i]+')');
            }
            var tPhotoWidth = ($teacherImages.width() - 10)/3, tPhotoHeight = ($teacherImages.width() - 10)/4;
            $teacherImages.css('max-height', tPhotoHeight+2);
            $teacherImages.find('.img_box').css('width', tPhotoWidth);
            $teacherImages.find('.img_box').css('height', tPhotoHeight);
            $teacherImages.find('img').bind('load', function (e) {
                cropCenterImg(this);
            });
            $teacherImages.find('img').each(function (e) {
                cropCenterImg(this);
            });
{#            ajaxLoadSchool(39.90809, 116.476021, teacherid); // only for test, to do remove#}
            if ($schools.length > 1) {
                $(".more_schools").click(function() {
                    $('.more_schools').css('display', 'none');
                    $('.school_cont').css('display', 'block');
                    $('.more_schools_collapse').css('display', 'block');
                });
                $(".more_schools_collapse").click(function() {
                    $('.more_schools').css('display', 'block');
                    $('.more_schools_collapse').css('display', 'none');
                    $('.more_school_cont').css('display', 'none');
                });
            }
        }
{#      $.ready(pageload())#}
        if (/complete|loaded|interactive/.test(document.readyState) && document.body) pageload()
        else document.addEventListener('DOMContentLoaded', function(){ pageload() }, false)
    </script>
</head>
<body ontouchstart>
<div class="container js_container">
<div class="page">
    <div class="bd" style="height: 100%;">
        <div class="weui_tab">
            <div class="weui_tab_bd">
                <div class="weui_panel weui_panel_access">
                    <div class="teacher_head_img">
                        <img id="teacherHeadBackImg"/>
                    </div>
                    <div class="teacher_name">
                        <div>{{teacher.name}} <img class="teacher_gender"></div>
                        <div>
                            <label class="teacher_subject">{{teacher.subject.name}}</label>
                            {% if teacher.min_price %}{{ teacher.min_price|money_format:'/a' }}{% endif %}
                            -
                            {% if teacher.max_price %}{{ teacher.max_price|money_format:'/a' }}{% endif %}元/小时
                        </div>
                    </div>
                    <div class="teacher_avatar_cont">
                        <div class="teacher_avatar"></div>
                        <img id="verifiedIcon">
                    </div>
                </div>
                <div class="weui_panel teacher_panel level_panel">
                    <div class="teaching_age">
                        <input id="teachingAge" type="hidden" value="{{teacher.teaching_age}}">
                        <div class="inner">
                            <canvas id="teachingAgeCanvas" width="44" height="44"></canvas>
                            <img id="teachingAgeIcon">
                            <div>教龄<br>{{teacher.teaching_age}}年</div>
                        </div>
                    </div>
                    <div class="level">
                        <input id="level" type="hidden" value="{%if teacher and teacher.level%}{{teacher.level.id}}{%endif%}">
                        <div class="inner">
                            <canvas id="levelCanvas" width="44" height="44"></canvas>
                            <img id="levelIcon">
                            <div>级别<br>{%if teacher and teacher.level%}<label>{{teacher.level.name}}</label>{%endif%}</div>
                        </div>
                    </div>
                </div>
                <div class="weui_panel teacher_panel grade_panel">
                    <div class="panel_title">
                        教授年级
                    </div>
                    <div>
                        {% for grade in grades_tree %}
                            <div class="icon_labels_row grade_row">
                                <div class="icon_box grade_icon {{ grade.key }}">
                                    <img class="elementary">
                                    <img class="middle">
                                    <img class="high">
                                </div>
                                <div class="labels_box grade_names {{ grade.key }}">
                                    {% for sub_grade in grade.children %}
                                        <label>{{ sub_grade.name }}</label>
                                        {% if forloop.counter == 3 %}
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div class="panel_title">
                        风格标签
                    </div>
                    <div class="item_distance">
                        <div class="icon_labels_row tag_row">
                            <div class="icon_box tags">
                                <img class="tags">
                            </div>
                            <div class="labels_box tags">
                                {%for tg in tags%}
                                    <label>{{tg.name}}</label>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui_panel teacher_panel">
                    <div class="panel_title">
                        提分榜
                    </div>
                    <div class="highscore_tb">
                        <table class="teacher_highscore">
                            <tr>
                                <th>姓&nbsp;&nbsp;&nbsp;名</th>
                                <th>提分区间</th>
                                <th>所在学校</th>
                                <th>考入学校</th>
                            </tr>
                            {% for hs in teacher.highscore_set.all %}
                                <tr>
                                    <td>{{ hs.name }}</td>
                                    <td>{{ hs.increased_scores }}</td>
                                    <td>{{ hs.school_name }}</td>
                                    <td>{{ hs.admitted_to }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="weui_panel teacher_panel weui_cells_access" id="photoContent">
                    <div class="panel_title">
                        个人相册
                        <div class="weui_cell_ft">
                            <img id="morePhotos">
                        </div>
                    </div>
                    <div class="teacher_images">
                    </div>
                </div>
                <div class="weui_panel teacher_panel achievements_panel" id="achievementsPanel">
                    <div class="achievements_head panel_title">
                        特殊成就
                    </div>
                    <div class="item_distance_ach">
                        {%for am in achievements%}
                            <label class="teacher_achievement" data-img="{{ am.img_url }}">
                                {{am.title}}<img class="ic-achievement">
                            </label>
                        {%endfor%}
                    </div>
                </div>
                <div class="weui_panel teacher_panel school_panel">
                    <div class="panel_title">
                        教学环境
                    </div>
                    <div id="schoolsDiv">
                        {%if schools%}
                            {%for sc in schools%}
                                <div class="school_cont {%if forloop.counter > 1%}more_school_cont{% endif %}">
                                    <div>
                                        <div class="school_img_cont"></div>
                                        <div>
                                            {{sc.name}}
                                            <div>
                                                <div class="school_dis"></div>
                                                <div>{{sc.address}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%if schools|length > 1 and forloop.counter == 1 %}
                                <div class="more_schools" id="more_schools">
                                    其他社区中心 <img id="moreSchoolDown">
                                </div>
                                {%endif%}
                            {%endfor%}
                            <div class="more_schools_collapse" id="more_schools_collapse">
                                收起 <img id="moreSchoolUp">
                            </div>
                        {%endif%}
                    </div>
                </div>
{#                <div class="weui_panel teacher_panel">#}
{#                    <div class="panel_title">#}
{#                        会员服务#}
{#                    </div>#}
{#                    <div class="item_distance">#}
{#                        {%for mb in memberService%}#}
{#                            <label class="member_service">{{mb.name}}</label>#}
{#                        {%endfor%}#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="submit_content">
                <div class="like">
                    <div class="ext_weui_btn_like"><img id="icHeart"><br>收藏</div>
                </div>
                <div class="go">
                    <div class="ext_weui_btn_submit">马上报名</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="slide" style="display: none;" class="swipe">
    <div class="swipe-wrap">
    </div>
</div>
<div id="toast" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script src="{% static 'common/js/django-ajax-amend.js' %}?v=2.0"></script>
<script src="{% static 'wechat/js/teacher/teacher.js' %}?v=2.2"></script>
</body>
</html>
