{% extends "wechat/wechat_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}名师课程{% endblock %}

{% block content %}

<div class="container-fluid">
<h1 class="text-center">名师课程</h1>
<div class="row">
    <div class="col-xs-12">
        <div class="thumbnail">
            <img src="" alt="">
            <div class="caption">
                <h3>张老师</h3>
                <p>张老师是以记名杀了副科级,士大夫结束啦开发,是打发了看电视就疯了.</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}



