{% extends "wechat/wechat_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}名师课程{% endblock %}

{% block content %}



<div class="container">
<h1 class="text-center">名师课程</h1>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <img src="" alt="">\
                    <span class="card-title"></span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



