{% extends "wechat/wechat_base.html" %}

{% load staticfiles %}
{% load compile_static %}
{% load custom_tags %}
{% block title %}名师课堂{% endblock %}

{% block addition_header %}
    <link rel="stylesheet" href="{% static 'wechat/css/teachers.less'|compile %}">
    <link rel="stylesheet" href="{% static 'wechat/css/semantic/divider.min.less'|compile %}">
{% endblock %}

{% block content %}
    <div class="page" id="teacherList">
        <div class="content">
            {% for teacher in teacher_list %}
                <a href="{% url 'wechat:teacher' %}?teacherid={{ teacher.id }}">
                    <div class="card facebook-card">
                    <span class="card-label">
                        {{ teacher.grades_shortname }}:{{ teacher.subject }}
                    </span>
{#                        <a href="{% url 'wechat:teacher' %}?teacherid={{ teacher.id }}" class="link">#}
                            <h3>{{ teacher.name }}</h3>
{#                        </a>#}
                        <div class="ui horizontal divider">{{ teacher.level }}</div>
                        <div class="card-content">
                            <div class="img-border-wrapper">
                                <div class="img-wrapper">
                                    <img class="card-image img-circle img-center" src="{{ teacher.user.profile.avatar_url }}" alt="">
                                </div>
                            </div>
                            {#                         <img class="card-images img-circle img-center" src="{{ teacher.user.profile.avatar }}" alt="">#}
                            <p class="price"><em>{% if teacher.min_price %}{{ teacher.min_price|money_format:'/' }}{% endif %} - {% if teacher.max_price %}{{ teacher.max_price|money_format:'/' }}{% endif %}</em> 元/小时</p>
                            <p class="color-gray teacher-tag">
                                {% for tag in teacher.tags.all %}
                                    <span>{{ tag.name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </a>
                {% empty %}
                <p>没有添加老师</p>
            {% endfor %}

        </div>
         <div class="app-redirect-box">
            <a href="#" class="left-desc">
                <img src="{% static 'wechat/images/download_icon.png' %}" alt="">
                <span>更多精彩课程尽在手机客户端</span>
            </a>
            <div class="right-buttons">
                <a href="#" class="button button-fill">立即下载</a>
            </div>
        </div>
    </div>
{% endblock %}



{% block addition_js %}

{% endblock %}