{% extends "staff/staff_base.html" %}

{% block title %}退费管理{% endblock %}

{% block content %}
    <form name="query_form">

        <input type="button" value="查询"/>

        <input type="button" value="导出"/>
    </form>

    <table align="center" border="1" cellspacing="0" width="100%">
        <tr>
            <th>操作</th>
        </tr>
        {% for backcost in backCosts %}
            <tr schoolId="{{ backcost }}">
                <td>TODO</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
