{% extends "teacher/teacher_frame.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}
    资质认证
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" href="{% static 'teacher/less/certificate/certificate.less'|compile %}?{% lorem 1 w random%}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'teacher/js/certificate/certificate.js' %}?{% lorem 1 w random%}"></script>
    <script>
        var certOverviewPageUrl = "{% url 'teacher:certificate' %}";
        var nextPage = "";
    </script>
{% endblock %}

{% block breadcrumbs %}
    <span class="title">个人设置</span>
    &gt;
    <a href="{% url 'teacher:certificate' %}"><span>资质认证</span></a>
    &gt;
    <span>其他资质认证</span>
{% endblock %}

{% block maincontent %}
    <div class="list-group" id="otherCertsList">
        {% for cert in otherCerts %}
            <div class="row list-group-item" certId="{{ cert.id }}">
                <div class="col-md-3">
                    <div class="cert-name">{{ cert.name }}</div>
                    <div class="cert-img-view"><img src="{{ cert.img_url }}"></div>
                </div>
                <div class="col-md-7"></div>
                <div class="col-md-2 col-btns">
                    <a class="btn btn-default" href="javascript:void(0)" data-action="edit-cert">编辑</a>
                    <a class="btn btn-default" href="javascript:void(0)" data-action="delete-cert">删除</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="certificate-box">
        <form class="form-horizontal" id="certEditForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="id" name="id">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">证书名称</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" name="name" value="" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">{# empty #}</div>
                <div class="col-sm-3">
                    <div class="img-upload-box">
                        <div class="img-box">
                            <img src="">
                        </div>
                        <div class="img-preview-box"><img src=""></div>
                        <div class="uploading-hint-box"></div>
                        <span class="file-input-mask text-center">
                            <span>上传图片</span>
                            <input title="请选择图片" type="file" name="certImg" multiple=""/>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"
                          title="<div class='text-left'>请上传您的证书照片</div>"></span>
                </div>
            </div>
            <div class="form-group {% if error_msg %}has-error{% endif %}">
                <div class="col-sm-2">{# empty #}</div>
                <div class="col-sm-10">
                    <span class="help-block">{{ error_msg }}</span>
                    <button type="button" class="btn btn-success" data-action="save">保存</button>
                    <button type="button" class="btn btn-default" data-action="cancel">取消</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
