{% extends "teacher/teacher_frame.html" %}

{% load staticfiles %}
{% load compile_static %}
{% block title %}
    资质认证
{% endblock %}
{% block addition_header %}
    <link rel="stylesheet" href="{% static 'teacher/less/certificate/certificate.less'|compile %}">
{% endblock %}
{% block addition_js %}
    <script src="{% static 'common/js/jquery.form.min.js' %}"></script>
    <script src="{% static 'teacher/js/certificate/certificate.js' %}"></script>
{% endblock %}


{% block breadcrumbs %}
    <span class="title">个人设置</span>
    &gt;
    <a href="{% url 'teacher:certificate' %}"><span>资质认证</span></a>
    &gt;
    <span>{{ cert_title }}</span>
{% endblock %}

{% block maincontent %}
    <div class="certificate-box">
        <form class="form-horizontal" id="certEditForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
         {% if cert.is_to_audit or cert.is_approved %}
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">{{ cert_name }}</label>
                <div class="col-sm-5">
                    <p class="form-control-static">{{ name_val }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">{# empty #}</div>
                <div class="col-sm-3">
                    <div class="img-upload-box">
                        <div class="img-box">
                            <img src={{ cert_img_url }}>
                        </div>
                    </div>
                </div>
            </div>
         {% else %}
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">{{ cert_name }}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" name="name" value="{{ name_val }}" placeholder="{{ name_val_hint }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">{# empty #}</div>
                <div class="col-sm-3">
                    <div class="img-upload-box">
                        <div class="img-box">
                            <img src={{ cert_img_url }}>
                        </div>
                        <div class="img-preview-box"><img src=""></div>
                        <div class="uploading-hint-box"></div>
                        <span class="file-input-mask text-center">
                            <span>上传图片</span>
                            <input title="请选择图片" type="file" name="certImg" multiple=""/>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"
                          title="<div class='text-left'>{{ hint_content }}</div>"></span>
                </div>
            </div>
            <div class="form-group {% if error_msg %}has-error{% endif %}">
                <div class="col-sm-2">{# empty #}</div>
                <div class="col-sm-10">
                    <span class="help-block">{{ error_msg }}</span>
                    <button type="button" class="btn btn-success" data-action="save">保存</button>
                    <button type="button" class="btn btn-default" data-action="cancel">取消</button>
                </div>
            </div>
         {% endif %}
        </form>
    </div>
{% endblock %}
